nav {
	position:fixed;
	background:none;
	z-index:1000;
	width:100%;
	font-size:18px;
	transition: all 0.5s;
}

.navScroll#container {
	height: 200px;
}
#container {
	justify-content: space-around;

	/* align-items: center; */
	align-items: flex-end;
	padding-bottom: 30px;

}

nav.navScroll {
	background:rgba(0,0,0,0.7);
	font-size:14px;
	transition: all 0.5s;
	color: #fff;
}

nav.navScroll a {

	color: #fff!important;
	/* text-shadow: 0.5px 0 0 rgba(255,255,255,0.5)!important; */
}

img.logo {

	/* margin-top: 20px; */
	transition: all 0.5s;

}

img.logoScroll {
	display:inline;
	width:50px;
	padding:5px;
	transition:all 0.5s;
	width: 100px;
	height: 15px;
}

div.menu {


}

div.menuScroll {
	float:right;
}

li.nav {
	display:inline;
	text-decoration:none;
	padding-left:15px;
}

	li.nav a {
		list-style-type: none;
		text-decoration:none;
		color:#fff;
		/* text-shadow:0.5px 0 0 rgba(255,255,255,0.5); */
	}

	li.nav a:hover {
		color: #F0C0A8!important;
	}

.navScroll a.selected {
	color: #F0C0A8!important;
}