.default-popup, .default-popup_news-was-offered {
  position: fixed;
  background: rgba(51, 51, 51, 0.6);
  top: 0px;
  left: -1px;
  z-index: 999999999;
  width: 101%;
  height: 100%;
  overflow-y: scroll;

  .default-popup__wrapper {
    .default-popup__content {
      margin-top: 60px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 525px;
      width: 958px;
      background: white;
      display: flex;
      justify-content: center;

      .default-popup__content_wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h3 {
          color: #333333;
          font-size: 40px;
          padding-bottom: 40px;
          padding-top: 183px;
        }
        & > p {
          font-weight: 500;
          font-size: 30px;
          color: #333333;
          padding-bottom: 92px;
          max-width: 760px;
          text-align: center;
        }
      }

      .close-default-popup-icon {
        background: none;
        position: absolute;
        z-index: 2;
        top: -55px;
        right: -70px;
        cursor: pointer;
      }
    }
  }
}

.default-popup-with-ta {
  .default-popup__wrapper {
    .default-popup__content {
      .default-popup__content_wrapper {
        h3 {
          color: #333333;
          font-size: 40px;
          padding-bottom: 40px;
          padding-top: 60px;
        }
        p {
          font-weight: 500;
          padding-bottom: 45px;
          max-width: 760px;
          font-size: 15px;
          line-height: 140%;
          color: #333333;
          text-align: left;
        }
        textarea {
          width: 760px;
          height: 147px;
          padding: 10px 0px 0px 10px;
          border: 1px solid #dfdfe6;
          font-size: 15px;
          line-height: 140%;
          color: #999999;
          font-family: "Roboto";
          margin-bottom: 40px;
        }
      }
    }
  }
}
