/* Contacts */
/* Widgets */
#vk_groups {
    margin-top: 20px;
}
.section-contacts {
    background: #e6e6e6;
    padding-top: 70px;
    position: relative;
}
.contacts-ad h2 {
    padding-bottom: 40px;
    text-align: center;
    color: #423d3d;
    font-size: 24px;
}
.contacts-inf h2 {
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: #423d3d;
}
.contacts-inf h3 {
    text-transform: none;
    font-weight: 400;
    padding-bottom: 15px;
    color: #423d3d;
}
.contacts-inf h4 {
    text-transform: none;
    font-weight: 400;
    color: #423d3d;
}
.contacts-ad__btn {
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.contact-btn {
    width: 290px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contacts-inf {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-left: 20px;
}
.contacts-inf__widgets {
    margin-right: 40px;
}
.contacts-inf__link {
    padding-bottom: 40px;
    width: 350px;
    margin-left: 40px;
}
.contacts-inf__img {
    width: 500px;
}
.inst-logo {
    width: 70px;
}
.vk-logo {
    width: 70px;
}
.contact-inf__border {
    border: 1px solid #ff0081;
    width: 70%;
    margin: auto;
}
.map {
  height: 500px;
  width: 100%; 
  margin-top: 50px;
}
/* map js */
.mapLogo {
    width: 30px;
    height: 30px;
}
.mapTitle {
    color: #000;  
}
.contact-card {
    justify-content: space-evenly;
    display: block;
    position: absolute;
    left: 60px;
    bottom: 45px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
}
.contact-cadr__img {
    height: 250px;
    width: 400px;
}
.contact-card__inf {
    padding: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.contact-card__title h3 {
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.contact-card__title h4 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 23px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-card__title h5 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-cadr__logo {
    height: 70px;
    width: 70px;
    padding-right: 20px;
}
.btn-way {
    position: absolute;  
    bottom: 45px;
    right: 200px;
    cursor: pointer;
}
.how-to-way  {
    padding: 10px;
}
.how-to-way h2 {
    padding-bottom: 20px;
    text-transform: none;
}

@media screen and (max-width: 992px) {
    /* contact */
    .contacts-ad h2 {
        font-size: 22px;
    }
    .contact-btn{
        width: 250px;
        font-size: 14px;
    }
    .btn-way {
        right: 100px;
    }
}

@media screen and (max-width: 767px) {
    .contacts-ad h2 {
        font-size: 20px;
    }
    .contact-btn{
        width: 200px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .contacts-inf {
        flex-direction: column-reverse;
        margin: 0;
    }
    .contacts-inf__link {
        margin: 0;
        text-align: center;
    }
    .contacts-inf__widgets {
        margin: 0;
    }
    .btn-way {
        right: 85px;
    } 
}

@media screen and (max-width: 576px) {
    /* contacts */
    .section-contacts {
        padding-top: 45px;
    }
    .contacts-ad h2 {
        font-size: 16px;
    }
    .contacts-ad__btn {
        justify-content: space-evenly;
    }
    .contact-btn {
        /* width: 120px; */
        font-size: 14px;
        /* padding: 10px; */
    }
    .contacts-inf__link {
        width: auto;
    }
    .contacts-inf {
        padding-bottom: 30px;
    }
    .contacts-inf h3 {
        font-size: 16px;
    }
    .contacts-inf {
    }
    .map {
        margin-top: 30px;
        height: 400px;
    }
    .btn-way {
        display: none;
    }
}