.header__search {
  height: 65px;
  display: flex;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease;

  .header__search_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    padding: 0px 100px;

    .icon-search {
      fill: $primary-color;
      transition: 0.3s ease;

      &:hover {
        fill: lime;
      }
    }
    .header__search_input {
      margin-left: 15px;
      flex-grow: 1;
      color: 333333;
      border: none;
    }

    .header__search_button {
      text-transform: uppercase;
      padding: 13px 40px;
      align-self: flex-end;
      flex-grow: 0;
      display: flex;

      background: linear-gradient(0deg, #293d66, #293d66), linear-gradient(0deg, #3d4c99, #3d4c99),
        linear-gradient(0deg, #2843cc, #2843cc), linear-gradient(0deg, #3377ff, #3377ff), #333333;
      border-radius: 500px;
      color: white;
    }
  }
}
