/* ScrollMenu */
.head-strip {
    background: rgba(0,0,0,0.1)
}
.logo {
    display: none;
}
.navScroll img.logo-first {
    display: none;
}
li.nav a {
    color: #000;
    font-weight: 600;
    transition: 0.3s ease;
}
li.nav a {
    color: #000;
    font-weight: 600;
}
.nav__prise {
    word-spacing: -2px;
}
.menu {
   padding-top: 40px;
}
.menu__direction {
    width: auto;
}

@media screen and (max-width: 767px) {
    .logo-first {
        width: 150px;
    }
    li.nav {
        padding-left: 20px;
    }
    .nav {
        align-items: flex-end;   
    }
    .menu__direction {
        width: 120px;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    #container {
        justify-content: space-evenly; 
        padding-bottom: 15px;
        align-items: center;
        align-items: center;
    }
    .nav__prise {
        word-spacing: 0px;
    }
    .menu__direction {
        width: auto;
    }
    .menu {
        padding-top: 20px;
    }
    .logo-first {
        width: 100px;
        padding-top: 15px;
    }
    li.nav {
        padding-bottom: 3px;
    }
    .nav {
        font-size: 12px;
    }
    nav.navScroll a {
        font-size: 10px;
    }
    img.logoScroll {
        width: 80px;
    }
}