.modal-question-result {
  position: fixed;
  background: rgba(51, 51, 51, 0.6);
  top: 0px;
  left: -1px;
  z-index: 999999999;
  width: 101%;
  height: 100%;
  overflow-y: scroll;

  .modal-question-result__wrapper {
    .modal-question-result__content {
      margin-top: 60px;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1200px;
      width: 958px;
      background: white;

      .modal-question-result__content_wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;

        .modal-question-result__header {
          position: relative;
          display: block;

          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);
            opacity: 0.8;
            transition: 0.3s ease-in;
            left: 0;
            top: 0;
          }

          & > img {
            position: relative;
            display: block;
          }
          .header__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 40px;
            line-height: 100%;
            max-width: 804px;
            width: 100%;
            text-align: center;
            z-index: 2;
          }
        }
        .modal-question-result__body {
          .body__tittle {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            font-size: 30px;
            line-height: 100%;
          }
          padding: 40px 100px 80px 100px;
          & > ul {
            & > li {
              display: flex;
              padding-bottom: 30px;
              align-items: center;
              font-size: 16px;

              & > input {
                margin-right: 20px;
                cursor: pointer;
              }
            }
          }
          .elipse-button {
            margin: 0 auto;
            align-self: center;
            display: flex;
          }

          .body__thanks {
            display: flex;
            justify-content: center;
            color: #293d66;
            font-size: 30px;
            line-height: 100%;
          }
        }
      }

      .close-modal-question-result {
        background: none;
        position: absolute;
        z-index: 2;
        top: -55px;
        right: -70px;
        cursor: pointer;
      }
    }
  }
}
