.news-content__list {
  border-top: 1px solid #dfdfe6;

  & > ul {
    width: 390px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      color: #999999;
    }
  }
}
