.show-more {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3d4c99;
  cursor: pointer;

  border-top: 1px solid  #ECECEF;
  // border-bottom: 1px solid  #ECECEF;
}
