.sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 836px;

  & > li {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    & > a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #3d4c99;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #ECECEF;
      padding: 8px 16px;
    }
  }

  .active {
    a {
      background: $primary-color;
      color: white;
    }
  }
}
