<section>
</section> 
//- Contacts -->
<section class="section-contacts" id="section-contacts">    
<div class="container">
    <div class="contacts-ad">
        <h2>
            | Запишись сейчас на первое занятие и получи скидку 40%
        </h2>
        <div class="contacts-ad__btn d-flex">
            <a href="https://mssg.me/sova_dance" class="bubbly-button main-btn contact-btn d-flex" >
                | Записаться на пробное занятие 
            </a>
            <a href="directions-page.html" class="bubbly-button main-btn contact-btn d-flex">
                | Расписание занятий
            </a>
        </div>
    </div>
    <div class="contacts-inf d-flex">
        <div class="contacts-inf__widgets">
            //- Inst Widget -->
            //- <div data-mc-src="7ad15dec-b2c6-45d2-b6ee-f1011fac71bd#instagram"></div>
            //- <script src="https://cdn2.woxo.tech/a.js#6115254a17f2780015cfc185" async data-usrc></script>                    
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-9843e006-d18d-43d5-872a-172f3a4e6239" data-elfsight-app-lazy></div>
            //- Vk Widget -->
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
            <div id="vk_groups"></div>
            <script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 3, width: "330"}, 109932785);</script>
        </div>
        //- VK Widget message  -->
        <div id="vk_community_messages"></div>
        <script type="text/javascript">VK.Widgets.CommunityMessages("vk_community_messages", 109932785, {disableButtonTooltip: "1"});</script>
        <div class="contacts-inf__link">
            <a href="https://www.instagram.com/sovadance/">
                <img src="assets/img/footer/iconinst.png" alt="инстаграмм sovadance" title="Sova-Dance в инстаграм" class="inst-logo">
            </a>
            <a href="https://vk.com/owl_dance">
                <img src="assets/img/footer/iconvk.png" alt="вконтакте sovadance" title="Sova-Dance вконтакте" class="vk-logo">
            </a>
            <h2>
                <a href='tel:+79269359556'>Телефон: +7(926) 935-95-56 (WhatsApp; Viber)</a>
            </h2>
            <h3>
                | Москва, ул. Героев Панфиловцев, 16к1
            </h3>
            <h4>
                | Эл.почта: <a href='mailto:sova.dance@yandex.ru'>sova.dance@yandex.ru</a>
            </h4>
        </div>
    </div>
    <div class="contact-inf__border"></div>
</div>
//- map -->
<div id="map" class="map">
</div>
<div class="contact-card">
    <img src="assets/img/footer/img_2.jpg" alt="sovadance контакты" title="контакты Sova-Dance" class="contact-cadr__img">
    <div class="contact-card__inf d-flex">
        <div class="contact-card__title">
            <h3>
                | <a href='tel:+79269359556'>+7(926)935-95-56</a>
            </h3>
            <h4>
                | Sova-dance</br>
            </h4>
            <h5>
                | м.Сходненская</br>
                | Героев Панфиловцев 16к1
            </h5>
        </div>
        <div class="contact-card__logo">
            <img src="assets/img/footer/iconSova.png" alt="sovadance контакты" title="контакты Sova-Dance" class="contact-cadr__logo">
        </div>
    </div>
</div>
//- <a class="bubbly-button main-btn btn-way">
//-     | Как пройти
//- </a>
</section>
//- popUp_html way -->
//- <div style="display: none;">
//-     <div class="box-modal-way" id="exampleModal-way">
//-         <div class="box-modal_close arcticmodal-close">закрыть</div>
//-             <div class="how-to-way">
//-                 <h2>
//-                     | Как нас найти?
//-                 </h2>
//-                 <p>
//-                     | Студия находится на первом этаже жилого дома по адресу: </br>
//-                     | ул. Фабрициуса 22. 
//-                     | К нам легко можно добраться пешком от Метро Сходненская или на транспорте от Метро Планерная и Тушинская. </br></br> 


//-                     | Территория здания ограждена забором. Калитка для прохода во двор находится со стороны Колледжа Полиции. 
//-                     | Охране необходимо сказать, что вы идёте в школу танцев. </br></br> 

//-                     | Нужно обойти дом сзади (с обратной стороны от жилых подъездов). Справа - школа английского, слева - тренажёрный зал, а наш вход посередине.
//-                     | Поднимайтесь по лестнице наверх, позвоните в звонок и Вам откроют.
//-                 </p>
//-             </div>
//-         </div>    
//-     </div>
//- </div>
//- map -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>

