<footer>
  <div class="footer-wrapper">
    <div class="footer-wrapper__top">
      <div class="footer-wrapper__top-logo"><a href="#"><img src="assets/img/logo-chukotka.svg" alt="лого"></a></div>
      <div class="footer-wrapper__top-social">
        <a href="#" style="background-image: url(assets/img/fb.svg); background-repeat: no-repeat;background-position: center;"></a>
        <a href="#" style="background-image: url(assets/img/vk.svg); background-repeat: no-repeat;background-position: center;"></a>
        <a href="#" style="background-image: url(assets/img/ok.svg); background-repeat: no-repeat;background-position: center;"></a>
        <a href="#" style="background-image: url(assets/img/inst.svg); background-repeat: no-repeat;background-position: center;"></a>
        <a href="#" style="background-image: url(assets/img/youtube.svg); background-repeat: no-repeat;background-position: center;"></a>
        <a href="#" style="background-image: url(assets/img/rss.svg); background-repeat: no-repeat;background-position: center;"></a>
      </div>
      <a href="#" class="footer-news-link">⚡️ Предложить новость</a>
    </div>
    <nav class="footer-wrapper__middle">
      <ul class="footer-wrapper__middle-list">
        <li><a href="#">Редакция</a></li>
        <li><a href="#">Реклама</a></li>
        <li><a href="#">Туристам</a></li>
        <li><a href="#">Полезные ссылки</a></li>
        <li><a href="#">Правовая информация</a></li>
        <li><a href="#">Политика обработки персональных данных</a></li>
      </ul>
    </nav>
    <div class="footer-wrapper__bottom">
      <button class="footer-wrapper__bottom-first open-default-popup">
        svg(width="30" height="30")
          use(xlink:href="assets/img/warning.svg#warning")
        <p>Нашли ошибку? <br> Выделите ее и нажмите Ctrl+Enter</p>
      </button>
      <p>Свидетельство о регистрации СМИ ЭЛ № ФС 77 - 69723 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций 5 мая 2017 г.
      </p>
      <div class="footer-wrapper__bottom-second">
        svg(width="24" height="31")
          use(xlink:href="assets/img/nologostudio.svg#nologostudio")
        
        <a href="#"> Разработка сайта: nologostudio.ru </a>
      </div>

      
    </div>
  </div>
</footer>