//- ScrollMenu
<nav class="head-strip">
    <div class="container  d-flex" id="container">
        <div>
            <a href="../index.html">
                <img src="assets/img/header/iconSovaNew.png" alt="логотип школы танцев sovadance" class="logo-first">
            </a>
            <a href="../index.html">
            <img src="assets/img/header/iconSovaNew-white.png" alt="логотип школы танцев sovadance" class="logo">
            </a>
        </div>
        <div class="menu">
            <ul class="nav d-flex">
                <li class="nav menu__aboutus"><a href="../index.html#section-aboutUs">О нас</a></li>
                <li class="nav menu__gallery"><a href="../index.html#section-gllery">Галерея</a></li>
                <li class="nav menu__trainers"><a href="../index.html#section-ourTrainers">Преподаватели</a></li>
                <li class="nav menu__direction"><a href="../napravleniya/index.html"><span class="nav__prise">Направления и расписание</span></a></li>
                <li class="nav"><a href="../uslugi-iceny/index.html"><span class="nav__prise">Цены</span></a></li>
                <li class="nav"><a href="#section-contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
