//- ScrollMenu
<nav class="head-strip">
    <div class="container  d-flex" id="container">
        <div>
            <a aria-label="link-to-main-page" href="../main-page.html">
                <img src="assets/img/header/iconSovaNew.png" alt="логотип школы танцев sovadance" class="logo-first">
            </a>
            <a aria-label="link-to-main-page" href="../main-page.html">
                <img src="assets/img/header/iconSovaNew-white.png" alt="логотип школы танцев sovadance" class="logo">
            </a>
        </div>
        <div class="menu">
            <ul class="nav d-flex">
                <li class="nav menu__aboutus"><a href="main-page.html#section-aboutUs">О нас</a></li>
                <li class="nav menu__gallery"><a href="main-page.html#section-gllery">Галерея</a></li>
                <li class="nav menu__trainers"><a href="main-page.html#section-ourTrainers">Преподаватели</a></li>
                <li class="nav menu__direction"><a href="directions-page.html"><span class="nav__prise">Направления и расписание</span></a></li>
                <li class="nav"><a href="service-page.html"><span class="nav__prise">Цены</span></a></li>
                <li class="nav"><a href="#section-contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
