.modal-question-result.hidden
  .modal-question-result__wrapper 
    .modal-question-result__content 
      
      button.close-modal-question-result.close-modal
        svg(width="32" height="32")
          use(xlink:href="assets/img/icon-close.svg#icon-close")
      
      .modal-question-result__content_wrapper
        .modal-question-result__header
          img(src="assets/img/modal-background.png", alt="modal-background")
          h2.header__title Каким устройством вы чаще всего пользуетесь для просмотра новостей на сайте?
        .modal-question-result__body
          h3.body__tittle Результаты опроса
          ul 
            li #[+resultBar('Белый медведь', '42%', '42%', '47 ГОЛОСОВ')] 
            li #[+resultBar('Морж', '24%', '28 ГОЛОСОВ')]
            li #[+resultBar('Северный олень', '18%', '22 ГОЛОСОВ')]
            li #[+resultBar('Кит', '18%', '22 ГОЛОСОВ')]
            li #[+resultBar('Бурый медведь', '2%', '3 ГОЛОСОВ')]
              

          p.body__thanks Спасибо за участие!
