.default-popup_news-was-offered.hidden
  .default-popup__wrapper
    .default-popup__content 
      
      button.close-default-popup_news-was-offered.close-default-popup-icon
        svg(width="32" height="32")
          use(xlink:href="assets/img/icon-close.svg#icon-close")
      
      .default-popup__content_wrapper
        h3 Спасибо!
        P Новость была успешно отправлена на рассмотрение редакции

        +elipseButton('Продолжить чтение')(class="close-default-popup_news-was-offered")

