<div style="display: none;">
<div class="btn-Weekdays" id="exampleModal-weekdays">
    div(class="box-modal_close arcticmodal-close") закрыть
    <div class="Weekdays-tab">
    <img src="assets/img/schedule/weekdays-tab.png" alt="" title="" class=""> 
    </div>
</div>
</div>
//- 
    <div style="display: none;">
    <div class="btn-weekends" id="exampleModal-weekends">
    div(class="box-modal_close arcticmodal-close") закрыть
    <div class="weekends-tab">
    <img src="../direction-img/weekends-tab.jpg" alt="" title="" class=""> 
    </div>
    </div>
    </div>