//- popUp_html group -->
<div style="display: none;">
  <div class="box-modal-tab" id="exampleModal-group">
    .box-modal_close.arcticmodal-close закрыть
    <img class="img--group" src="assets/img/service-page/abonem.png" alt="групповые занятия в sovadance" class="">
  </div>
</div>
//- popUp_html questions -->
<div style="display: none;">
  <div class="box-modal-tab" id="exampleModal-solo">
    .box-modal_close.arcticmodal-close закрыть
    <img class="img--group" src="assets/img/service-page/Individualnye-zanyatiya.jpg" alt="индивидуальные занятия в sovadance" class="">
  </div>
</div>
