extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "404-page";


block content
      <main>
        <div class="mistake-container">
          <h1>404</h1>
          <div class="mistake-container__text">
            <span>Страница не найдена</span>
            <p>Возможно вы перешли по неправильной ссылке, или такой страницы больше нет.</p>

            <p>Попробуйте начать с <a href="#">главной</a> или воспользуйтесь поиском.</p>
            <form action="/">
              <input type="text" class="search-mistake" placeholder="Поиск по сайту">
              svg(width="24" height="31").search-icon
                use(xlink:href="assets/img/search.svg#search")
            </form>
          </div>
        </div>
      </main>

