extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "articles-page";


block content
      <main class="articles-main">
        <div class="articles-wrapper">
          <h1>Статьи</h1>
          <div class="articles-main__container">
            <div class="articles-container__first">
              <div class="articles-container__first-list">
               <div class="articles-container__big big-item">
                <div class="articles-container__big-text">
                  <span>30.04.2020</span>
                  <a>«Земли моей начало»: хранитель уходящей эпохи эскимосов Наукана</a>
                  <p>Ветеран МВД Виктор Никифоров снял фильм о жителях заброшенного села на окраине Чукотки. На создание ленты у него ушло 10 лет</p>
                </div>
                <div class="articles-container__big-img big-item-img">
                  <img src="assets/img/1313.jpg" alt="картинка">
                </div>
              </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/mamont.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Карликовые мамонты с острова Врангеля: что сохранилось в архиве и геноме</a>
                    <p>Геном этих мамонтов расшифрован, но тайна их гибели так и не раскрыта</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/3333.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">«Вагыргын»: побег с «материка»</a>
                    <p>Начинающий документалист Катерина Карамазова рассказала о своем возвращении на Север через 18 лет после переезда на «материк» и съемках дипломного фильма</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/4444.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Неизвестный из Уэлена</a>
                    <p>Василий Авченко вспоминает о самом известном писателе Чукотки – Юрии Рытхэу</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/5555.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Как чукча немца учил: зачем ученый из Германии объехал русскую Арктику</a>
                    <p>Геном этих мамонтов расшифрован, но тайна их гибели так и не раскрыта</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/7777.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Карликовые мамонты с острова Врангеля: что сохранилось в архиве и геноме</a>
                    <p>Немецкий ученый, журналист, фотограф и альпинист Штеффен Граупнер в Арктике проводит половину года</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/1010.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Эскимосы: дружба через океан</a>
                    <p>Дмитрий Опарин о том, чем отличаются представители одного народа на Чукотке и Аляске</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/131313.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Моржи, вдохновение и опыт: профессиональные предпочтения современных чукчей</a>
                    <p>Жители поселений на востоке России редко ходят на р...</p>
                  </div>
                </div>
                <div class="articles-container__small-item">
                  <a href="#"><img src="assets/img/181818.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Жизнь русских матрешек в условиях Крайнего Севера</a>
                    <p>Художник из Анадыря мастерит кукол в традиционных чукотских образах</p>
                  </div>
                </div>
                <div class="articles-container__small-item articles-container__small-item-more">
                  <a href="#"><img src="assets/img/181818.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Жизнь русских матрешек в условиях Крайнего Севера</a>
                    <p>Художник из Анадыря мастерит кукол в традиционных чукотских образах</p>
                  </div>
                </div>
                <div class="articles-container__small-item articles-container__small-item-more">
                  <a href="#"><img src="assets/img/181818.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Жизнь русских матрешек в условиях Крайнего Севера</a>
                    <p>Художник из Анадыря мастерит кукол в традиционных чукотских образах</p>
                  </div>
                </div>
                <div class="articles-container__small-item articles-container__small-item-more">
                  <a href="#"><img src="assets/img/181818.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Жизнь русских матрешек в условиях Крайнего Севера</a>
                    <p>Художник из Анадыря мастерит кукол в традиционных чукотских образах</p>
                  </div>
                </div>
                <div class="articles-container__small-item articles-container__small-item-more">
                  <a href="#"><img src="assets/img/181818.jpg" alt="картинка"></a>
                  <div class="articles-container__small-item-text">
                    <span>30.04.2020</span>
                    <a href="#">Жизнь русских матрешек в условиях Крайнего Севера</a>
                    <p>Художник из Анадыря мастерит кукол в традиционных чукотских образах</p>
                  </div>
                </div>
                <a href="#" class="news-content__link">Показать еще</a>
                <div class="news-content__list">
                <ul>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                    </svg></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">..</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 7L1 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                  </svg></a></li>
                </ul>
              </div>
              </div>
            </div>
            <div class="articles-container__second">
             <a href="#" style="background-image: url(assets/img/pr-1.jpg);width: 260px; height: 520px; margin-top: 20px;margin-bottom: 20px;"></a>
             <a href="#" style="background-image: url(assets/img/pr-1.jpg);width: 260px; height: 520px; margin-top: 20px;margin-bottom: 20px;"></a>
             <a href="#" style="background-image: url(assets/img/pr-1.jpg);width: 260px; height: 520px; margin-top: 20px;margin-bottom: 20px;"></a>
             <a href="#" style="background-image: url(assets/img/pr-1.jpg);width: 260px; height: 520px; margin-top: 20px;margin-bottom: 20px;"></a>
            </div>
          </div>
        </div>
        
      </main>

