extends ../layout/main

block variables
  - var title = 'Baby Dance - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Хореография для детей от 3х лет в Тушино. Танцы для малышей около метро Сходненская положительно влияют на раннее физическое развитие.';
  - var pageClass = 'baby-dance';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="directions-page.html">
                    <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | BABY DANCE
                </h1>
                <h2>
                    | Хореография для детей 3 - 5 лет
                </h2>
                <p>
                    | Уроки танцев для малышей в Тушино подходят как для девочек, так и для мальчиков. Процесс обучения строится по принципу подражания. Преподаватель показывает различные движения, а дети за ним повторяют. Это наиболее комфортный и эффективный метод для малышей.</br></br>

                    | Тренировки проводит опытный педагог, который учитывает не только возраст и физическую подготовку юного танцора, но и особенности его характера, что позволяет подобрать индивидуальный подход к каждому ребенку.</br></br>
                    | Занятия проходят в игровой форме, поэтому детям не становится скучно, а наоборот – они испытывают интерес и с удовольствием приходят к нам на танцы.</br></br></br>
                    
                    | Структура занятий группы общей хореографии для детей:</br></br> 
                </p>

                <ul>
                    <li>Разминка (тренируем координацию и пластику)</li>
                    <li>Гимнастика на ковриках (укрепляем мышцы)</li>
                    <li>Растяжка (развиваем гибкость)</li>
                    <li>Подвижные игры (улучшаем пространственную ориентацию)</li>
                    <li>Изучение танца (учим связки в стиле детских современных, эстрадных направлений)</li></br></br>
                </ul>
                <p>        
                    | Занятие длится 55 – 60 минут. Открыт дополнительный набор детей в танцевальный кружок СЗАО. Основная задача школы танцев в Тушино Sova Dance – обеспечить вашего ребенка необходимыми условиями для раннего физического развития.</br></br>
                </p>

                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/baby-dance.webp" alt="танцы балет для детей в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | 3 - 5 лет</br></br>
                            <!-- <span class="red">Набор закрыт</br>  -->
                                <!-- Расписание </br> -->
                                <!-- уточняется </br></br> -->
                            <!-- Старт 1го сентября</span></br></br> -->
                            | Среда 19:00-20:00 </br>
                            | Суббота 12:00-13:00 </br></br>

                            | Тянущаяся одежда (лосины/спортивные штаны </br>
                            |  и футболка или гимнастический купальник)</br>
                            |  и удобная обувь (балетки/кроссовки).</br></br>

                            

                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2700р.</br>
                            | 8 занятий - 4300р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
