extends ../layout/main

block variables
  - var title = 'Baby Dance - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Хореография для детей от 3х лет в Тушино. Танцы для малышей около метро Сходненская положительно влияют на раннее физическое развитие.';
  - var pageClass = 'baby-dance';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1 class="direction-page__title">
          | BABY DANCE
        </h1>
        <h2>
          | Хореография для детей 3 - 5 лет
        </h2>
        <p>
          | Уроки танцев для малышей в Тушино подходят как для девочек, так и для мальчиков. Процесс обучения строится по принципу подражания. Преподаватель показывает различные движения, а дети за ним повторяют. Это наиболее комфортный и эффективный метод для малышей.</br></br>

          | Тренировки проводит опытный педагог, который учитывает не только возраст и физическую подготовку юного танцора, но и особенности его характера, что позволяет подобрать индивидуальный подход к каждому ребенку.</br></br>
          | Занятия проходят в игровой форме, поэтому детям не становится скучно, а наоборот – они испытывают интерес и с удовольствием приходят к нам на танцы. Приходите к нам на танцы для детей у метро Планерная.</br></br></br>

          | Структура занятий группы общей хореографии для детей:</br></br>
        </p>

        <ul>
          li Разминка (тренируем координацию и пластику)
          li Гимнастика на ковриках (укрепляем мышцы)
          li Растяжка (развиваем гибкость)
          li Подвижные игры (улучшаем пространственную ориентацию)
          li Изучение танца (учим связки в стиле детских современных, эстрадных направлений)</li></br>
        </ul>
        <p>        
          | Занятие длится 55 – 60 минут. Открыт дополнительный набор детей в танцевальный кружок СЗАО. Основная задача школы танцев в Тушино Sova Dance – обеспечить вашего ребенка необходимыми условиями для раннего физического развития.</br></br>
        </p>

        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/baby-dance.webp" alt="танцы балет для детей в Тушино sovadance" class="direction-page__img">
          //- <div class="direction-page__content-title d-flex">
          //-   <h3>
          //-     u Преподаватель:</u></br></br>
          //-     <u>Возраст:</u> </br></br>
          //-     u Расписание:</u> </br></br>
          //-     u Форма одежды:</u> </br></br></br></br>
          //-     u Цены:
          //-   </h3>
          //-   <p>
          //-     | Мария</br></br>
          //-     | 3 - 5 лет</br></br>
          //-     | Вт, Пт 18:00-19:00 </br></br>

          //-     | Тянущаяся одежда (лосины/спортивные штаны </br>
          //-     |
          //-     | и футболка или гимнастический купальник)</br>
          //-     |
          //-     | и удобная обувь (балетки/кроссовки).</br></br>

          //-     | 4 занятия - 3000р.</br>
          //-     | 8 занятий - 4800р.
          //-   </p>
          //- </div>
          <ul class="direction-page__content-title">
          <li class='infoItem'>
            p Преподаватель:
            p Татьяна
          </li> 
          <li class='infoItem'>
            p Возраст:
            p 3 - 5 лет
          </li> 
          <li class='infoItem'>
            p Расписание:
            <p>Вт, Пт 18:00-19:00</br>
            </p>
          </li> 
          <li class='infoItem'>
            p Форма одежды:
            <p>Тянущаяся одежда (лосины/спортивные штаны </br> и футболка или гимнастический купальник)</br> и удобная обувь (балетки/кроссовки).</br></br>
            </p>
          </li> 
          <li class='infoItem'>
            p Цены:
            <p> 4 занятия - 3000р.</br> 8 занятий - 4800р.
            </p>
          </li> 
          </ul>
        </div>
      </div>
    </div>
  </header>
