extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'baby-dance';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="../napravleniya/index.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальныйх направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | BABY DANCE в Тушино 
                </h1>
                <h2>
                    | для детей 3-5 лет
                </h2>
                <p>
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Группа для детей от 3х лет до 5и лет, подходит как для девочек, так и для мальчиков.</br></br>

                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Занятие представляет собой комплекс танцевально-двигательных упражнений с элементами</br>
                    | классической хореографии, ритмики, изучения эстрадных танцев и различного вида играми.</br></br></br>
                    
                    | Программа нацелена на:</br></br> 
                </p>
                <ul>
                    <li>Развитие чувства ритма и координации движений</li>
                    <li>Выработке правильной осанки</li>
                    <li>Развития гибкости</li>
                    <li>Улучшению пластики</li>
                    <li>Формирования крепкого и здорового тела</li></br></br>
                </ul>
                <p>        
                    | Структура занятия:</br></br>
                </p>
                <ul>
                    <li>Разминка (развивает крупную моторику, координацию движения и чувство ритма)</li>
                    <li>Растяжка (развивает гибкость, укрепляет мышцы и связки)</li>
                    <li>Подвижные игры (развивают внимание, память и пространственную ориентацию)</li>
                    <li>Работа с балетным станком (изучение основ классической хореографии)</li>
                    <li>Разучивание танца (детские, современные эстрадные танцы) </li>
                </ul>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/baby-dance.jpg" alt="танцы балет для детей в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | 3 - 5 лет</br></br>
                            <!-- <span class="red">Набор закрыт</br>  -->
                                <!-- Расписание </br> -->
                                <!-- уточняется </br></br> -->
                            <!-- Старт 1го сентября</span></br></br> -->
                            | Среда 19:00-20:00 </br>
                            | Суббота 12:00-13:00 </br></br>

                            | Тянущаяся одежда,</br>
                            | лосины, балетки/кроссовки </br></br>

                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
