extends ../layout/main

block variables
  - var title = 'Body Shape - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Зажигательная зумба в Тушино и силовые тренировки для женщин. Танцы для похудения около метро Сходненская и Планерная в студии Sova Dance.';
  - var pageClass = 'body-shape-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | BODY SHAPE
        </h1>
        <h2>
          | Аэробика и силовые упражнения в Тушино</br>
        </h2>
        <p>
          | <span class="strong">Body-shape</span> – это авторская комплексная программа для женщин, которая нацелена на избавления от лишних килограммов, подкачку мышц и растяжку. </br></br>

          | Структура занятия состоит из нескольких блоков:</br></br>
        </p>
        <ul>
          li Ритмичная танцевальная аэробика в стиле «Zumba»  (легкая, но очень эффективная аэробная нагрузка)
          li Силовая часть (упражнения, направленные на укрепление мышц всего тела)
          li Растяжка (снятие напряжения и развитие гибкости)</li> </br>
        </ul>

        p 
          | Во время занятий формируется мышечный корсет, улучшается эластичность связок, повышается общая выносливость тела, формируется правильная осанка и, конечно, происходит снижение массы тела. </br></br>

          | Группа фитнес аэробики не далеко от метро Сходненская – это прекрасный способ быть в хорошей спортивной форме, иметь подтянутое стройное тело и излучать уверенность в себе! Это ключ к активности и хорошему настроению вне зависимости от возраста и уровня подготовки.
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/body-shape.jpg" alt="зумба в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель:</u> </br>
              u Возраст:</u> </br>
              u Расписание:</u> </br></br>
              u Форма одежды:</u> </br></br>
              u Цены:
            </h3>
            <p>
              | Маргарита</br></br>
              | От 17 лет</br></br>
              | Пт 20:00 – 21:00</br></br></br>
              | Тянущаяся одежда,</br>
              | лосины, кеды.</br></br>

              | 1 занятие - 800р.</br>
              | 4 занятия - 2400р.</br>
              | 8 занятий - 4000р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
