extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="../napravleniya/index.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальныйх направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | BODY SHAPE
                </h1>
                <h2>
                    | Body-shape в Тушино</br>
                </h2>
                <p>
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="strong">Body-shape</span> – Это комплекс силовых упражнений,
                    | нацеленный на укрепление мышц всего тела. Структура занятия: 15 мин. - аэробная, танцевальная
                    | разминка, 45 мин. - силовая часть. </br></br>


                    | Во время занятий:</br></br>
                </p>
                <ul>
                    <li>Формируется мышечный корсет.</li>
                    <li>Улучшается эластичность мышц и связок.</li>
                    <li>Повышается общая выносливость тела.</li>
                    <li>Улучшается подвижность суставов.</li>
                    <li>Формируется правильная осанка.</li>
                </ul>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/body-shape.jpg" alt="зумба в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br>
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | От 17 лет</br></br>
                            | Расписание уточняется</br></br></br>
                            | Тянущаяся одежда,</br>
                            | лосины, кеды.</br></br>

                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>