extends ../layout/main

block variables
  - var title = 'Latina Solo - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Латиноамериканские танцы для взрослых на Сходненской – это сольная клубная латина для женщин. Школа танцев Sova Dance для новичков в Тушино приглашает на занятия.';
  - var pageClass = 'club-latina-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | LATINA SOLO
        </h1>
        <h2>
          | Сольная Латина в Тушино</br>
        </h2>
        <p>
          | <span class="strong">Латина Соло</span> – это вся программа популярных латиноамериканских танцев (сальса, бачата, меренге,</br>
          | румба, самба, ча-ча-ча и др.) в их одиночном исполнении.</br></br>

          | Задор и веселье латиноамериканских танцев невозможно описать словами - это нужно прочувствовать.</br>
          | Зажигательные движения бедрами, интересные связки, комбинации и шаги, яркие позы и притягательные танцевальные образы.</br>

          | Преимущества Клубной Сольной Латины:</br></br>
        </p>
        <ul>
          li Не нужен партнер для танца, танцуй так, как хочется тебе.
          li Соло латина — это микс из танцевальных направлений, которые можно легко применить на любой вечеринке.
          li Занятия помогут улучшить осанку, походку, гибкость тела и пластику.
          li Латина соло — отличная возможность повысить самооценку и приобрести уверенность в себе.
        </ul>
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/club-latina.webp" alt="танцы латина в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br>
              u Возраст: </br></br> 
              u Расписание: </br></br></br>
              u Форма одежды: </br></br></br>
              u Цены:
            </h3>
            <p>
              | Дарья</br></br>
              | От 17 лет</br></br>
              | Вт 19:00 - 20:00 </br>
              | Пт 19:00 - 20:00 </br></br>
              | Тянущаяся одежда,</br>
              | лосины, кроссовки.</br></br>

              | 1 занятие - 800р.</br>
              | 4 занятия - 2400р.</br>
              | 8 занятий - 4000р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
