extends ../layout/main

block variables
  - var title = 'Club Dance - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Танцевальные занятия для детей в Тушино разбиты на группы по возрастам. В программе обучения для детей современные танцы, акробатика и растяжка.';
  - var pageClass = 'club-dance';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="directions-page.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | CLUB DANCE
                </h1>
                <h2>
                    | Современные танцы для детей в Тушино
                </h2>
                <p>
                    | Группа современных танцев для детей соединяет в себе элементы самых разных</br> 
                    | танцевальных направлений: Джаз-Модерн, Классическая хореография, Хип-Хоп, Contemporary, Jazz-Funk и многих</br> 
                    | других.</br></br>

                    | Эти уроки созданы специально для самых энергичных, любопытных, смелых детей, готовых пробовать</br>
                    | себя в самых разнообразных танцевальных стилях и не останавливаться на достигнутом.</br></br>
                    
                    | Также на занятиях уделяется время растяжке и физической подготовке, которые полезны для общего</br>
                    | состояния организма и важны для свободы движений в танце.</br></br>
                    
                    | После нескольких месяцев обучения ваши дети смогут участвовать в отчетных концертах и</br>
                    | танцевальных фестивалях.</br></br>

                    | Танцы для детей около метро Сходненская  - это прекрасный способ положительно повлиять на здоровье ребенка.
                </p>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/club-dance.jpg" alt="танцы club-dance в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | 6 - 8 лет</br></br>
                            | Пн 17:00-18:00</br> 
                            | Чт 17:00-18:00</br></br>
                            | Кеды, лосины, футболка</br></br>
                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>