extends ../layout/main

block variables
  - var title = 'Latina Solo - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Латиноамериканские танцы для взрослых на Сходненской – это сольная клубная латина для женщин. Школа танцев Sova Dance для новичков в Тушино приглашает на занятия.';
  - var pageClass = 'club-latina-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | LATINA SOLO
        </h1>
        <h2>
          | Латиноамериканские танцы в Тушино</br>
        </h2>
        <p>
          | <span class="strong">Латина Соло</span> – это вся программа популярных латиноамериканских танцев (сальса, бачата, меренге, румба, самба, ча-ча-ча и др.) в их одиночном исполнении. Страсть и кураж латиноамериканских танцев невозможно описать словами - это можно только почувствовать. Соблазнительные движения бедрами, задорные связки, интересные комбинации и шаги, яркие позы и заманчивые танцевальные образы. Наша танцевальная студия на Сходненской Sova Dance предлагает вместе с нами окунуться в зажигательный мир клубной латины.</br></br>
        </p> 
        h3.small-title Преимущества Клубной Сольной Латины:</br>
        <ul>
          li Это женская группа, партнер не нужен 
          li Все многообразие движений легко можно применить на любой вечеринке 
          li Занятия способствуют сжиганию лишних килограмм, подтягивают тело и улучшают общий силуэт 
          li Ритмичные танцы под современную музыку помогут избавиться от стресса и улучшить настроение
          li Приобретенная пластика, несомненно, поднимет вашу самооценку 
        </ul></br>

        p Занятия Латиной в Тушино начинаются с разминки. Далее мы медленно и подробно изучаем основные техники и движения латиноамериканских танцев. Профессиональный хореограф использует методику «от простого к сложному», поэтому вы без проблем освоите базовые элементы, постепенно переходя к более продвинутым. Так же, на занятиях изучаются танцевальные связки и композиции, из чего впоследствии складываются уже полноценные танцы. Программа тренировок нацелена на новичков.</br></br>
        p Наша школа танцев Sova Dance находится не далеко от метро Планерная и Сходненская. Мы приглашаем на занятия в группу клубной латины в СЗАО всех желающих, чтобы обрести пластику, стать увереннее в себе и научится красиво двигаться, даже если вы никогда не занимались танцами ранее.

        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/club-latina.webp" alt="танцы латина в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br>
              u Возраст: </br></br>
              u Расписание: </br></br></br>
              u Форма одежды: </br></br></br>
              u Цены:
            </h3>
            <p>
              | Дарья</br></br>
              | От 17 лет</br></br>
              | Вт 19:00 - 20:00 </br>
              | Пт 19:00 - 20:00 </br></br>
              | Тянущаяся одежда (лосины/футболка), </br>
              | кроссовки или танцевальные туфли на небольшом каблуке.</br></br>

              | 1 занятие - 800р.</br>
              | 4 занятия - 2700р.</br>
              | 8 занятий - 4300р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
