extends ../layout/main

block variables
  - var title = 'Club Dance - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Танцевальные занятия для детей в Тушино разбиты на группы по возрастам. В программе обучения для детей современные танцы, акробатика и растяжка.';
  - var pageClass = 'club-dance';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="directions-page.html">
                    <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | CLUB DANCE
                </h1>
                <h2>
                    | Современные танцы для детей 6-8 лет
                </h2>
                <p>
                    | Группа современных танцев для детей в Тушино объединяет в себе элементы самых разнообразных направлений: Джаз-Модерн, Хип-Хоп, Классическая хореография, Контемпорари, Джаз-Фанк и др.</br></br>

                    | Наши уроки танцев для школьников около метро Сходненская подходят как для мальчиков, так и для девочек. Они созданы специально для самых энергичных, любопытных и смелых детишек. На занятиях уделяется время растяжке и физической подготовке, что полезно для общего состояния организма и важно для свободы движений в танце. Дети тренируются общаться в коллективе и грамотно расходуют свою энергию. </br></br>
                </p> </br>

                p Программа обучения включает в себя:</br></br>
                <ul>
                    <li>Разминку</li>
                    <li>Физические упражнения на укрепление мышц</li>
                    <li>Растяжку</li>
                    <li>Изучение базовых гимнастических элементов</li>
                    <li>Творческие задания на импровизацию и воображение</li>
                    <li>Отработку основных танцевальных движений</li>
                    <li>Изучение танцевальных связок и формирование танцевальных номеров</li></br></br>
                </ul>

                p Занятия проводит опытный педагог, который уделяет внимание не только физическому, но и эмоциональному развитию детей. Цель школы танцев в Тушино Sova Dance – это создать настоящую танцевальную семью, где ваши дети не только смогут овладеть хореографическим искусством и выйти на большую сцену, но и обрести новых друзей.

                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/club-dance.webp" alt="танцы club-dance в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | 6 - 8 лет</br></br>
                            | Пн 17:00-18:00</br> 
                            | Чт 17:00-18:00</br></br>
                            | Лосины/спортивные штаны и футболка </br>
                            | и удобная обувь (балетки/кроссовки)</br></br>
                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2700р.</br>
                            | 8 занятий - 4300р.
                        </p>

                        //-  Тянущаяся одежда (лосины/спортивные штаны и футболка) и удобная обувь (балетки/кроссовки).
                    </div>
                </div>
            </div>
        </div>
    </header>