extends ../layout/main

block variables
  - var title = 'Dance Mix - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Современные танцы для детей в Тушино, не далеко от метро Сходненская - это прекрасная возможность освоить сразу несколько танцевальных направлений и вступать на сцене.';
  - var pageClass = 'dance-mix-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | DANCE MIX
        </h1>
        <h2>
          | Современные танцы для детей в Тушино
        </h2>
        p
          | Группа Dance Mix – это современная хореография для детей, где изучаются азы самых популярных танцевальных стилей. </br>
          | На занятиях ребёнок познаёт основы таких направлений, как: </br></br>

        ul 
          li Джаз Модерн (нежный и эмоциональный танец, представляющий собой смесь классики и современности) </br></br>

          li Контемпорари (самовыражение в танце с помощью оригинальных пластических средств) </br></br>

          li Клубная Латина (специальная версия латиноамериканской программы, адаптированная под новые тенденции танцевальной моды) </br></br>

          li Джаз Фанк (динамичные и экспрессивные танцевальные элементы в сочетании с техничностью и импровизацией) </br></br>

        p 
          | Занятия танцами помогает детям снять стресс и получить необходимую физическую нагрузку, развить чувства ритма и выработать правильную осанку. </br>
          | После нескольких месяцев занятий, ваши дети смогут вступать с нами на отчетных концертах и фестивалях. </br></br>

          | Современные танцы для детей около метро Сходненская – это прекрасный способ предложить ребенку приятное занятие и тем самым правильно организовать его досуг.</br></br>

        </p>
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/dance-mix.webp" alt="танцы хип-хоп в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br> 
              u Возраст: </br></br> 
              u Расписание: </br></br></br> 
              u Форма одежды: </br></br></br> 
              u Цены:
            </h3>
            <p>
              | Дарья</br></br>
              | 9-16 лет</br></br>
              | Вт. 18:00 – 19:00</br>
              | Пт. 18:00 – 19:00</br></br>
              | Кеды, лосины,</br>
              | футболка</br></br>
              | 1 занятие - 800р.</br>
              | 4 занятия - 2400р.</br>
              | 8 занятий - 4000р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
