extends ../layout/main

block variables
  - var title = 'Dance Mix - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Современные танцы для детей в Тушино, не далеко от метро Сходненская - это прекрасная возможность освоить сразу несколько танцевальных направлений и вступать на сцене.';
  - var pageClass = 'dance-mix-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | DANCE MIX
        </h1>
        <h2>
          | Современные танцы для детей в Тушино
        </h2>
        p
          | Наша танцевальная студия в Тушино приглашает вас на занятия в группу современной хореографии «Dance Mix». Это авторская программа занятий, разработанная специально для девочек от 9и лет и старше. </br></br>
          | Школа танцев на Сходненской «Sova Dance» стремится создать максимально комфортную атмосферу для занятий. Специально разработанный комплекс женственных танцевальных направлений для детей позволит девочкам постепенно избавиться от стеснения и приобрести уверенность в себе. На наших занятиях ученики будут получать необходимую физическую нагрузку и развивать чувство ритма. </br></br>

        p В программу группы Dance Mix входят следующие стили: </br></br>
        ul 
          li Джаз Модерн (нежный и эмоциональный танец, представляющий собой смесь классики и современности)</br></br>
          li Contemporary (самовыражение в танце с помощью оригинальных пластических средств) </br></br>
          li Клубная Латина (специальная версия латиноамериканской программы, адаптированная под новые тенденции танцевальной моды) </br></br>
          li Jazz Funk (динамичные и экспрессивные танцевальные элементы в сочетании с техничностью и импровизацией) </br></br>
          li Afro Dance (зажигательный и энергичный стиль, состоящий из ярких, резких и активных жестов) </br></br>
          li Girly Hop (женственное и манерное ответвление современной хип-хоп хореографии)</br></br>

        p 
          | После нескольких месяцев занятий танцами в СЗАО, ваши дети смогут вступать с нами на отчетных концертах и фестивалях. Современные танцы для детей около метро Планерная и Сходненская – это прекрасный способ предложить ребенку приятное занятие и тем самым правильно организовать его досуг.

        </p>
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/dance-mix.webp" alt="танцы хип-хоп в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br>
              u Возраст: </br></br>
              u Расписание: </br></br></br></br></br></br > 
              u(style='white-space: nowrap;') Форма одежды: </br></br></br></br></br>
              u Цены:
            </h3>
            <p>
              | Дарья</br></br>
              | 9-16 лет</br></br>
              | Вт. 18:00 – 19:00</br>
              | Пт. 18:00 – 19:00</br>
              | Ср. 17:00 – 18:00 (латиноамериканские </br> танцы, факультативно)</br></br>
              | Тянущаяся одежда</br>
              | (лосины/спортивные штаны </br>
              | и футболка) и удобная обувь </br>
              | (кеды/кроссовки)</br></br>
              | 1 занятие - 800р.</br>
              | 4 занятия - 2700р.</br>
              | 8 занятий - 4300р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
