extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="../napravleniya/index.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальныйх направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | DANCE MIX
                </h1>
                <h2>
                    | Латиноамериканские танцы для детей в Тушино
                </h2>
                <p>
                    | Клубная сольная латина для детей – это специальная версия латиноамериканской
                    | программы, адаптированная под современные тенденции танцевальной моды.</br></br> 

                    | Занятия включают в себя изучение базовых основ латиноамериканских танцев таких,
                    | как самба, ча-ча-ча, джайв и др., с добавлением элементов современных стилей, что
                    | делает это направление активным, веселым и интересным для детей разного возраста.</br></br>
                    
                    | Детская латина представляет собой сбалансированное сочетание физической нагрузки,
                    | растяжки и танцевальных движений. Такие уроки способствуют развитию танцевальных
                    | навыков, улучшению координации, гибкости, физической подготовки ребенка, а также
                    | обеспечивают отличное настроение!</br></br>
                    
                    | После нескольких месяцев обучения ваши дети смогут участвовать в отчетных концертах
                    | и танцевальных фестивалях.</br>
                </p>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/dance-mix.jpg" alt="танцы хип-хоп в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Дарья</br></br>
                            | 9-16 лет</br></br>
                            | Вт. 18:00 – 19:00</br>
                            | Пт. 18:00 – 19:00</br></br>
                            | Кеды, лосины,</br>
                            | футболка</br></br>
                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

