extends ../layout/main

block variables
  - var title = 'Школа танцев в Тушино SOVA DANCE';
  - var description = 'Танцы для детей и взрослых в Тушино. Различные танцевальные направления около метро Сходненская для любого уровня подготовки.';
  - var pageClass = 'all-directions-page';

block content
  <header class="header" id="header">
  <div class="direction_page_container">
    <div class="direction">
    <a href="main-page.html">
      <img src="assets/img/btn-back.webp" alt="кнопка перехода на главную страницу sovadance" class="btn-back">
    </a>
    <div class="hidden_tabl wow fadeInUp d-flex">
      <a class="btn-Weekdays bubbly-button main-btn">
      | Расписание
      </a>
      //- <a class="btn-weekends bubbly-button main-btn">Выходные дни</a>
    </div>
    <div class="direction-wrap d-flex flex-wrap">
    <h2 class="child-title wow fadeInUp d-fex">
      | Детские танцевальные направления
    </h2>
      <a href='baby-dance.html' class=" direction-card d-flex wow fadeIn" data-wow-delay="0.4s">
      <img src="assets/img/directionsPage/baby-dance.webp" alt="Хореография в Тушино" class="">
      <h3>
        | Baby Dance
      </h3>
      <p>
        span.card__text--style-pink Дети 3-5 лет <br />
        //- <span class="card__text--style-red">Расписание уточняется</span></br></br> 
        | Ср 19:00-20:00</br>
        | Сб 12:00-13:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
        <button class="direction-card--btn">
          | Подробнее
        </button>
      </a>

      <a href='club-dance.html' class=" direction-card d-flex wow fadeIn" data-wow-delay="0.5s">
      <img src="assets/img/directionsPage/club-dance.webp" alt="Club Dance в Тушино" class="">
      <h3>
        | Club Dance
      </h3>
      <p>
        span.card__text--style-pink Дети 6-8 лет <br />
        | Пн 17:00-18:00</br>
        | Чт 17:00-18:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
      <a href="hip-hop.html" class=" direction-card d-flex wow fadeIn" data-wow-delay="0.6s">
      <img src="assets/img/directionsPage/hip-hop.webp" alt="Dance Mix в Тушино" class="">
      <h3>
        | Hip Hop
      </h3>
      <p>
        span.card__text--style-pink Дети 9-16 лет <br />
        | Ср 18:00-19:00</br>
        | Сб 13:00-14:00</br>
        | Пн, Чт 18:00-19:00</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
      <a href="dance-mix.html" class=" direction-card wow fadeIn d-flex" data-wow-delay="0.7s">
      <img src="assets/img/directionsPage/dance-mix.webp" alt="Hip-hop в Тушино" class="">
      <h3>
        | Dance Mix
      </h3>
      <p>
        span.card__text--style-pink Дети 9-16 лет <br />
        | Вт 18:00-19:00</br>
        | Пт 18:00-19:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
    <h2 class="child-title adult-title d-fex wow fadeIn" data-wow-delay="0.7s">
      | Взрослые танцевальные направления
    </h2>
      <a href="stretching.html" class=" direction-card d-flex wow fadeIn" data-wow-delay="1s">
      <img src="assets/img/directionsPage/stretching.webp" alt="Stretching в Тушино" class="">
      <h3>
        | Stretching
      </h3>
      <p>
        span.card__text--style-blue Взрослые <br />
        //- <span class="card__text--style-red">Расписание уточняется</span></br></br> 
        | Среда</br>
        | 20:00-21:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
      <a href="ladys-dance.html" class=" direction-card d-flex wow fadeIn" data-wow-delay="0.9s">
      <img src="assets/img/directionsPage/ladys-dance.webp" alt="Lady`s-dance в Тушино" class="">
      <h3>
        | Lady's-dance
      </h3>
      <p>
        span.card__text--style-blue Взрослые <br />
        | Пн 19:00-20:00</br>
        | Чт 19:00-20:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
      <a href="body-shape.html" class=" direction-card d-flex wow fadeIn" data-wow-delay="0.7s">
      <img src="assets/img/directionsPage/body-shape.webp" alt="Zumba в Тушино" class="">
      <h3>
        | Body Shape
      </h3>
      <p>
        span.card__text--style-blue Взрослые <br />
        //- <span class="card__text--style-red">Расписание уточняется</span></br></br> 
        | Суббота</br>
        | 13:00 – 14:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий</br>
        //- 3600р. - 8 занятий 
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
      <a href="club-latina.html" class=" direction-card d-flex wow fadeIn" data-wow-delay="0.7s">
      <img src="assets/img/directionsPage/club-latina.webp" alt="Latina в Тушино" class="">
      <h3>
        | Latina Solo
      </h3>
      <p>
        span.card__text--style-blue Взрослые <br />
        //- <span class="card__text--style-red">Расписание уточняется</span></br></br>              
        | Вт 19:00-20:00</br>
        | Пт 19:00-20:00</br>
        | 2700р. - 4 занятия</br>
        | 4300р. - 8 занятий
      </p>
      <button class="direction-card--btn">
        | Подробнее
      </button>
      </a>
    </div>
    </div>  
    </div>
  </div>
  </header>

  include ../schedulePopups
