extends ../layout/main

block variables
  - var title = "High heels - Школа танцев в Тушино SOVA DANCE";
  - var description = "High heels в Тушино и силовые тренировки для женщин. Танцы для похудения около метро Сходненская и Планерная в студии Sova Dance.";
  - var pageClass = "high-heels-page";

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1 class="direction-page__title">
          | HIGH HEELS
        </h1>
        <h2>
          | Танцы на каблуках в Тушино</br>
        </h2>
        <p>
          | <span class="strong">«High Heels»</span> – переводится с английского как «высокие каблуки», тем самым определяя основную идею – танцы на каблуках. У этого стиля нет собственной танцевальной базы, в основу легли элементы из таких направлений, как: Go Go, Strip Plastic, Vogue, Jazz Modern и пр. То есть уроки Хай Хилс в Тушино - это своеобразный микс из современных женственных направлений, исполняемый в обуви на каблуках.</br></br>

        </p>
        p Школа танцев в Тушино Sova Dance приглашает в группу High Heels активных девушек, которые хотят раскрыть свою женственность и готовы к экспериментам. Хореография таких постановок всегда будет броской и сексуальной.</br></br>
        h3.small-title Занятия фитнес танцами на каблуках около метро Сходненская имеют огромное количество преимуществ:</br></br>
        <ul>
          li Улучшается гибкость и пластика
          li Развивается женственность и сексуальность
          li Получается более уверенно стоять на каблуках
          li Повышается тонус мышц и подтягивается фигура
          li Тренируется физическую выносливость
          li Приобретается навык красиво двигаться под музыку

        p Группа танцев на каблуках в Тушино – это отличный вариант для девушек, которые никогда не занимались ранее. Физическая форма, комплекция и возраст абсолютно не важны. Мы приглашаем на занятия всех желающих, чтобы развить координацию, научиться ходить на шпильках, улучшить чувство ритма и получить заряд положительных эмоций. В нашей группе танцев для взрослых около метро Планерная и Сходненская используется специализированная программа обучения «с нуля».

        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/high-heels.webp" alt="зумба в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br>
              u Возраст: </br></br>
              u Расписание: </br></br></br>
              u Форма одежды: </br></br></br></br>
              u Цены:
            </h3>
            <p>
              | Дарья</br></br>
              | От 17 лет</br></br>
              | Расписание уточняется</br></br></br>
              //- | Вт, Пт 20:00 – 21:00</br></br></br>
              | Тянущаяся одежда (лосины/футболка), </br>
              | кроссовки для разминки</br>
              | и обувь на каблуках.</br></br>
              | 4 занятия - 3000р.</br>
              | 8 занятий - 4800р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
