extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Хип Хоп для детей около метро Сходненская. Современные танцы для детей в Тушино это не только изучение танцев, но и отличный спорт для гармоничного развития тела.';
  - var pageClass = 'hip-hop-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | HIP HOP
        </h1>
        <h2>
          | Современные танцы для детей в Тушино
        </h2>
        <p>
          | Группа современных танцев для детей соединяет в себе элементы самых разных</br>
          | танцевальных направлений: Hip Hop, Street Dance, Jazz Funk, Contemporary и многих
          | других.</br></br>

          | Эти уроки созданы специально для самых энергичных, любопытных, смелых детей, готовых пробовать</br>
          | себя в самых разнообразных танцевальных стилях и не останавливаться на достигнутом.</br></br>

          | Также на занятиях уделяется время растяжке и физической подготовке, которые полезны для общего</br>
          | состояния организма и важны для свободы движений в танце.</br></br>

          | После нескольких месяцев обучения ваши дети смогут участвовать в отчетных концертах и</br>
          | танцевальных фестивалях.</br></br>

          | Студия Хип Хопа для детей находится в Тушино, не далеко от метро Планерная и Сходненская.
        </p>
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/hip-hop.webp" alt="танцы dance-mix-kids в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br> 
              u Возраст: </br></br> 
              u Расписание: </br></br></br> 
              u Форма одежды: </br></br> 
              u Цены:
            </h3>
            <p>
              | Маргарита</br></br>
              | 9 - 16 лет</br></br>
              | Пн, Чт</br>
              | 18:00-19:00</br></br>
              | Кеды, лосины, футболка</br></br>
              | 1 занятие - 800р.</br>
              | 4 занятия - 2400р.</br>
              | 8 занятий - 4000р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
