extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Хип Хоп для детей около метро Сходненская. Современные танцы для детей в Тушино это не только изучение танцев, но и отличный спорт для гармоничного развития тела.';
  - var pageClass = 'hip-hop-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | HIP HOP
        </h1>
        <h2>
          | Хип Хоп для детей от 9и лет
        </h2>
        <p>
          | Если вы ищете группу Хип Хопа для детей на Сходненской, то школа танцев Sova Dance в Тушино – это именно то, что вам нужно!</br></br>

          | Хип Хоп – это направление современных танцев, которое невероятно популярно среди молодежи. Юное поколение интересуется Hip Hop и R'n'B культурой, поэтому они изначально полны энтузиазма и записываются на занятия уже мотивированными.</br></br>
        </p>
          p Программа обучения включает в себя:</br></br>
          <ul>
              <li>Разминку для разогрева мышц</li>
              <li>Отработку базовых хореографических элементов</li>
              <li>Физические упражнения на укрепление мышц и растяжку</li>
              <li>Творческие задания на самовыражение и импровизацию</li>
              <li>Изучение танцевальных связок и формирование номеров</li>
              <li>Тренировочные танцевальные баттлы и сольные выходы</li>
          </ul></br></br>

          p Группа танцев для подростков у метро Планерная и Сходненская включает в себя изучение основ таких танцевальных стилей, как: Popping, Locking, Break Dance, Krump, C-Walk, Dancehall и пр. </br></br>
          p Хип Хоп для детей в СЗАО - это не только модный танец, но и возможность научиться слышать музыку, чувствовать ритм и развить свои физические возможности под чутким руководством опытного педагога. Основная задача нашего хореографа – подобрать индивидуальный подход к каждому ученику и раскрыть его собственный потенциал. После занятий в школе танцев Sova Dance, дети смогут найти собственный неповторимый стиль, испытать свои силы в различных вступлениях и обрести новых друзей.
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/hip-hop.webp" alt="танцы dance-mix-kids в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br> 
              u Возраст: </br></br> 
              u Расписание: </br></br></br> 
              u Форма одежды: </br></br></br></br></br>
              u Цены:
            </h3>
            <p>
              | Маргарита</br></br>
              | 9 - 16 лет</br></br>
              | Пн 18:00–19:00</br>
              | Чт 18:00–19:00</br></br>
              | Тянущаяся одежда</br>
              | (лосины/спортивные штаны </br>
              | и футболка) и удобная обувь </br>
              | (кеды/кроссовки)</br></br>
              | 1 занятие - 800р.</br>
              | 4 занятия - 2700р.</br>
              | 8 занятий - 4300р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
