extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "index-page";

  //- на главной странице не подсвечиваются секции в хедере
  //- лишние картинки в направлениях 
  //- название страниц
  //- title страниц
  //- вынести стили для header и footer

block content
  .index-page 
    .header-block
    .index-page__wrapper 
      a(href="main-page.html") main-page.html
      a(href="directions-page.html") directions-page.html 
      a(href="service-page.html") service-page.html <br /> <br />

      a(href="baby-ballet.html") baby-ballet.html  
      a(href="club-dance-kids.html") club-dance-kids.html  
      a(href="dance-mix-kids.html") dance-mix-kids.html  
      a(href="hip-hop.html") hip-hop.html  <br /> <br />

      a(href="stretching.html") stretching.html  
      a(href="body-shape.html") body-shape.html  
      a(href="zumba.html") zumba.html  
      a(href="latina-solo.html") latina-solo.html  



    
//- block script