extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "index-page";

block content
  .index-page 
    .header-block
    .index-page__wrapper 
      a(href="main.html") main.html
      a(href="hip-hop.html") hip-hop.html  <br /> <br />
      a(href="allDirections.html") allDirections.html 


    
//- block script