extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "index-page";

block content
  .index-page 
    .header-block
    .index-page__wrapper 
      a(href="main.html") main.html
      a(href="news.html") news.html
      a(href="articles.html") articles.html
      a(href="news-item.html") news-item.html
      a(href="article-item.html") article-item.html
      a(href="temporary-project.html") temporary-project.html
      a(href="special-project.html") special-project.html
      a(href="podcasts.html") podcasts.html
      a(href="redaction.html") redaction.html
      a(href="404.html") 404.html

      a(href="useful-links.html") useful-links.html
      a(href="search.html") search.html
      a(href="videos.html") videos.html
      a(href="photos.html") photos.html
      a(href="questions.html") questions.html
      a(href="selected-video.html") selected-video.html
      a(href="photo-album.html") photo-album.html
      a(href="offer-news.html") offer-news.html
      a(href="legal-information.html") legal-information.html
      a(href="advertising.html") advertising.html
      a(href="podcast.html") podcast.html

    
//- block script