extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "index-page";

block content
  .index-page 
    .header-block
    .index-page__wrapper 
      a(href="main-page.html") main-page.html
      a(href="directions-page.html") directions-page.html 
      a(href="service-page.html") service-page.html <br /> <br />

      a(href="hip-hop.html") hip-hop.html  
      a(href="baby-ballet.html") baby-ballet.html  


    
//- block script