extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="../napravleniya/index.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальных направлений sovadance" class="btn-back">
                </a>
                <h1>
                    | LADY'S DANCE в Тушино
                </h1>
                <h2>
                    | Группа для взрослых</br>
                </h2>
                <p>
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="strong">Lady's Dance</span> - танцевальное направление, созданное специально для женщин, сочетающее в себе элементы</br>
                    | наиболее популярных и актуальных стилей, таких как go-go, strip, jazz-funk, girly hop и пр.</br></br>

                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Занятия помогут раскрыть женственность, приобрести уверенность в себе, развить чувство ритма, научиться</br>
                    | управлять своим телом и полностью раскрепоститься.</br></br>
                </p>
                <ul>
                    <li>Вы научитесь в совершенстве владеть своим телом.</li>
                    <li>Сможете профессионально танцевать под любую современную музыку.</li>
                    <li>Приобретете красивую осанку, походка станет более грациозной.</li>
                    <li>В процессе обучения происходит нагрузка на все группы мышц, в результате чего силуэт обретет идеальные очертания.</li>
                    <li>Уроки танцев предполагают значительные физические нагрузки, стимулирующие быстрое сжигание лишних калорий.</li></br>
                </ul>
                <p>        
                    | Данная программа подходит как начинающим девушкам, которые никогда не занимались ранее, так и продолжающим.
                </p>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/ladys-dance.jpg" alt="body-shape в Тушино" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | От 17 лет</br></br>
                            | Пн 19:00-20:00</br>
                            | Чт 19:00-20:00</br></br>
                            | Тянущаяся одежда,</br>
                            | лосины, кеды.</br></br>

                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
