extends ../layout/main

block variables
  - var title = 'Ladys dance - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Стрип пластика и другие женственные танцы для взрослых в Тушино – отличный способ научиться танцевать с нуля и обрести хорошую фигуру. Мини группы у метро Сходненская.';
  - var pageClass = 'ladys-dance-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadance" class="btn-back">
        </a>
        <h1>
          | LADY'S DANCE
        </h1>
        <h2>
          | Танцы для взрослых в Тушино</br>
        </h2>
        <p>
          | <span class="strong">Lady's Dance</span> - это танцевальное направление, созданное специально для женщин. Этот стиль сочетает в себе элементы наиболее популярных женских танцев, таких как go-go, waaking, jazz и пр., но основа направления – это strip plastic. </br></br>

          | Занятия стрип пластикой в Тушино помогут раскрыть женственность, приобрести уверенность в себе, развить чувство ритма, научиться управлять своим телом и полностью раскрепоститься. Наша программа подходит как начинающим девушкам, которые никогда не занимались ранее, так и продолжающим.</br></br>
        </p>
        p Танцевальные тренировки по стрип дэнсу проходят недалеко от станций метро Сходненская и Планерная. Профессиональные хореографы школы танцев Sova Dance научат вас грамотно владеть своим телом. Вы сможете танцевать под любую музыку легко и непринужденно.</br></br>
        p танцев в СЗАО предполагают хорошую физическую нагрузку на все группы мышц, поэтому при регулярных тренировках происходит быстрое сжигание лишних калорий, в результате чего силуэт обретает идеальные очертания. Вы обязательно получите красивую и ровную осанку, а походка станет более грациозной.</br></br>
        p В процессе занятий стрип пластикой на Сходненской мы изучаем танцевальную технику на каблуках стоя и в партере (на полу), а так же базовые акробатические элементы. Приглашаем всех желающих, не зависимо от возраста, комплекции и физической подготовки.</br></br>
        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/ladys-dance.webp" alt="high-heels в Тушино" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель:</u> </br></br>
              <u>Возраст:</u> </br></br> 
              u Расписание:</u> </br></br></br>
              u Форма одежды:</u> </br></br></br></br></br>
              u Цены:
            </h3>
            <p>
              | Маргарита</br></br>
              | От 17 лет</br></br>
              | Пн 19:00-20:00</br>
              | Чт 19:00-20:00</br></br>
              | Тянущаяся одежда (лосины/футболка),</br>
              | кроссовки для разминки </br>
              | и обувь на каблуках (по желанию).</br></br>

              | 1 занятие - 800р.</br>
              | 4 занятия - 2700р.</br>
              | 8 занятий - 4300р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
