extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "legal-information-page";

block content
      main
        .title-container
          h1 Правила копирования материалов
        
        .container
          section.legal-information__content 
            .content__rules 
              h2 1. Общие положения
              p 1.1. Настоящие правила определяют порядок и условия использования информационных, новостных и иных материалов, размещенных на сайте КГАУ «ИНФОРМАЦИОННОЕ АГЕНТСТВО «КАМЧАТКА» далее — сайт «ИА «Камчатка».
              p 1.2. Любые материалы, размещенные на Сайте «ИА «Камчатка», являются объектами авторского права. Права Издания на указанные материалы охраняются законодательством о правах на результаты интеллектуальной деятельности
              p 1.3. Использование материалов, размещенных на Сайте «ИА «Камчатка», допускается только с письменного согласия КГАУ «ИНФОРМАЦИОННОЕ АГЕНТСТВО «КАМЧАТКА». Бесплатное использование материалов возможно только в случаях, прямо предусмотренных в пп. 2.2.1.-2.2.3. настоящих правил.
            
              h2 2. Использование материалов. Виды использования
              p 2.1. Под использованием материалов понимается воспроизведение, распространение, публичный показ, сообщение в эфир, сообщение по кабелю, перевод, переработка, доведение до всеобщего сведения и иные способы использования, предусмотренные действующим законодательством Российской Федерации. 2.2. Использование на безвозмездной основе:
              p 2.2.1. Любые материалы «ИА «Камчатка» могут быть использованы без письменного согласия «ИА «Камчатка»и на безвозмездной основе при условии, что пользователь является физическим лицом, и такое использование осуществляется исключительно в личных целях.
            
              h2 3. Обязанности Пользователей при использовании материалов
              p 3.1. При использовании материалов «ИА «Камчатка» в любых целях, кроме личных, ссылка на сайт Издания обязательна: 
              p 3.1.1. в печатных изданиях или в иных формах на материальных носителях Пользователи обязаны в каждом случае использования материалов указать источник — сайт «ИА «Камчатка»  (www.pressa41.ru).  
              p 3.1.2. в Интернете или иных формах использования в электронном виде, Пользователи в каждом случае использования материалов обязаны разместить гиперссылку на Сайт — «ИА «Камчатка»  (www.pressa41.ru). 
              p 3.1.3. Ссылка на источник или гиперссылка, указанные в пп. 
              p 3.1.1 и 3.1.2. настоящих правил, должны быть помещены Пользователем в начале используемого текстового материала, а также непосредственно под используемым аудио-, видео-, фотоматериалом, графическим материалом «ИА «Камчатка». Размеры шрифта ссылки на источник или гиперссылки не должны быть меньше размера шрифта текста, в котором используются материалы «ИА «Камчатка», либо размера шрифта текста Пользователя, сопровождающего аудио-, видео-, фотоматериалы и графические материалы «ИА «Камчатка» . 
              p 3.1.4. Использование материалов «ИА «Камчатка», полученных из вторичных источников, возможно только со ссылкой на эти источники. 3.2. При использовании материалов «ИА «Камчатка» не допускается переработка их оригинального текста. Сокращение материала возможно только в случае, если это не приводит к искажению его смысла. В таком случае Пользователи самостоятельно несут ответственность за искажение смысла материалов. 3.3. При использовании информационных, новостных материалов «ИА «Камчатка» Пользователи не должны указывать у себя на сайтах и в RSS-рассылках время выхода информационных, новостных материалов идентичное или раньше времени их выхода на сайте «ИА «Камчатка».
                      

            - var banners = ['tele', 'tele']
            +advertising(banners)

