extends ../layout/main

block variables
  - var title = 'Танцы - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block head
  script(
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
  ) 
  script(src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js") 
  script 
    | new WOW().init();

block content
  <header class="header" id="header">
    <div class="container">
      <div class="headContent d-flex">
        <div class="headContent__title">
          <h1 class="wow fadeInDown">
            | Школа танцев</br>
            | для новичков</br>
            | sova dance</br>
          </h1>
          <div class="headContent__border">
          </div>
          <p>
            | Запишись на пробное занятие и получи скидку 50%!
          </p>
          <div class="headContent__btn d-flex">
            <a href="https://mssg.me/sova_dance" class="bubbly-button main-btn contact-btn d-flex wow heartBeat" data-wow-delay="2s">
              | Записаться на пробное занятие
            </a>
          </div>
        </div>
        <img src="assets/img/mainPage/logoSova.png" alt="Логотип школы танцев sovadance" class="picturesSova wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
      </div>
    </div>
  </header>
  //- AboutUs 
  <section class="section-aboutUs parallax-window" data-parallax="scroll" data-image-src="assets/img/mainPage/a3334.jpg" id="section-aboutUs">
    <div class="container">
      <div class="aboutUs">
        <div class="aboutUs__first-block d-flex">
          <img class="wow zoomInDown" data-wow-delay="0.6s" src="assets/img/mainPage/img_1.jpg" alt="фото танцы в Тушино" class="img1">
          <div class="aboutUs__first-block_content">
            <h2 class="wow fadeInLeft" data-wow-delay="1s">
              | Sova dance
            </h2>
            <p class="wow fadeInLeft" data-wow-delay="1.2s">
              | Это школа танцев в Тушино для новичков.</br>
              | Все наши преподаватели являются</br>
              | профессионалами своего дела, которые любят</br>
              | танцы всей душой, и с удовольствием научат вас</br>
              | всему тому, что умеют сами.
            </p>
            <h3 class="wow fadeInLeft" data-wow-delay="1.4s">
              | Мы убедим вас в том, что танцы
            </h3>
            <p class="wow fadeInLeft" data-wow-delay="1.6s">
              | Это не сложно, приятно, весело</br>
              | и очень полезно для души и тела!</br>
              </br>
              | Программа занятий нацелена на новичков.</br>
              | Предварительная подготовка не требуется,</br>
              | обучение с нуля!
            </p>
          </div>
        </div>
        <div class="aboutUs__second-block d-flex">
          <div class="aboutUs__second-block_content">
            <h2 class="wow fadeInRight" data-wow-delay="0.3s">
              | Преимущества танцевального спорта
            </h2>
            <p class="wow fadeInRight" data-wow-delay="0.4s">
              | Один из самых приятных способов</br>
              | поддерживать фигуру в форме — это танцы!</br>
              | Они не требуют подъема тяжестей или многочасового</br>
              | кручения педалей,</br>
              | это нагрузка, которая доставляет удовольствие</br>
              | и дается очень легко, почти играючи.</br>
            </p>
            <h3 class="wow fadeInRight" data-wow-delay="0.5s">
              | У нас для вас:
            </h3>
            <p class="wow fadeInRight" data-wow-delay="0.6s">
              | более 15и танцевальных направлений,</br>
              | опытные педагоги,</br>
              | просторный зал,</br>
              | приятная, домашняя атмосфера.
            </p>
          </div>
          <img src="assets/img/mainPage/img_2.jpg" alt="Зал школы танцев sovadance" class="img2 wow zoomInDown" data-wow-delay="0.2s">
        </div> 
      </div>
    </div>
  </section>
  //- Gallery 
  <section class="section-gllery" id="section-gllery">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.5s">
        | Галерея
      </h2>
      <div class="gallery d-flex">
        <div class="gallery__photo">
          <div class="gallery__photo-firstStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo1.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo1.jpg" alt="фото преподавателя sovadance" title="Преподаватель Мария" class="photo1 wow fadeInUp" data-wow-delay="0.5s">
            </a>
            <a href="assets/img/mainPage/gallery/photo2.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo2.jpg" alt="танцы в тушино" title="Мы танцуем!)" class="photo2 wow fadeInUp" data-wow-delay="0.6s"> 
            </a>
          </div>
          <div class="gallery__photo-secondStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo3.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo3.jpg" alt="ученики школы танцев" title="Ученики школы танцев Sova-Dance" class="photo3 wow fadeInUp" data-wow-delay="0.8s">
            </a>
            <a href="assets/img/mainPage/gallery/photo4.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo4.jpg" alt="ученики школы танцев sovadance" title="ученики школы танцев Sova-Dance" class="photo4 wow fadeInUp" data-wow-delay="0.7s">
            </a>
          </div>
          <div class="gallery__photo-thirdStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo5.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo5.jpg" alt="отчетный концерт sovadance в Тушино" title="Отчетный концерт Sova-Dance в Тушино" class="photo5 wow fadeInUp" data-wow-delay="0.9s">
            </a>
            <a href="assets/img/mainPage/gallery/photo6.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo6.jpg" alt="фото со съемок sovadance" title="Фото со съемок Sova-Dance" class="photo6 wow fadeInUp" data-wow-delay="1s">
            </a>     
          </div>
        </div>
        <div class="gallery__title wow fadeIn" data-wow-delay="1s">
          <h3>
            | процесс занятий
          </h3>
          <p>
            | &nbsp; Танцы прекрасно тренируют силу и гибкость, развивают
            | координацию движений. Они полезны для сердечнососудистой и
            | дыхательной системы.</br></br>

            | &nbsp; Занятия способствуют стройности,
            | формированию правильной осанки и сильного мышечного корсета,
            | а также повышают жизненный тонус, поднимают настроение.
            | Разучивая комбинации, позы и связки под музыку, вы также
            | совершенствуете ваше чувство ритма и эстетический вкус.</br></br>
          </p>
          <div class="hide-on-1024">
            <p>
              | &nbsp; Танцы учат не только владеть собственным телом, но и любить
              | его. Во время занятий вы сможете раскрепоститься и избавиться
              | от многих комплексов. Грациозная походка, царственная осанка,
              | уверенный взгляд и доброжелательная улыбка выделят вас не
              | только на любом танцполе, но и сделают заметными в уличной толпе!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  //- Video 
    <section class="section-video" id="section-gllery">
     <div class="container">
       <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/fVQ-CyJkW-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
     </div>
     </section> 
  //- OurTrainers 
  <section class="section-ourTrainers" id="section-ourTrainers">
    <div class="container">
      <div class="ourTrainers__title">
        <h2 class="wow fadeInUp" data-wow-delay="0.2s">
          | Наши преподаватели
        </h2>
        <div class="ourTrainrs__borders d-flex">
          <div class="ourTrainrs__border--orange wow fadeInUp" data-wow-delay="0.2s">

          </div>
          <div class="ourTrainrs__border--white wow fadeInUp" data-wow-delay="0.2s">

          </div>
        </div>
      </div>
      <div class="slide">
        <div class="ourTrainers__photos-pageOne d-flex">
          <div class="trainer-card1-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer1.jpg" alt="Преподаватель танцев в Тушино Элиза" class="trainer1">
              <div class="trainer-card__shadow1">
                <h3>
                  | Дарья</br>
                </h3>
                <p>
                  | Направления:</br></br></br>
                  a.trainers-link(href="napravleniya/baby-ballet.html") BABY DANCE </br></br>
                  a.trainers-link(href="napravleniya/latina-solo.html") LATINA SOLO </br></br>
                  a.trainers-link(href="napravleniya/hip-hop.html") LATINA KIDS </br>
                  //- <a href="napravleniya/dance-mix.html" class="trainers-link" DANCE MIX</a></br>
                  //- <a href="napravleniya/street-dance-experimental.html" class="trainers-link" ПАРНЫЕ ТАНЦЫ</a></br>
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card2-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer2.jpg" alt="Преподаватель танцев на сходненской Регина" class="trainer2">
              <div class="trainer-card__shadow2">
                <h3>
                  | Маргарита</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  a.trainers-link(href="napravleniya/baby-ballet.html") BABY DANCE</a></br></br>
                  a.trainers-link(href="napravleniya/stretching.html") STRETCHING</a></br></br>
                  a.trainers-link(href="napravleniya/body-shape.html") LADYS DANCE</a></br></br>
                  a.trainers-link(href="napravleniya/dance-mix-kids.html") DANCE MIX</a></br></br>
                  a.trainers-link(href="napravleniya/club-dance-kids.html") CLUB DANCE</a></br></br>
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card3-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer3.jpg" alt="Преподаватель танцев sova dance Полина" class="trainer3">
              <div class="trainer-card__shadow3">
                <h3>
                  | Хэлен</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  //- <a href="napravleniya/hip-hop.html" class="trainers-link" DANCE MIX</a> </br>
                  a.trainers-link(href="napravleniya/zumba.html") BODY SHAPE</a></br></br>
                  //- <a href="napravleniya/baby-ballet.html" class="trainers-link" BABY DANCE</a> 
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card6-hover">
            <div class="trainer-card cards-pageTwo d-flex">
              <img src="assets/img/mainPage/trainers/trainer6.jpg" alt="Преподаватель танцев в Тушино Ирина" class="trainer6">
              <div class="trainer-card__shadow6">
                <h3>
                  | Ирина</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  a.trainers-link ЦЫГАНСКИЕ ТАНЦЫ</a></br></br>
                </p>
              </div>
            </div>
          </div>                    
        </div>
        //- 
          <div class="ourTrainers__photos-pageTwo d-flex">
            <div class="trainer-card4-hover">
              <div class="trainer-card d-flex">
                <img src="./ourTrainers/trainer4.jpg" alt="Преподаватель танцев в Тушино Оксана" class="trainer4">
                <div class="trainer-card__shadow4">
                  <h3>
                    | Оксана</br>
                  </h3>
                  <p>
                    | Направления: </br></br></br>
                    a href="napravleniya/body-ballet.html" class="trainers-link" BODY BALLET</a></br>
                    a href="napravleniya/classic-ballet.html" class="trainers-link" CLASSIC BALLET</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="trainer-card7-hover">
              <div class="trainer-card cards-pageTwo d-flex">
                <img src="./ourTrainers/trainer7.jpg" alt="Преподаватель танцев в Тушино Арина" class="trainer7">
                <div class="trainer-card__shadow7">
                  <h3>
                    | Арина</br>
                  </h3>
                  <p>
                    | Направления: </br></br></br>
                    a href="napravleniya/yoga.html" class="trainers-link" YOGA</a></br>
                  </p>
                </div>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </section>
  //- Achievements 
  <section class="section-achievements" id="section-achievements">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.2s">
        | Наша гордость
      </h2>

      <div class="achievements d-flex">
        <div class="achievements__trainers d-flex wow bounce" data-wow-delay="0.3s" >
          <img src="assets/img/mainPage/iconTrainers.png" alt="7 преподавателей">
          <p>
            | 7 Преподавателей
          </p>
        </div>
        <div class="achievements__direction d-flex wow bounce" data-wow-delay="0.4s" >
          <img src="assets/img/mainPage/iconDirection.png" alt="15 Танцевальных направлений">
          <p>
            | 15</br>
            | Танцевальных</br>
            | направлений
          </p>
        </div>
        <div class="achievements__experience d-flex wow bounce" data-wow-delay="0.5s" >
          <img src="assets/img/mainPage/iconLike.png" alt="Преподавательский стаж более 9 лет">
          <p>
            | Преподавательский</br>
            | стаж более 9 лет
          </p>
        </div>
        <div class="achievements__love d-flex wow bounce" data-wow-delay="0.6s">
          <img src="assets/img/mainPage/iconHart--new.png" alt="Более 500 удовлетворенный клиентов">
          <p>
            | Более 500</br>
            | удовлетворенный</br>
            | клиентов
          </p>
        </div>
      </div>
    </div>
  </section>
  //- Review 
  <section class="section-review" id="section-review">
    <div class="container">
      <div class="review-title">
        <h2 class="wow fadeInUp" data-wow-delay="0.2s">
          | Отзывы
        </h2>
      </div>
      <div class="slide">
        <div class="review__first">
          <div class="review__first--icon">
            <img src="assets/img/mainPage/avatar1.png" alt="Отзыв о школе танцев в Тушино">
          </div>
          <div class="review__first--title">
            <p>
              | Очень нравится, что здесь мини-группы. Не бывает толпы людей, очень комфортно и приятно заниматься.</br>
              | Хожу на Стрип-Пластику – очень довольна. Каждому, кто приходит на занятие уделяется отдельное внимание,</br>
              | всегда можно уточнить, если что-то не понятно. Очень хороший хореограф. Буду, с удовольствием, продолжать занятия.</br>
              | _ _ _ _</br></br>
              | Елена
            </p>
          </div>
        </div>
        <div class="review__second">
          <div class="review__second--icon">
            <img src="assets/img/mainPage/avatar2.png" alt="Отзыв о школе танцев sova dance">
          </div>
          <div class="review__second--title">
            <p>
              | Я в восторге от уютной, домашней атмосферы! Мы приходим не только танцевать,</br>
              | но так же, и пообщаться и с удовольствием провести время. Помимо занятий в зале, собираемся и на нейтральной территории,</br>
              | снимаем видео, вместе ходим отдыхать. Это уже не просто спорт, это настоящие хобби и</br>
              | отличный вариант расслабится после работы.</br>
              | _ _ _ _</br></br>
              | Ксюша
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar3.png" alt="Отзыв о школе танцев на Сходненской">
          </div>
          <div class="review__third--title">
            <p>
              | Хорошая студия, много различных направлений, можно попробовать совсем разные танцы в одном месте,</br>
              | и что самое удобное – по одному абонементу. Цены очень приятные и лояльное отношение к клиентам,</br>
              | всегда можно договориться и решить любой вопрос. Спасибо вам, что вы есть!</br>
              | _ _ _ _</br></br>
              | Мария
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar4.png" alt="Отзыв о школе танцев в Тушино">
          </div>
          <div class="review__third--title">
            <p>
              | Хожу в эту школу уже несколько месяцев, все очень нравится!</br>
              | Находится она не далеко от моего дома, поэтому мне повезло вдвойне.</br>
              | Пришла совсем деревянная, сейчас заметен хороший прогресс в растяжке,</br>
              | надеюсь совсем скоро сяду на шпагат)) Всем советую!</br>
              | _ _ _ _</br></br>
              | Татьяна
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar5.png" alt="Отзыв о школе танцев на Сходненской">
          </div>
          <div class="review__third--title">
            <p>
              | Моя дочь ходит сюда на современные танцы уже второй год.</br>
              | Всегда с большим удовольствием идет на танцы. Дома всегда показывает нам с мужем, чему она научилась.</br>
              | Очень хорошо, что проводятся отчетные концерты, у ребенка есть стимул заниматься. Цены гораздо ниже, чем у других</br>
              | школ танцев, но здесь, определенно, ничем не хуже. Мы приходили на пробное занятие в</br>
              | несколько студий, но выбрали эту, так как детей не много</br>
              | в группе и очень хороший преподаватель.</br>
              | _ _ _ _</br></br>
              | Анна
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  block scripts
    script(
      src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    )
    script
      | $('.slide').slick({});
