extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "main-page";


block content
  <main>
    <div class="main-wrapper">
      <div class="coronavirus-banner">
        <a href="#">⚡ Главное о коронавирусе COVID-19 на Чукотке</a>
      </div>
      <section class="main-info">
        <aside>
          <h2>Последние новости</h2>
          <ul>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Спектакль "Когда киты уходят" покажет в Анадыре ансамбль "Эргырон"</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">На кинофестивале “Золотой ворон” в Анадыре запланирована детская программа</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Жители Чукотки выскажутся о поправках в Конституцию</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Турнир по стрельбе и силовой подготовке провели среди сотрудниц чукотской полиции</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Экспедиции "Берингов мост" преградили путь трещины на льду Чукотского моря</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Эпидемиологическая обстановка по ОРВИ осложнилась в селе Амгуэма</a></li>
            <li><span>20:58 <i>30.04.2020</i></span><a href="#">Прогноз погоды по Чукотскому автономному округу на 7 марта</a></li>
          </ul>
          <div class="advertisment-banner">
            <a href="#" style="background-image: url(assets/img/pr-1.jpg);background-repeat: no-repeat; background-position: center; height: 520px; width: 100%;"></a>
          </div>
          <a href="#" style="background-image: url(assets/img/pr-1.jpg);background-repeat: no-repeat; background-position: center; height: 520px;width: 100%;"></a>
          <a href="#" class="advertisment-banner-second" style="background-image: url(assets/img/gos.svg); background-repeat: no-repeat; padding: 50px 40px; background-position: center;border: 1px solid #DFDFE6; margin-bottom: 20px; border-right: none; border-left: none;"></a>
          <a href="#" class="advertisment-banner-second" style="background-image: url(assets/img/131.png); background-repeat: no-repeat; padding: 50px 40px; background-position: center;border: 1px solid #DFDFE6; border-right: none; border-left: none;"></a>
          <div class="advertisment-banner">
            <a href="#" style="background-image: url(assets/img/pr-1.jpg);"></a>
          </div>
        </aside>
        <div class="main-info__content">
          <div class="main-info__content-news">
            <div class="main-info__content-new">
              <a href="#" style="background-image: url(assets/img/11.jpg);">
                <h3>В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</h3>
                <p><span>20:58</span><span>30.04.2020</span></p>
              </a>
            </div>
            <div class="main-info__content-items">
              <div>
                <a href="#" class="main-info__content-item" style="background-image: url(assets/img/33.jpg);">

                  <h4 >На Чукотке ввели режим всеобщей самоизоляции</h4>
                  <p><span>20:58</span><span>30.04.2020</span></p>
                </a>
              </div>
              <div>
                <a href="#" class="main-info__content-item" style="background-image: url(assets/img/88.jpg);">

                  <h4>Антикоронавирусный проект #МыВместе запустили в России</h4>
                  <p><span>20:58</span><span>30.04.2020</span></p>
                </a>
              </div>
              <div>
                <a href="#" class="main-info__content-item" style="background-image: url(assets/img/7474.jpg);">

                  <h4>На Чукотке увеличат скорость интернета для населения</h4>
                  <p><span>20:58</span><span>30.04.2020</span></p>
                </a>
              </div>
              <div>
                <a href="#" class="main-info__content-item" style="background-image: url(assets/img/7575.jpg);">

                  <h4>На Чукотке "патрульные" будут следить за белыми медведями с помощью системы SMART</h4>
                  <p><span>20:58</span><span>30.04.2020</span></p>
                </a>
              </div>
              </a>
            </div>
          </div>
          <div class="news-columns__items">
            <div class="news-columns__item">
              <a>Официально</a>
              <img src="assets/img/44.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
            <div class="news-columns__item">
              <a>Экономика</a>
              <img src="assets/img/477.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
            <div class="news-columns__item">
              <a>Общество</a>
              <img src="assets/img/8888.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
            <div class="news-columns__item">
              <a>Происшествия</a>
              <img src="assets/img/4666.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
            <div class="news-columns__item">
              <a>Туризм</a>
              <img src="assets/img/557.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
            <div class="news-columns__item">
              <a>Культура</a>
              <img src="assets/img/499.jpg" alt="картинка">
              <ul>
                <li><span>18:00 30.04.2016</span><a href="#">Законопроект о преференциях в Арктике обсудили в Москве</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">В комитете природных ресурсов Чукотки сменился руководитель</a></li>
                <li><span>18:00 30.04.2016</span><a href="#">Часть домов Анадыря поменяет управляющую компанию</a></li>
              </ul>
            </div>
        </div>
        </div>
      </section>
      <div class="promo-block">
        <div class="promo-block__wrapper" >
          <a href="#" style="background-image: url(assets/img/30.jpg); min-height: 260px; display: block;cursor: width: 100%;"></a>
        </div>
      </div>

        <div class="swiper-container swiper-container-first" style="background: rgba(0,0,0,0.7); padding-top: 30px; ">
          <a href="#" >Фото</a>
          <div class="swiper-wrapper" >
            <a class="swiper-slide" style="background-image:url(assets/img/1212.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1414.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1515.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1212.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1414.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1414.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1212.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1414.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1212.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
            <a class="swiper-slide" style="background-image:url(assets/img/1515.jpg)"><span>Бескрайне красивая Чукотка: Национальный парк «Берингия»</span></a>
          </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
      </div>


      <div class="promo-block">
        <a href="#" class="promo-block__wrapper" style="background-image: url(assets/img/promo2.jpg); background-size: cover; min-height: 260px;">
        </a>
      </div>

      <section class="articles">
        <a href="#">Статьи</a>
        <div class="articles-container">
          <div class="articles-container__big">
            <div class="articles-container__big-text" style="background-image:url(assets/img/fon.png)">
              <span>30.04.2020</span>
              <a>«Земли моей начало»: хранитель уходящей эпохи эскимосов Наукана</a>
              <p>Ветеран МВД Виктор Никифоров снял фильм о жителях заброшенного села на окраине Чукотки. На создание ленты у него ушло 10 лет</p>
            </div>
            <div class="articles-container__big-img">
              <img src="assets/img/1313.jpg" alt="картинка">
            </div>
          </div>
          <div class="articles-container__small">
            <div class="articles-container__small-item">
              <a href="#"><img src="assets/img/mamont.jpg" alt="картинка"></a>
              <div class="articles-container__small-item-text">
                <span>30.04.2020</span>
                <a href="#">Карликовые мамонты с острова Врангеля: что сохранилось в архиве и геноме</a>
                <p>Геном этих мамонтов расшифрован, но тайна их гибели так и не раскрыта</p>
              </div>
            </div>
            <div class="articles-container__small-item">
              <a href="#"><img src="assets/img/river.jpg" alt="картинка"></a>
              <div class="articles-container__small-item-text">
                <span>30.04.2020</span>
                <a href="#">«Вагыргын»: побег с «материка»</a>
                <p>Начинающий документалист Катерина Карамазова рассказала о своем возвращении на Север через 18 лет после переезда на «материк» и съемках дипломного фильма</p>
              </div>
            </div>
            <div class="articles-container__small-item">
              <a href="#"><img src="assets/img/man.jpg" alt="картинка"></a>
              <div class="articles-container__small-item-text">
                <span>30.04.2020</span>
                <a href="#">Неизвестный из Уэлена</a>
                <p>Василий Авченко вспоминает о самом известном писателе Чукотки – Юрии Рытхэу</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="promo-block">

        <a href="#" class="promo-block__wrapper" style="background-image: url(assets/img/promo4.jpg); min-height: 260px;">

        </a>
      </div>




      <div class="swiper-container swiper-container-second" style="background: rgba(0,0,0,0.7); padding-top: 30px;">
        <h3 style="margin-bottom: 30px; padding-left: 20px;">Видео</h3>
        <div class="swiper-wrapper" >
          <div class="swiper-slide" style="background-image:url(assets/img/1818.jpg)"><a href="https://www.youtube.com/watch?v=Iropry0YVJw" data-fancybox="gallery" ></a><a href="#">Мир настоящих людей - традиции</a></div>
          <div class="swiper-slide" style="background-image:url(assets/img/2020.jpg)"><a href="https://www.youtube.com/watch?v=2xYfS3pmHp4" data-fancybox="g1"></a><a href="#">Мир настоящих людей - традиции</a></div>
          <div class="swiper-slide" style="background-image:url(assets/img/1919.jpg)"><a href="https://www.youtube.com/watch?v=Iropry0YVJw" data-fancybox="y2" ></a><a href="#">Мир настоящих людей - традиции</a></div>
          <div class="swiper-slide" style="background-image:url(assets/img/1919.jpg)"><a href="https://www.youtube.com/watch?v=Iropry0YVJw" data-fancybox="ry3" ></a><a href="#">Мир настоящих людей - традиции</a></div>
        </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
      </div>

      <div class="promo-block">
        <a href="#" class="promo-block__wrapper" style="background-image: url(assets/img/66.jpg); min-height: 260px;"> 
        </a>
      </div>

        <section class="specialization-projects">
          <a>Спецпроекты</a>
          <div class="specialization-projects__wrapper">
            <a href="#" style="background-image: url(assets/img/aurora.gif); height: 400px; background-repeat: no-repeat;background-size: cover;">
              <span>Жизнь на острове Врангеля</span>
            </a>
          </div>
          <div class="specialization-projects__wrapper">
            <a href="#"  style="background-image: url(assets/img/855.jpg); height: 400px;background-repeat: no-repeat;background-size: cover;">
              <span>Восточный экономический форум 2019</span>
            </a>
          </div>
      </section>


      <section class="questionnaire-wrapper">
        <div class="questionnaire-wrapper__item" style="background-image: url(assets/img/one.png); background-repeat: no-repeat;background-position:80% 100%;">
          <a href="#" class="questionnaire-wrapper__item-title">опросы</a>
          <a href="#">Каким устройством вы чаще пользуетесь для просмотра новостей информагентства  «Чукотка»?</a>
        </div>
        <div class="questionnaire-wrapper__item" style="background-image: url(assets/img/two.png); background-repeat: no-repeat;background-position:80% 100%;">
          <a href="#">Какой он, житель Дальнего Востока?</a>
        </div>
        <div class="questionnaire-wrapper__item" style="background-image: url(assets/img/three.png); background-repeat: no-repeat;background-position:80% 100%;">
          <a href="#">Что подарить человеку, который ни разу не был на Чукотке?</a>
        </div>
      </section>
    </div>
  </main>

//- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
//- <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script> 
//- <script src="swiper/package/js/swiper.min.js"></script>
//- <script src="slick/slick.min.js"></script>
//- <script src="js/main.js"></script>
//- </body>
//- </html>