extends ../layout/main

block variables
  - var title = 'Танцы - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block head 
  //- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
  //- <script src="//kenwheeler.github.io/slick/slick/slick.js"></script>
  <script>new WOW().init();</script>


block content

  //- header 
  <header class="header" id="header">
    <div class="container">
      <div class="headContent d-flex">
        <div class="headContent__title">
          <h1 class="wow fadeInDown">
            | Школа танцев</br>
            | для новичков</br>
            | sova dance</br>
          </h1>
          <div class="headContent__border">
          </div>
          <p>
            | Запишись на пробное занятие и получи скидку 50%!
          </p>
          <div class="headContent__btn d-flex">
            <a href="https://mssg.me/sova_dance" class="bubbly-button main-btn contact-btn d-flex wow heartBeat" data-wow-delay="2s">
              | Записаться на пробное занятие
            </a>
          </div>
        </div>
        <img src="assets/img/mainPage/logoSova.png" alt="Логотип школы танцев sovadance" class="picturesSova wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
      </div>
    </div>
  </header>
  //- AboutUs 
  <section class="section-aboutUs parallax-window" data-parallax="scroll" data-image-src="assets/img/mainPage/a3334.jpg" id="section-aboutUs">
    <div class="container">
      <div class="aboutUs">
        <div class="aboutUs__first-block d-flex">
          <img class="wow zoomInDown" data-wow-delay="0.6s" src="assets/img/mainPage/img_1.jpg" alt="фото танцы в Тушино" class="img1">
          <div class="aboutUs__first-block_content">
            <h2 class="wow fadeInLeft" data-wow-delay="1s">
              | Sova dance
            </h2>
            <p class="wow fadeInLeft" data-wow-delay="1.2s">
              | Это школа танцев в Тушино для новичков.</br>
              | Все наши преподаватели являются</br>
              | профессионалами своего дела, которые любят</br>
              | танцы всей душой, и с удовольствием научат вас</br>
              | всему тому, что умеют сами.
            </p>
            <h3 class="wow fadeInLeft" data-wow-delay="1.4s">
              | Мы убедим вас в том, что танцы
            </h3>
            <p class="wow fadeInLeft" data-wow-delay="1.6s">
              | Это не сложно, приятно, весело</br>
              | и очень полезно для души и тела!</br>
              </br>
              | Программа занятий нацелена на новичков.</br>
              | Предварительная подготовка не требуется,</br>
              | обучение с нуля!
            </p>
          </div>
        </div>
        <div class="aboutUs__second-block d-flex">
          <div class="aboutUs__second-block_content">
            <h2 class="wow fadeInRight" data-wow-delay="0.3s">
              | Преимущества танцевального спорта
            </h2>
            <p class="wow fadeInRight" data-wow-delay="0.4s">
              | Один из самых приятных способов</br>
              | поддерживать фигуру в форме — это танцы!</br>
              | Они не требуют подъема тяжестей или многочасового</br>
              | кручения педалей,</br>
              | это нагрузка, которая доставляет удовольствие</br>
              | и дается очень легко, почти играючи.</br>
            </p>
            <h3 class="wow fadeInRight" data-wow-delay="0.5s">
              | У нас для вас:
            </h3>
            <p class="wow fadeInRight" data-wow-delay="0.6s">
              | более 15и танцевальных направлений,</br>
              | опытные педагоги,</br>
              | просторный зал,</br>
              | приятная, домашняя атмосфера.
            </p>
          </div>
          <img src="assets/img/mainPage/img_2.jpg" alt="Зал школы танцев sovadance" class="img2 wow zoomInDown" data-wow-delay="0.2s">
        </div> 
      </div>
    </div>
  </section>
  //- Gallery 
  <section class="section-gllery" id="section-gllery">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.5s">
        | Галерея
      </h2>
      <div class="gallery d-flex">
        <div class="gallery__photo">
          <div class="gallery__photo-firstStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo1.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo1.jpg" alt="фото преподавателя sovadance" title="Преподаватель Мария" class="photo1 wow fadeInUp" data-wow-delay="0.5s">
            </a>
            <a href="assets/img/mainPage/gallery/photo2.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo2.jpg" alt="танцы в тушино" title="Мы танцуем!)" class="photo2 wow fadeInUp" data-wow-delay="0.6s"> 
            </a>
          </div>
          <div class="gallery__photo-secondStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo3.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo3.jpg" alt="ученики школы танцев" title="Ученики школы танцев Sova-Dance" class="photo3 wow fadeInUp" data-wow-delay="0.8s">
            </a>
            <a href="assets/img/mainPage/gallery/photo4.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo4.jpg" alt="ученики школы танцев sovadance" title="ученики школы танцев Sova-Dance" class="photo4 wow fadeInUp" data-wow-delay="0.7s">
            </a>
          </div>
          <div class="gallery__photo-thirdStrip d-flex">
            <a href="assets/img/mainPage/gallery/photo5.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo5.jpg" alt="отчетный концерт sovadance в Тушино" title="Отчетный концерт Sova-Dance в Тушино" class="photo5 wow fadeInUp" data-wow-delay="0.9s">
            </a>
            <a href="assets/img/mainPage/gallery/photo6.jpg" data-lightbox="image-1">
            <img src="assets/img/mainPage/gallery/photo6.jpg" alt="фото со съемок sovadance" title="Фото со съемок Sova-Dance" class="photo6 wow fadeInUp" data-wow-delay="1s">
            </a>     
          </div>
        </div>
        <div class="gallery__title wow fadeIn" data-wow-delay="1s">
          <h3>
            | процесс занятий
          </h3>
          <p>
            | &nbsp; Танцы прекрасно тренируют силу и гибкость, развивают
            | координацию движений. Они полезны для сердечнососудистой и
            | дыхательной системы.</br></br>

            | &nbsp; Занятия способствуют стройности,
            | формированию правильной осанки и сильного мышечного корсета,
            | а также повышают жизненный тонус, поднимают настроение.
            | Разучивая комбинации, позы и связки под музыку, вы также
            | совершенствуете ваше чувство ритма и эстетический вкус.</br></br>
          </p>
          <div class="hide-on-1024">
            <p>
              | &nbsp; Танцы учат не только владеть собственным телом, но и любить
              | его. Во время занятий вы сможете раскрепоститься и избавиться
              | от многих комплексов. Грациозная походка, царственная осанка,
              | уверенный взгляд и доброжелательная улыбка выделят вас не
              | только на любом танцполе, но и сделают заметными в уличной толпе!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  //- Video 
   <section class="section-video" id="section-gllery">
    <div class="container">
      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/fVQ-CyJkW-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
    </div>
    </section> 
  //- OurTrainers 
  <section class="section-ourTrainers" id="section-ourTrainers">
    <div class="container">
      <div class="ourTrainers__title">
        <h2 class="wow fadeInUp" data-wow-delay="0.2s">
          | Наши преподаватели
        </h2>
        <div class="ourTrainrs__borders d-flex">
          <div class="ourTrainrs__border--orange wow fadeInUp" data-wow-delay="0.2s">

          </div>
          <div class="ourTrainrs__border--white wow fadeInUp" data-wow-delay="0.2s">

          </div>
        </div>
      </div>
      <div class="slide">
        <div class="ourTrainers__photos-pageOne d-flex">
          <div class="trainer-card1-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer1.jpg" alt="Преподаватель танцев в Тушино Элиза" class="trainer1">
              <div class="trainer-card__shadow1">
                <h3>
                  | Дарья</br>
                </h3>
                <p>
                  | Направления:</br></br></br>
                  a(href="napravleniya/baby-ballet.html" class="trainers-link") BABY DANCE </br></br>
                  a(href="napravleniya/latina-solo.html" class="trainers-link") LATINA SOLO </br></br>
                  a(href="napravleniya/hip-hop.html" class="trainers-link") LATINA KIDS </br>
                  //- <a href="napravleniya/dance-mix.html" class="trainers-link" DANCE MIX</a></br>
                  //- <a href="napravleniya/street-dance-experimental.html" class="trainers-link" ПАРНЫЕ ТАНЦЫ</a></br>
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card2-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer2.jpg" alt="Преподаватель танцев на сходненской Регина" class="trainer2">
              <div class="trainer-card__shadow2">
                <h3>
                  | Маргарита</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  a(href="napravleniya/baby-ballet.html" class="trainers-link") BABY DANCE</a></br></br>
                  a(href="napravleniya/stretching.html" class="trainers-link") STRETCHING</a></br></br>
                  a(href="napravleniya/body-shape.html" class="trainers-link") LADYS DANCE</a></br></br>
                  a(href="napravleniya/dance-mix-kids.html" class="trainers-link") DANCE MIX</a></br></br>
                  a(href="napravleniya/club-dance-kids.html" class="trainers-link") CLUB DANCE</a></br></br>
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card3-hover">
            <div class="trainer-card d-flex">
              <img src="assets/img/mainPage/trainers/trainer3.jpg" alt="Преподаватель танцев sova dance Полина" class="trainer3">
              <div class="trainer-card__shadow3">
                <h3>
                  | Хэлен</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  //- <a href="napravleniya/hip-hop.html" class="trainers-link" DANCE MIX</a> </br>
                  a(href="napravleniya/zumba.html" class="trainers-link") BODY SHAPE</a></br></br>
                  //- <a href="napravleniya/baby-ballet.html" class="trainers-link" BABY DANCE</a> 
                </p>
              </div>
            </div>
          </div>
          <div class="trainer-card6-hover">
            <div class="trainer-card cards-pageTwo d-flex">
              <img src="assets/img/mainPage/trainers/trainer6.jpg" alt="Преподаватель танцев в Тушино Ирина" class="trainer6">
              <div class="trainer-card__shadow6">
                <h3>
                  | Ирина</br>
                </h3>
                <p>
                  | Направления: </br></br></br>
                  a(class="trainers-link") ЦЫГАНСКИЕ ТАНЦЫ</a></br></br>
                </p>
              </div>
            </div>
          </div>                    
        </div>
        //- 
          <div class="ourTrainers__photos-pageTwo d-flex">
            <div class="trainer-card4-hover">
              <div class="trainer-card d-flex">
                <img src="./ourTrainers/trainer4.jpg" alt="Преподаватель танцев в Тушино Оксана" class="trainer4">
                <div class="trainer-card__shadow4">
                  <h3>
                    | Оксана</br>
                  </h3>
                  <p>
                    | Направления: </br></br></br>
                    a href="napravleniya/body-ballet.html" class="trainers-link" BODY BALLET</a></br>
                    a href="napravleniya/classic-ballet.html" class="trainers-link" CLASSIC BALLET</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="trainer-card7-hover">
              <div class="trainer-card cards-pageTwo d-flex">
                <img src="./ourTrainers/trainer7.jpg" alt="Преподаватель танцев в Тушино Арина" class="trainer7">
                <div class="trainer-card__shadow7">
                  <h3>
                    | Арина</br>
                  </h3>
                  <p>
                    | Направления: </br></br></br>
                    a href="napravleniya/yoga.html" class="trainers-link" YOGA</a></br>
                  </p>
                </div>
              </div>
            </div>
          </div> 
      </div>
    </div>
  </section>
  //- Achievements 
  <section class="section-achievements" id="section-achievements">
    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0.2s">
        | Наша гордость
      </h2>

      <div class="achievements d-flex">
        <div class="achievements__trainers d-flex wow bounce" data-wow-delay="0.3s" >
          <img src="assets/img/mainPage/iconTrainers.png" alt="7 преподавателей">
          <p>
            | 7 Преподавателей
          </p>
        </div>
        <div class="achievements__direction d-flex wow bounce" data-wow-delay="0.4s" >
          <img src="assets/img/mainPage/iconDirection.png" alt="15 Танцевальных направлений">
          <p>
            | 15</br>
            | Танцевальных</br>
            | направлений
          </p>
        </div>
        <div class="achievements__experience d-flex wow bounce" data-wow-delay="0.5s" >
          <img src="assets/img/mainPage/iconLike.png" alt="Преподавательский стаж более 9 лет">
          <p>
            | Преподавательский</br>
            | стаж более 9 лет
          </p>
        </div>
        <div class="achievements__love d-flex wow bounce" data-wow-delay="0.6s">
          <img src="assets/img/mainPage/iconHart--new.png" alt="Более 500 удовлетворенный клиентов">
          <p>
            | Более 500</br>
            | удовлетворенный</br>
            | клиентов
          </p>
        </div>
      </div>
    </div>
  </section>
  //- Review 
  <section class="section-review" id="section-review">
    <div class="container">
      <div class="review-title">
        <h2 class="wow fadeInUp" data-wow-delay="0.2s">
          | Отзывы
        </h2>
      </div>
      <div class="slide">
        <div class="review__first">
          <div class="review__first--icon">
            <img src="assets/img/mainPage/avatar1.png" alt="Отзыв о школе танцев в Тушино">
          </div>
          <div class="review__first--title">
            <p>
              | Очень нравится, что здесь мини-группы. Не бывает толпы людей, очень комфортно и приятно заниматься.</br>
              | Хожу на Стрип-Пластику – очень довольна. Каждому, кто приходит на занятие уделяется отдельное внимание,</br>
              | всегда можно уточнить, если что-то не понятно. Очень хороший хореограф. Буду, с удовольствием, продолжать занятия.</br>
              | _ _ _ _</br></br>
              | Елена
            </p>
          </div>
        </div>
        <div class="review__second">
          <div class="review__second--icon">
            <img src="assets/img/mainPage/avatar2.png" alt="Отзыв о школе танцев sova dance">
          </div>
          <div class="review__second--title">
            <p>
              | Я в восторге от уютной, домашней атмосферы! Мы приходим не только танцевать,</br>
              | но так же, и пообщаться и с удовольствием провести время. Помимо занятий в зале, собираемся и на нейтральной территории,</br>
              | снимаем видео, вместе ходим отдыхать. Это уже не просто спорт, это настоящие хобби и</br>
              | отличный вариант расслабится после работы.</br>
              | _ _ _ _</br></br>
              | Ксюша
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar3.png" alt="Отзыв о школе танцев на Сходненской">
          </div>
          <div class="review__third--title">
            <p>
              | Хорошая студия, много различных направлений, можно попробовать совсем разные танцы в одном месте,</br>
              | и что самое удобное – по одному абонементу. Цены очень приятные и лояльное отношение к клиентам,</br>
              | всегда можно договориться и решить любой вопрос. Спасибо вам, что вы есть!</br>
              | _ _ _ _</br></br>
              | Мария
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar4.png" alt="Отзыв о школе танцев в Тушино">
          </div>
          <div class="review__third--title">
            <p>
              | Хожу в эту школу уже несколько месяцев, все очень нравится!</br>
              | Находится она не далеко от моего дома, поэтому мне повезло вдвойне.</br>
              | Пришла совсем деревянная, сейчас заметен хороший прогресс в растяжке,</br>
              | надеюсь совсем скоро сяду на шпагат)) Всем советую!</br>
              | _ _ _ _</br></br>
              | Татьяна
            </p>
          </div>
        </div>
        <div class="review__third">
          <div class="review__third--icon">
            <img src="assets/img/mainPage/avatar5.png" alt="Отзыв о школе танцев на Сходненской">
          </div>
          <div class="review__third--title">
            <p>
              | Моя дочь ходит сюда на современные танцы уже второй год.</br>
              | Всегда с большим удовольствием идет на танцы. Дома всегда показывает нам с мужем, чему она научилась.</br>
              | Очень хорошо, что проводятся отчетные концерты, у ребенка есть стимул заниматься. Цены гораздо ниже, чем у других</br>
              | школ танцев, но здесь, определенно, ничем не хуже. Мы приходили на пробное занятие в</br>
              | несколько студий, но выбрали эту, так как детей не много</br>
              | в группе и очень хороший преподаватель.</br>
              | _ _ _ _</br></br>
              | Анна
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  block scripts
    //- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    //- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    //- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    //- <script>$('.slide').slick({});</script>
    //- <script>new WOW().init();</script>
    //- <script>$('.slide').slick({});</script>

  //- <script src="js/wow.min.js"></script>
//-   <script>new WOW().init();</script>
//- script 
//-     include js/wow-min.js

//- <script src="js/wow.min.js"></script>
//- <script>
//-     new WOW().init();
//- </script>
//- Contacts 
//-     <section class="section-contacts" id="section-contacts">
//-         <div class="container">
//-             <div class="contacts-ad">
//-                 <h2 class="wow fadeInUp" data-wow-delay="0.2s">
//-                     | Запишись сейчас на первое занятие и получи скидку 50%
//-                 </h2>
//-                 <div class="contacts-ad__btn d-flex">
//-                     <a href="https://mssg.me/sova_dance" class="bubbly-button main-btn contact-btn d-flex wow fadeInUp" data-wow-delay="0.4s">
//-                         | Записаться на пробное занятие 
//-                     </a>
//-                     <a href="napravleniya/index.html" class="bubbly-button main-btn contact-btn d-flex wow fadeInUp" data-wow-delay="0.4s">
//-                         | Расписание занятий
//-                     </a>
//-                 </div>
//-             </div>
//-             <div class="contacts-inf d-flex">
//-                 <div class="contacts-inf__widgets wow fadeInUp" data-wow-delay="0.5s">
//-                     <!-- Inst Widget -->
//-                     <div data-mc-src="7ad15dec-b2c6-45d2-b6ee-f1011fac71bd#instagram"></div>
//-                     <script 
//-                     src="https://cdn2.woxo.tech/a.js#6115254a17f2780015cfc185" 
//-                     async data-usrc>
//-                     </script>
//-                     <!-- Vk Widget -->
//-                     <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
//-                     <div id="vk_groups"></div>
//-                     <script type="text/javascript">
//-                     VK.Widgets.Group("vk_groups", {mode: 3, width: "330"}, 109932785);
//-                     </script>
//-                 </div>
//-                 <!-- VK Widget message  -->
//-                 <div id="vk_community_messages" class="wow flip" data-wow-delay="90s"></div>
//-                 <script type="text/javascript">
//-                 VK.Widgets.CommunityMessages("vk_community_messages", 109932785, {disableButtonTooltip: "1"});
//-                 </script>
//-                 <div class="contacts-inf__link wow fadeInUp" data-wow-delay="0.5s">
//-                     <a href="https://www.instagram.com/sovadance/">
//-                         <img src="assets/img/mainPage/iconinst.png" alt="инстаграмм sovadance" title="Sova-Dance в инстаграм" class="inst-logo">
//-                     </a>
//-                     <a href="https://vk.com/owl_dance">
//-                         <img src="assets/img/mainPage/iconvk.png" alt="вконтакте sovadance" title="Sova-Dance вконтакте" class="vk-logo">
//-                     </a>
//-                     <h2>
//-                         <a href='tel:+79269359556'>Телефон: +7(926) 935-95-56 (WhatsApp; Viber)</a>
//-                     </h2>
//-                     <h3>
//-                         | Москва ул.Фабрициуса д.22
//-                     </h3>
//-                     <h4>
//-                         | Эл.почта: sova.dance@yandex.ru
//-                     </h4>
//-                 </div>
//-             </div>
//-             <div class="contact-inf__border"></div>
//-         </div>
//-         <!-- map -->
//-         <div id="map" class="map">
//-         </div>
//-         <!-- map -->
//-         <div class="contact-card  wow fadeIn" data-wow-delay="1s">
//-             <img src="assets/img/mainPage/img_2.jpg" alt="sovadance контакты" title="контакты Sova-Dance" class="contact-cadr__img">
//-             <div class="contact-card__inf d-flex">
//-                 <div class="contact-card__title">
//-                     <h3>
//-                         | +7(926)935-95-56
//-                     </h3>
//-                     <h4>
//-                         | Sova-dance</br>
//-                     </h4>
//-                     <h5>
//-                         | м. Сходненская</br>
//-                         | Фабрициуса 22
//-                     </h5>
//-                 </div>
//-                 <div class="contact-card__logo">
//-                     <img src="assets/img/mainPage/iconSova.png" alt="sovadance контакты" title="контакты Sova-Dance" class="contact-cadr__logo">
//-                 </div>
//-             </div>
//-         </div>
//-         <a class="bubbly-button main-btn btn-way wow fadeIn" data-wow-delay="1s">
//-             | Как пройти
//-         </a>
//-     </section>
//- <!-- popUp_html way -->
//- <div style="display: none;">
//-     <div class="box-modal-way" id="exampleModal-way">
//-         <div class="box-modal_close arcticmodal-close">закрыть</div>
//-         <div class="how-to-way">
//-             <h2>
//-                 | Как нас найти?
//-             </h2>
//-             <p>
//-                 | ул. Фабрициуса 22. Это высокий жилой дом за забором. Калитка для прохода находится со стороны Колледжа Полиции.</br></br>
//-                 | Если охрана будет спрашивать куда вы - скажите в школу танцев. Нужно обойти дом сзади (с обратной стороны от подъездов).</br></br>
//-                 | Там с одного угла будет тренажёрный зал, а с другого угла - школа английского языка. </br></br>
//-                 | Вам нужен вход, которых находится посередине (по лестнице наверх). На двери пока нет никакой вывески. Около двери есть звонок, нужно будет позвонить и Вам откроют.
//-             </p> 
//-         </div>
//-     </div>
//- </div>
//- map 
//- <script src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript"></script>
//- <!-- jquery -->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

//- <!-- parallax -->
//- <script src="js/parallax.min.js"></script>
//- <!-- animation -->
//- <link rel= "stylesheet" href="css/animate.css" media="handheld,only screen and (min-device-width:1024px)"/>
  //- <!-- carousel -->
  //- <script src="js/slick.min.js"></script>
  //- <!--popUp-->
  //- <script src="js/jquery.arcticmodal-0.3.min.js"></script>
  //- <!--lightBox-->
  //- <script src="js/lightbox.min.js"></script>
  //- <!-- menu -->
  //- <script src="js/prettySticky.js"></script>
  //- <!-- scroll -->
  //- <script src="js/jquery.malihu.PageScroll2id.min.js"></script>
  //- <script src="js/common.js"></script>
  //- <!-- mainJS -->
  //- <script src="js/scripts.js"></script>
