extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "news-page";


block content
      <main class="news">
        <div class="news-wrapper">
          <div class="news-container">
            <h1>Новости</h1>
            <ul class="news-container__list">
              <li class="active" data-value='all'><a href="#" >Все новости</a></li>
              <li data-value='off'><a href="#" >Официально</a></li>
              <li data-value='eco'><a href="#" >Экономика</a></li>
              <li data-value='soc'><a href="#" >Общество</a></li>
              <li data-value='pr'><a href="#" >Происшествия</a></li>
              <li data-value='tur'><a href="#" >Туризм</a></li>
              <li data-value='cul'><a href="#" >Культура</a></li>
            </ul>
          </div>
          <div class="news-content">
            <div class="news-content__first">
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/333.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/55.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/88.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/123.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/445.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/8888.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/466.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/477.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/557.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='all'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/8888.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/55.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/123.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/477.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/557.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item news-content__first-item-more">
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>

              <!-- блоки для демо фильтрации -->
              <div class="news-content__first-item" data-name='off' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='off' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='eco' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='soс' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='soс' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='pr' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='tur' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='cul' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>

              <div class="news-content__link">Показать еще</div>
              <div class="news-content__list">
                <ul>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                    </svg></a></li>
                  <li class='active'><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">..</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 7L1 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                  </svg></a></li>
                </ul>
              </div>
            </div>
            <div class="news-content-second">
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
            </div>
          </div>
          
        </div>
      </main>
