extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "news-item-page";

block head
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v8.0" nonce="P4DDFZf5")

block content
      <main class="news-item-main">
        <div class="news-item-main__wrapper">
          <div class="news-item-main__container">
            <div class="news-item-main__container-first">
              <div class="news-item-main__container-first-one"><span><a href="#">Новости</a>20.04.2019   13:35</span></div>
              
              <h1>На Чукотке "патрульные" будут следить за белыми медведями с помощью системы SMART</h1>
              <p>Комплекты оборудования добровольцам в сёлах Ванкарем и Рыркайпий передали эксперты WWF</p>
              <div class="news-item-main__container-first-img">
                <img src="assets/img/177.jpg" alt="картинки">
                <p>Геннадий Федоров, государственный инспектор в области охраны окружающей среды государственного природного заповедника "Остров Врангеля"</p>
                <span>© ИА «Чукотка»</span>
              </div>
              <div class="news-item-main__container-first-text">
                <p>Медвежьи патрули в двух сёлах городского округа Эгвекинот будут вести мониторинг полярного хищника с помощью системы Spatial Monitoring and Reporting Tool (SMART). Комплекты оборудования добровольцам в Ванкареме и Рыркайпии передали эксперты Всемирного фонда дикой природы (WWF России), сообщает ИА "Чукотка".</p>

                <p>«В Ванкареме и в Рыркайпии обучение пройдут по 2-3 человека, это активные команды патрулей, которые работают под командованием Сергея Кавры и Татьяны Миненко. Обучение на месте проведёт эксперт WWF Михаил Яблоков, он же передаст оборудование патрульным – ноутбук, 2-3 смартфона и аккумуляторы», – сообщил корр. ИА "Чукотка" координатор арктических проектов WWF России Дмитрий Рябов.</p>

                <p>Сейчас на побережье Чукотского моря белых медведей практически нет. Но уже через месяц-полтора из берлог выйдут самки с новорождёнными медвежатами и патрульные смогут заносить информацию о животных в специальную программу.</p>
              </div>
              <div class="news-item-main__container-first-video">
                <iframe width="860" height="480" src="https://www.youtube.com/embed/08pXT-Gt7dI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Белых медведей и моржей на Чукотке считают с помощью квадрокоптера</p>
                <span>© ИА «Чукотка»</span>
              </div>
              <div class="news-item-main__container-first-text">
                
                p Сейчас на побережье Чукотского моря белых медведей практически нет. Но уже через месяц-полтора из берлог выйдут самки с новорождёнными медвежатами и патрульные смогут заносить информацию о животных в специальную программу.
                p «Актуальность медвежьих патрулей растет с каждым годом. Люди и хищники в Арктике встречаются друг с другом все чаще. Основная причина – сокращение площади льдов из-за меняющегося климата. Задача волонтеров – обеспечение безопасности местных жителей в посёлках. При этом и животные, занесенные в Красную книгу, не должны страдать. Поэтому мы и дальше в меру сил и возможностей будем поддерживать и развивать систему медвежьих патрулей», – отметил директор программы по сохранению биоразнообразия WWF России Дмитрий Горшков.
                p Напомним, что недавно SMART начали использовать инспекторы нацпарка "Берингия". Система распространена в мире, её используют для сбора данных о белом медведе и его встречах с человеком в арктических странах, но до последнего времени в России подобный мониторинг не проводился.
              </div>
              <ul class="tags-list">
                <li><a href="#">Чукотка</a></li>
                <li><a href="#">Белый медведь</a></li>
                <li><a href="#">WWF России</a></li>
                <li><a href="#">Животные</a></li>
              </ul>

            
              +media()
            +fbPlugin()

            <div class="materials">
              <h2>Материалы по теме</h2>
              <ul>
                <li><span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a></li>
                <li><span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a></li>
                <li><span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a></li>
                <li><span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a></li>
                <li><span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a></li>
              </ul>
            </div>
              
              
            </div>
           
            <div class="news-item-main__container-second">
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
            </div>
             
          </div>
        </div>
      </main>
