extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "podcast-page";


block content
      <main class="news">
        <div class="news-wrapper">
          <div class="news-container">
            <h1>Подкасты</h1>
          </div>
          <div class="news-content">
            <div class="news-content__first">
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/1-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Чего точно не стоит делать, если у вас проблемы  с финансами</a>
                  <p><a href="#">42 мин.</a></p>
                  
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/2-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Что такое коронавирус и как им не заболеть</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/3-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Я сумела доказать, что я в это верю и смогу заработать: как вести бизнес в 16 лет</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/4-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Что не так с высшим образованием в России</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/5-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Как научиться разбираться в современном искусстве</a>
                  <p><a href="#">42 мин.</a></p>
                  
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/6-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Как научиться разбираться в современном искусстве</a>
                  <p><a href="#">42 мин.</a></p>
                 
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/9-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Как фрилансеру сохранять баланс рабочей и личной жизни</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/pod-11.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Как реагировать на грубую критику: метод Стива Джобса</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/pod-11.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Как реагировать на грубую критику: метод Стива Джобса</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <div class="news-content__first-item podcast-item" data-name='all'>
                <img src="assets/img/10-pod.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">Продукты-обманщики: какие тренды в питании нам навязывают и говорят, что они полезные</a>
                  <p><a href="#">42 мин.</a></p>
                </div>
              </div>
              <!-- блоки для демо фильтрации -->
              <div class="news-content__first-item" data-name='off' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='off' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='eco' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='soс' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='soс' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='pr' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='tur' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item" data-name='cul' style='display: none;'>
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>

              <div class="news-content__link">Показать еще</div>
              <div class="news-content__list">
                <ul>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                    </svg></a></li>
                  <li class='active'><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">..</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#"><svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L7 7L1 13" stroke="#DFDFE6" stroke-width="2" stroke-linejoin="round"/>
                  </svg></a></li>
                </ul>
              </div>
            </div>
            <div class="news-content-second">
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
            </div>
          </div>
          
        </div>
      </main>
