extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "podcast-page";


block content
      

      main
        .title-container
          h1 Реклама на портале
        
        .container
          section.legal-information__content 
            .content__rules 
              h2 Правила размещения рекламы на Яндексе. Требования к рекламным материалам
              p Реклама некоторых товаров и услуг запрещается или ограничивается действующим законодательством. В этом документе рассказывается о том, что, как и почему можно или нельзя рекламировать, а также приведены цитаты из законов, объясняющие действующие запреты и ограничения.
    
              h2 Нельзя рекламировать*
              p — товары, производство и (или) реализация которых запрещены законодательством Российской Федерации. Например: контрафактные товары; услуги регистрации по месту жительства; дипломы;
              p — наркотические вещества, психотропные вещества и их прекурсоры;
              p — взрывчатые вещества и материалы, кроме пиротехнических изделий;
              p — товары и услуги, подлежащие сертификации / лицензированию, при отсутствии необходимых сертификатов / лицензий;
              p — распространение (продажу) дистанционным способом товаров, свободная реализация которых запрещена или ограничена законодательством РФ;
              p — табачные изделия и курительные принадлежности;
              p — медицинские услуги по искусственному прерыванию беременности.
              p — Нельзя рекламировать в интернете* оружие;
              p — основанные на риске игры и пари, а также их организаторов;
              p — основанные на риске игры и пари, а также их организаторов;
              p — алкогольную продукцию.
            
              h2 Реклама товаров и услуг, подлежащих сертификации / лицензированию, при отсутствии необходимых сертификатов / лицензий
              p Не разрешается реклама товаров в случае отсутствия такой сертификации или лицензии (ст. 7 ФЗ «О рекламе»).
              p Копии Сертификатов или Лицензий должны быть предоставлены в службу размещения до момента начала размещения рекламы (ст. 13 ФЗ «О рекламе»).
              p Подробнее: статья 7 и статья 13 ФЗ «О рекламе».


              //- +media
              //- +fbPlugin()

              //- <div class="materials">
              //-   h2 Материалы по теме
              //-   <ul>
              //-     li <span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a>
              //-     li <span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a>
              //-     li <span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a>
              //-     li <span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a>
              //-     li <span>03.05.2020</span><a href="#">На защиту прибрежных сёл Чукотки от белых медведей направят 3 млн рублей</a>
              //-   </ul>
              //- </div>
                      

            - var banners = ['tele']
            +advertising(banners)




