extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "search-page";


  - 
    var newsTitles = [
      'Жителям Чукотки компенсируют штрафы за возврат билетов из-за COVID-19',
      'Главу Чукотки госпитализировали после контакта с больным COVID-19',
      'Ситуация с масштабными лесными пожарами на Чукотке стабилизируется',
      'Ученые нырнут в озера Чукотки в поисках редких видов рыб',
    ]

  - 
    var newsDesc = [
      'Власти Чукотки выделили 1 миллион рублей на возмещение штрафов за возврат неиспользованных с 1 марта авиабилетов по внутрирегиональным маршрутам, сообщает окружной департамент социальной политики.',
      'Глава Чукотки Роман Копин госпитализирован с пневмонией после контакта с зараженным коронавирусом, он ждет результатов анализов. В результате контакта с носителем COVID-19 несколько дней держится высокая температура. По результатам обследования - пневмония. Взяли тест на вирус, жду результатов. Следуя...',
      'Ситуация с лесными пожара на Чукотке, где полыхали тысячи гектаров природных территорий, стабилизируется, в одном районе снят режим ЧС, сообщается в Instagram-аккаунте губернатора региона Романа Копина.',
      'Исследователи погрузятся в озера Кроноцкого заповедника, чтобы изучить виды рыб, обнаруженные там в 2019 году. Они будут использовать оборудование, разработанное специалистами МГУ имени М. В. Ломоносова, сообщается на сайте Минприроды России.',
    ]
  - 
    var questions = [
      'В каком из мест на Чукотке вы хотели бы побывать?'
    ]


block content
      main
        .title-container
          h1 Результаты поиска по запросу #[span “Чукотка”]
        .container
          section.search-page__content 
            h2 Найдено результатов: #[span 215]
            +searchItem(newsTitles[0], newsDesc[0], true)
            +searchItem(newsTitles[1], newsDesc[1], true)
            +searchItem(newsTitles[2], newsDesc[2], true)

            +searchItem(questions[0], null, false)

            +searchItem(newsTitles[3], newsDesc[3], true)
            +searchItem(newsTitles[0], newsDesc[0], true)
            +searchItem(newsTitles[1], newsDesc[1], true)
            +searchItem(newsTitles[2], newsDesc[2], true)

            +searchItem(questions[0], null, false)

            +searchItem(newsTitles[3], newsDesc[3], true)

        .container-without-padding
          +showMore()
          +pagination()






