extends ../layout/main

block variables
  - var title = 'Танцы - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'all-directions-page';

block content
  <header class="header" id="header">
    <div class="container">
      <a href="../index.html">
        <img src="assets/img/btn-back.png" alt="кнопка перехода на главную страницу sovadance" class="btn-back">
      </a>
      <h1 class="service-title wow fadeInUp">
        | Наши услуги и цены
      </h1>
      <div class="servise-wrap flex-wrap d-flex">
        <div class="service-card d-flex wow fadeIn" data-wow-delay="0.2s">
          <img src="assets/img/service-page/pervoe-zanyatie.jpg" alt="скидка на первое занятие" class="">
          <h2>
            | Первое пробное занятие
          </h2>
          <p>
            | Со скидкой всего за 400 руб.
          </p>
          <a href="https://mssg.me/sova_dance" class="service-card--btn">
            | Записаться
          </a>
        </div>
        <div class="service-card d-flex wow fadeIn" data-wow-delay="0.3s">
          <img src="assets/img/service-page/group.jpg" alt="груповые занятия в sovadance" class="">
          <h2>
            | Групповые занятия
          </h2>
          <p>
            | Разовые и абонементы
          </p>
          <a class="service-card--btn btn-group">
            | Подробнее
          </a>
        </div>
        <div class="service-card d-flex card-indiv wow fadeIn" data-wow-delay="0.4s">
          <img src="assets/img/service-page/questions.jpeg" alt="индивидуальные занятия в sovadance" class="">
          <h2>
            | Условия оплаты
          </h2>
          <p>
            | Срок действия абонементов
          </p>
          <a class="service-card--btn btn-solo">
            | Подробнее
          </a>
        </div>
      </div>
    </div>
  </header>
  
  include ../servicePopups


