extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "special-project-page";


block content
      <main class="special-project-main">
        <div class="special-project-banner" style="background-image:url(assets/img/777.jpg)" >
          <a href="#">Спецпроекты</a>
          <h1>Жизнь на острове Врангеля</h1>
          <p>Место, где прописан один человек</p>
        </div>

        <div class="special-project__text">
          <p class="special-project__text-bold">К острову Врангеля, или, как чаще говорят, Острову (именно так, с заглавной буквы), живущие здесь относятся уважительно. Он может «не впустить» и также «не отпустить». Не уедешь — и все тут. Полюбишь и пургу, и одиночество, и скромный быт, забудешь материк, прирастешь всей душой к туманам, ветрам и изменчивой погоде. Станешь одним из «робинзонов» — инспектором государственного природного заповедника «Остров Врангеля».</p>
          <p>Просто перестанешь вписываться всеми своими углами в реальность и суету. Перейдешь в другой ритм. Ритм Чукотского и Восточно-Сибирского морей, неспешного шага по мягкой тундре, разговора с северными людьми. Ритм нормального и вечного мира.</p>

          <p>Игорь, Ульяна и Геннадий, каждый по своей причине, однажды приехали на Врангеля и остались. Кто-то пока на свой первый сезон, кто-то — на 34 года.</p>
        </div>

         <div class="swiper-article gallery-thumbs" style="margin-top: 60px;">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
          </div>
        </div>
        <div class="swiper-article gallery-top" style="margin-bottom: 60px;">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/img/s1.jpg)"></div>
          </div>
        </div>

        <div class="special-project__text">
          <h2>Работа в другом месте</h2>
          <p>Игорь Петрович Олейников — единственный человек, официально прописанный на острове Врангеля.</p>

          <p>«До армии работал лесником, призвали — попал на мыс Шмидта. Помню, выхожу на берег, а там нет деревьев. Впервые увидел такую суровую природу», — рассказывает Игорь.</p>

          <p>Однажды, еще во время службы, он посмотрел передачу «В мире животных», посвященную острову Врангеля, и решил, что его обязательно нужно увидеть, написал в заповедник и попросился на работу. Получил ответ, что «целесообразнее искать работу в другом месте».</p>

          <p class="special-project__text-bold">Замполит меня отговаривал: и деньги маленькие, и Север. А мне не нужны были деньги, мне хотелось на остров. Я был согласен на все условия и написал еще раз», — вспоминает Игорь</p>

          <p>Шло время, а ответа все не было. Служба закончилась, Игорь с другом устроились в совхоз оленеводами и случайно встретили в аэропорту замдиректора заповедника. Оказалось, что приглашение Игорю было выслано, но пропало — замполит спрятал письмо. Через месяц Игорь с другом уже работали на острове Врангеля. Поехали на туда не одни — для компании прихватили котенка.</p>

          <p>Контракт с инспекторами, а в те времена с лесниками, заключался на два года.</p>

          <p>«Первые годы я объездил все птичьи базары, работал с научным сотрудником, охранял его. Контракт закончился, и я понял, что видел не весь остров, хотелось посмотреть еще, ну и остался… на 34 года», — говорит Игорь.</p>

          <p>Он заочно окончил институт, привез жену, на острове родилась дочь.</p>

          <p>«Раньше вместе с полярной станцией в поселке Ушаковское было человек 150. Когда полярная станция еще работала, было много семей. Однажды одна женщина забрала дочь из садика и повела домой. У девочки была белая шубка. К ним подошел медведь, схватил малышку и потащил. Женщина сняла с себя ремень и им отбила ребенка у медведя. Девочка даже не испугалась».</p>

          <p>Игорь говорит, что к медведям относится с симпатией, но за все годы работы на острове ему пришлось убить четырех хищников. Все эти истории были связаны с нападением животных на людей, все — со смертельным исходом.</p>

          <p class="special-project__text-bold">Я не знаю, как живут люди на материке. Работа — дом — работа? Друзей там мало осталось. Не могу представить себя трудящимся в офисе или на заводе».</p>

          <p>Семья Игоря давно живет на материке, родных он видит только в отпуске раз в два года.</p>

          <p>«Одиночество здесь не ощущаешь. Была ситуация, когда я остался в заповеднике один, — научные сотрудники после сезона уехали. Зимовал. Полярная станция в километре. Света нет. Генератор завел, аккумуляторы зарядил — и хорошо. Зато книжки читал, — вспоминает инспектор. — Было много разных случаев, приходилось и в тундре ночевать, спрятавшись за снегоходом, и обморожения были, но желания уехать не возникало».</p>
        </div>


        <div class="swiper-second">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/img/slider.jpg" alt="картинка"></div>
            <div class="swiper-slide"><img src="assets/img/slider.jpg" alt="картинка"></div>
            <div class="swiper-slide"><img src="assets/img/slider.jpg" alt="картинка"></div>
          </div>
         
          <div class="swiper-pagination"></div>
        </div> 

        <div class="special-project__text">
          <h2>Остров никого не оставит прежним</h2>
          <p>Геннадий Федоров больше пяти лет мечтал попасть на остров Врангеля. Работал в природном парке на Среднем Урале на реке Чусовой: «Хотелось понять, как функционирует экологическая сфера в России, получить опыт».</p>

          <p>«Остров — это всегда не то, что ты думаешь о нем, находясь на материке. Никто не говорит об острове непочтительно. Люди будут ругать технику, снабжение, родной заповедник, но никто не скажет плохо о погоде. Это больше, чем мы, чем отдельно взятые люди, чем наша система. Это — Остров. Он будет и без нас. Самое большое, что мы можем сделать, — это включиться в этот мир максимально органично. Понять тот ритм, тот пульс, которым он живет», — говорит Геннадий.</p>

          <p class="special-project__text-bold">Покорять здесь ничего не надо. Это одно из самых самодовольных слов, и здесь оно выглядит смешным», — замечает Геннадий</p>

          <p>На дальние расстояния на острове никто не передвигается по одному. Эти правила выработаны годами и являются официальными. Рисковать приходится постоянно. Все-таки Врангель признан родильным домом белых медведей, и животных здесь действительно много. Кроме того, есть еще туманы, пурга, ветер и мороз.</p>

          <p>«Бывает такое, что неделю ты никого не видишь, но я знаю точно, что если со мной что-то случится, ребята будут меня искать до последнего. Самый интересный день был у меня 14 февраля на мысе Уэринг. Нужно было проехать 60 километров. Поднялся ветер, осталось 30 километров пути. Замерз тросик газа, пришлось остановиться. Ведущий снегоход уехал. Я сжег бак бензина, пытался заправить снегоход, но на таком сильном ветру бензина в бак попало мало. Вечер, темно, я в пяти километрах от мыса Уэринг, снегоход не едет. Идти нужно пешком, я взял рацию, фальшфейер, ракетницу, навигатор. До балка я почти бежал. В такие моменты ты не думаешь, насколько опасна и критична ситуация. Как будто у тебя в голове есть план, листок, на котором расписаны твои действия, и ты просто их выполняешь».</p>

        </div>

        <div style="margin-right: auto;margin-left: auto; max-width: 960px; margin-bottom: 40px;margin-top: 60px;">
          <iframe width="960" height="540" src="https://www.youtube.com/embed/MTQImpdDaZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
        </div>

        

         <div class="special-project__text">
           <p>Инспекторы попадают на остров на вертолетах через пролив Лонга, как правило, через город Певек. Сам заповедник может позволить себе три полета вертолетов МИ-8 в год: в марте, сентябре и октябре. С октября по март с островом нет никакого сообщения. Суда приходят в летний период, в начале осени, и большая часть снабжения доставляется на кораблях.</p>

            <p>«Мы часто произносим слово «выживать». Потому что много времени уходит на поддержание быта, содержание кордонов, балков, домиков в пригодном состоянии. В летний период особенно много рутины и ремонта. Нас шесть человек на все работы, — рассказывает Геннадий. — Но нам сильно помогает наследие острова. Те вещи, которые завезли за годы существования поселков, военных частей. Каждый ремонт выглядит таким образом: мы ищем запчасти, стройматериалы из того, что уже есть. Остров учит экономить».</p>

            <p>Все островитяне достаточно суеверны, никто не загадывает, когда доберется из пункта А в пункт Б. Большую часть времени занимают дороги, и все понимают, что случиться может все что угодно: можно потеряться в пурге, сломается снегоход, встретится медведь.</p>

            <p class="special-project__text-bold">Никто здесь не работает ради денег, разве можно измерить те нематериальные вещи, которые ты получаешь на острове? Сколько стоит твое знание о том, что ты действительно можешь, на что способен, кто ты такой? Остров никого не оставит прежним», – говорит Геннадий</p>

            <p>На острове он живет в отдельном доме, сам приводил его в порядок: «Эту зимовку я не заметил. Было очень много работы. Я заселился в дом, который не был жилым несколько лет. И это первый в жизни мой собственный дом, я не воспринимаю его как государственное жилище».</p>

            <p>Немногие остаются в заповеднике на второй контракт, вместе с Геннадием приехали еще два человека, сейчас работает он один.</p>

            <p>«По-настоящему сложная вещь здесь — тяга к тому, что осталось на материке. Приходится выбирать между семьей и работой, — говорит Геннадий. — Люди тут верят в те вещи, о которых говорить на материке смешно. Например, что охранять мышат и зверят кому-то нужно. Мы выполняем задачу, за которую нам не стыдно».</p>
         </div>
          +mediaLinks()
         
      </main>


