extends ../layout/main

block variables
  - var title = 'Hip Hop - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Школа танцев в Тушино для новичков SOVA DANCE приглашает детей и взрослых. Мы находимся не далеко от метро Сходненская, Планерная, Тушинская. Различные танцевальные направления, как групповые, так и индивидуальные. Обучение с нуля по выгодным ценам!';
  - var pageClass = 'main-page';

block content
    <header class="header" id="header">
        <div class="container">
            <div class="direction-page">
                <a href="../napravleniya/index.html">
                    <img src="assets/img/btn-back.png" alt="кнопка перехода на страницу танцевальныйх направлений sovadane" class="btn-back">
                </a>
                <h1>
                    | STRETCHING
                </h1>
                <h2>
                    | Растяжка в Тушино</br></br>
                </h2>
                <p>
                    | &nbsp;&nbsp;&nbsp;&nbsp;Stretching (стретчинг) - это комплекс упражнений, направленных на развитие гибкости мышц всего тела.</br></br>

                    | &nbsp;&nbsp;&nbsp;&nbsp;Растяжка необходима, что бы обеспечить эластичность мышц, ускорить кровообращение,</br> 
                    | дать возможность мышцам получать достаточное количество кислорода.</br></br>
                    
                    | Регулярные занятия стретчингом:</br></br>
                </p>
                <ul>
                    <li>Повышают  гибкость и расширяют диапазон движений суставов и связок.</li>
                    <li>Снимают боль в пояснице и нижней части спины.</li>
                    <li>Улучшают координацию и осанку.</li>
                    <li>Приводят мышцы в тонус.</li>
                    <li>Снимают стресс и укрепляют нервную систему.</li>
                    <li>Способствуют процессу похудения.</li>
                    <li>Нормализуют артериальное давление.</li></br></br>
                </ul>
                <p>        
                    | Программа занятия подходит:</br></br>
                </p>
                <ul>
                    <li>Для взрослых и для подростков.</li>
                    <li>Для начинающих и продолжающих.</li>
                </ul>
                <div class="direction-page__content d-flex">
                    <img src="assets/img/directions/stretching.jpg" alt="растяжка в Тушино sovadance" class="direction-page__img">
                    <div class="direction-page__content-title d-flex">
                        <h3>
                            <u>Преподаватель:</u> </br></br>
                            <u>Возраст:</u> </br></br> 
                            <u>Расписание:</u> </br></br></br>
                            <u>Форма одежды:</u> </br></br></br>
                            <u>Цены:</u>
                        </h3>
                        <p>
                            | Маргарита</br></br>
                            | От 16 лет</br></br>
                            | Ср 20:00 - 21:00</br>
                            | Сб 13:00 - 14:00</br></br>

                           
                            | Тянущаяся одежда,</br>
                            | лосины, кеды</br></br>

                            | 1 занятие - 800р.</br>
                            | 4 занятия - 2400р.</br>
                            | 8 занятий - 4000р.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
