extends ../layout/main

block variables
  - var title = 'Stretching - Школа танцев в Тушино SOVA DANCE';
  - var description = 'Студия растяжки для взрослых в Тушино приглашает на занятия в группу Stretching. Сесть на шпагат и улучшить тонус мышц легко при регулярных занятиях у метро Сходненская.';
  - var pageClass = 'stretching-page';

block content
  <header class="header" id="header">
    <div class="container">
      <div class="direction-page">
        <a href="directions-page.html">
          <img src="assets/img/btn-back.webp" alt="кнопка перехода на страницу танцевальных направлений sovadane" class="btn-back">
        </a>
        <h1>
          | STRETCHING
        </h1>
        <h2>
          | Растяжка в Тушино</br></br>
        </h2>
        <p>
          | Занятия растяжкой для взрослых около метро Планерная и Сходненская – это прекрасная возможность провести время с пользой недалеко от дома. Наша студия стретчинга в Тушино предлагает эффективную и безопасную методику статической и динамической растяжки без боли, </br> в мини группах.</br></br></br>

        </p>
        h3.small-title Как проходит занятие?</br></br>
        <ul>
          li Разминка </br> Перед тренировкой нужно обязательно разогреть связки, чтобы подготовить тело к основной нагрузке и избежать растяжений. </br> </br>
          li Основная часть </br>Под пристальным вниманием сертифицированного тренера, совершаем комплекс упражнений, направленный на развитие гибкости и эластичности мышц всего тела. Особое внимание уделяется мышцам спины, а так же продольному и поперечному шпагату. </br></br>
          li Заминка</br>В конце занятия выполняются спокойные и плавные движения для восстановления дыхания и пульса, снятия физического и эмоционального возбуждения. </br></br>
        </ul></br>
          h3.small-title  Что нужно, чтобы начать? </br></br>
        <p>        
          | Предварительная подготовка не требуется. Чтобы начать заниматься, нужно только записаться на занятие в студию растяжки Тушино. Обучение проводится "с нуля", с самых базовых упражнений, которые доступны абсолютно всем. Главный приоритет школы танцев в Тушино Sova Dance – разбудить скрытые способности вашего тела, о которых вы раньше даже и не знали!</br></br></br>
        </p>
        h3.small-title  Зачем нужны занятия растяжкой?</br></br>
        p Стретчинг не только повышает общую гибкость тела, но также убирает боль в спине и улучшает осанку. Помимо этого, регулярные занятия приводят мышцы в тонус, чем способствуют процессу похудения и омоложения. Немаловажным фактом является положительное влияние растяжки на нервную систему, так как занятия отлично снимают стресс и повышают настроение.</br></br></br>

        h3.small-title  Сколько времени нужно, чтобы сесть на шпагат?</br></br>
        p Приблизительно 3 месяца постоянных занятий. Но в любом случае, шпагат - это превышение физиологической нормы тазобедренного сустава, поэтому все индивидуально и зависит от следующих факторов:</br></br>

        <ul>
          li сидели ли вы на шпагате ранее
          li ваш возраст 
          li генетическая предрасположенность к растяжению связок
          li регулярность тренировок
          li строение тазобедренного сустава 
          li желание 
        </ul>

        <div class="direction-page__content d-flex">
          <img src="assets/img/directions/stretching.webp" alt="растяжка в Тушино sovadance" class="direction-page__img">
          <div class="direction-page__content-title d-flex">
            <h3>
              u Преподаватель: </br></br>
              u Возраст: </br></br>
              u Расписание: </br></br></br>
              u Форма одежды: </br></br></br>
              u Цены:
            </h3>
            <p>
              | Маргарита</br></br>
              | От 16 лет</br></br>
              | Ср 20:00 - 21:00</br>
              | Сб 14:00 - 15:00</br></br>

              | Тянущаяся одежда,</br>
              | и кроссовки или плотные носки.</br></br>

              | 1 занятие - 800р.</br>
              | 4 занятия - 2700р.</br>
              | 8 занятий - 4300р.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
