extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "temporary-project-page";


block content
      <main class="news temporary-project">
        <div class="adv-banner">
          <div class="adv-banner__wrapper">
            <h1>COVID-19</h1>
            <p>Главное о короновирусе на Чукотке</p>
          </div>
        </div>
        <div class="news-wrapper">

          <div class="news-content">
            <div class="news-content__first">
              <div class="news-content__first-item">
                <img src="assets/img/333.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/499.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/55.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/88.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/123.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/445.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/8888.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/466.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/477.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__first-item">
                <img src="assets/img/557.jpg" alt="картинка">
                <div>
                  <span>20:58 30.04.2020</span>
                  <a href="#">В аэропорту Анадыря изменят процедуру осмотра прилетающих пассажиров</a>
                  <p>Для ускорения обслуживания планируется открыть второй вход в зал прилёта</p>
                </div>
              </div>
              <div class="news-content__link">Показать еще</div>
              <div class="news-content__list">
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">..</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="news-content-second">
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
            </div>
          </div>
          
        </div>
      </main>
