extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "useful-links-page";


block content
      <main class="news">
        <div class="news-wrapper">
          <div class="news-container">
            <h1>Полезные ссылки</h1>
          </div>
          <div class="news-content">
            <div class="useful-link__main">
              <div class="useful-link__main-wrap">
                <div class="useful-link__main-container">
                  <p>Органы власти</p>
                  <ul>
                    li #[+linkMarkIcon()] #[a(href="#") Правительство Чукотского АО]
                    li #[+linkMarkIcon()] #[a(href="#") Госдума Чукотского АО]
                    li #[+linkMarkIcon()] #[a(href="#") Городской округ Анадырь]
                    li #[+linkMarkIcon()] #[a(href="#") Городской округ Певек]
                    li #[+linkMarkIcon()] #[a(href="#") Билибинский муниципальный]
                    li #[+linkMarkIcon()] #[a(href="#") Анадырский муниципальный район]
                    li #[+linkMarkIcon()] #[a(href="#") Провиденский городской округ]
                    li #[+linkMarkIcon()] #[a(href="#") Чукотский муниципальный район]
                    li #[+linkMarkIcon()] #[a(href="#") Городской округ Эгвекинот]
                  </ul>
                </div>
                <div class="useful-link__main-container">
                  <p>Ведомства и организации</p>
                  <ul>
                    li #[+linkMarkIcon()] #[a(href="#") Фонд развития экономики и прямых инвестиций Чукотского АО]
                    li #[+linkMarkIcon()] #[a(href="#") Чукотская окружная больница]
                    li #[+linkMarkIcon()] #[a(href="#") Главное управление МЧС России по Чукотскому АО]
                    li #[+linkMarkIcon()] #[a(href="#") «ЧукотАвиа»]
                    li #[+linkMarkIcon()] #[a(href="#") Авиатранспортное агентство Чукотки]
                    li #[+linkMarkIcon()] #[a(href="#") Ассоциация коренных малочисленных народов Чукотки]
                    li #[+linkMarkIcon()] #[a(href="#") Госдума Чукотского АО]
                    li #[+linkMarkIcon()] #[a(href="#") Международный аэропорт Анадырь «Угольный»]
                    li #[+linkMarkIcon()] #[a(href="#") ФКП «Аэропорты Чукотки»]
                  </ul>
                </div>
                <div class="useful-link__main-container">
                  <p>Информационно-познавательные сайты</p>
                  <ul>
                    li #[+linkMarkIcon()] #[a(href="#") Чукотка - мир настоящих людей]
                    li #[+linkMarkIcon()] #[a(href="#") Музейный центр «Наследие Чукотки»]
                    li #[+linkMarkIcon()] #[a(href="#") Информационный сайт Анадыря]
                    li #[+linkMarkIcon()] #[a(href="#") Государственный природный заповедник «Остров Врангеля»]
                    li #[+linkMarkIcon()] #[a(href="#") Национальный парк «Берингия»]
                    li #[+linkMarkIcon()] #[a(href="#") Информационный сайт Анадыря]
                  </ul>
                </div>
              </div>
            </div>
            <div class="news-content-second">
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
              <div class="news-content__advertisment">
                <a href="#" style="background-image: url(assets/img/tele.jpg);"></a>
              </div>
            </div>
          </div>
          
        </div>
      </main>

