extends ../layout/main

block variables
  - var title = "Chukotka";
  - var description = "Description for Chukotka";
  - var pageClass = "videos-page";

  - var media = ['01', '02', '03', '04', '05', '06', '07', '08']
  - 
    var desc = [
      'На традиционном празднике "Хлебосольные горожане" гостей угощали национальными блюдами',
      'Эскимосы: дружба через океан',
      'Моржи, вдохновение и опыт: профессиональные предпочтения современных чукчей',
      'Эскимосы: дружба через океан',
      '«Вагыргын»: побег с «материка»',
      'Неизвестный из Уэлена',
      'Как чукча немца учил: зачем ученый из Германии объехал русскую Арктику',
      'Жизнь русских матрешек в условиях Крайнего Севера',
      'Воздушный путь через лиман'
    ]
  - var isVideo = true

block content
      main
        .title-container
          h1 Видео 
          +sub-nav()
        .container-without-padding
          section.videos-page__content 

            .content__first-item 
              +mediaItem('00', desc[0], isVideo)(class="media-first-item")
            .content__additional-items 
              each val, id in media 
                +mediaItem(val, desc[id + 1], isVideo)

        .container-without-padding
          +showMore()
          +pagination()






