/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;
$secondFont              : 'Raleway', sans-serif;
// 'Raleway', sans-serif;
// Size
$mainFontColor           : #333333;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$primary-color           : #293D66;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;


/*
   px to vw convertor
*/

$vw-viewport1440: 1440;
$vw-enable: true;
@function get-vw1440($font) {
  @if $vw-enable {
    $vw-context: $vw-viewport1440 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
  }
@return $font;
}