body {
    font-family: 'Roboto+mono', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
    /* &nbsp */
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}
ul, li, p {
    display: block;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex; 
    display: flex;
}
.section {
    padding-top: 157px;
    padding-bottom: 129px;
}
.header {
    padding-top: 40px;
    padding-bottom: 50px;
    background: rgba(255,221,0,1);
    background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,133,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ff850a', GradientType=1 );

}
.container {
    width: 1140px;
    margin: 0 auto;
}
.wow {
    visibility: hidden;
}

a.btnPopUp {
    color: #e8d5e4;
    border-radius: 50px;
    background: #ff5cde;
    padding: 17px;
    text-transform: uppercase;
    font-size: 15px;  
    box-shadow: 0 3px 19px rgba(0,0,0,0.4);
    border: solid 1px #ff3dd8;
}
a.bubbly-button:hover { /* приступы с кнопкой */
    color: white;
    background: #ff1074;
    transition: all 0.7s ease;
    box-shadow: 0 3px 13px rgba(0,0,0,0.12);
}
.hidden_tabl a {
    width: 200px;
    text-align: center;
}



/* new-page */
.child-title {
    flex-basis: 100%;
}
.Weekdays-tab img {
    /* width: 1100px; */
    max-width: 500px;
}
.weekends-tab img {
    width: 700px;
}
.flex-wrap {
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.direction {
    padding-top: 20px;
}
.direction h2 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

.direction-card {
    background: white;
    width: 220px;
    flex-direction: column;
    margin-bottom: 20px;  
}
.direction-card img {
    width: 220px;
    height: 153px;
}
.direction-card h3 {
    text-align: center;
    padding: 15px 0 7px;
    font-size: 18px;
    text-transform: capitalize;
    color: #423d3d;
 }
.direction-card p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 150%;
}
.card__text--style-pink {
    color: rgba(255,133,10,1);
    font-weight: 700;
    font-size: 16px;
}
.card__text--style-blue {
    color: #37B4E7;
    font-weight: 700;
    font-size: 16px;
}
.card__text--style-red {
    color: #ff1074;
    font-weight: 700;
}
.card__text--style-green {
    color: #19ac06;
    font-weight: 700;
}
.direction-card a {
    text-align: center;
}
.direction-card a:hover {
    color: rgb(78, 78, 78);
    /* box-shadow: 0 0 10px rgba(0,0,0,0.4); */
    /* background:#F88095; */
    background: rgba(0,0,0,0.15);
    transition: 0.9s
}
.direction-card--btn:hover {
    border: solid 1px #5f5f5f;
    transition: 0.9s
}
.direction-card--btn {
    border: solid 1px #423d3d;
    padding: 10px;
    color: #423d3d;
}

/* .direction h3 {
    text-align: center;
    padding: 15px 0 15px;
    font-size: 20px;
    text-transform: none;
    padding-top: 30px;
    padding-bottom: 30px;
} */
.hidden_tabl {
    justify-content: space-evenly;
}
.hidden_tabl--btn {
    border: solid 1px black;
    padding: 10px;
    width: 200px;
    text-align: center;
    color:black;
}



.btn-back {
    display: block;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: 60px;

    animation: go-left-right 3s forwards;
    -webkit-animation: go-left-right 3s forwards;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

    opacity: 0; 
    transition: 1s; 
    
    animation: show 3s 1;
    animation-fill-mode: forwards; 
    animation-delay: 1.5s; 
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
    from {
        left: 0px;             
        }
        to {
            left: 85px; 
        }
}
@-webkit-keyframes go-left-right {
    from {
        left: 0px;
    }
    to {
        left: 85px; 
    }
}
/* new-page */






/* AboutUs */

/* Gallery */

/* OurTrainers */

/* trainers-card */

/* ACHIVMENTS */

/* REVIEW */

/* Contacts */
/* Widgets */
#vk_groups {
    margin-top: 20px;
}
.section-contacts {
    /* color: white;
    background: url(../img/per111ya.jpg) no-repeat center top / cover; */
    background: #e6e6e6;
    /* background: #e6e6e6; */
    /* padding-bottom: 100px; */
    padding-top: 70px;
    position: relative;
}
.contacts-ad h2 {
    padding-bottom: 40px;
    text-align: center;
    color: #423d3d;
    /* text-transform: none; */
    font-size: 24px;
}
.contacts-inf h2 {
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: #423d3d;
}
.contacts-inf h3 {
    text-transform: none;
    font-weight: 400;
    padding-bottom: 15px;
    color: #423d3d;
}
.contacts-inf h4 {
    text-transform: none;
    font-weight: 400;
    color: #423d3d;
}
.contacts-ad__btn {
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.contact-btn {
    width: 290px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contacts-inf {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    /* margin-left: 250px;  */
    margin-left: 20px;
}
.contacts-inf__widgets {
    margin-right: 40px;
}
.contacts-inf__link {
    padding-bottom: 40px;
    width: 350px;
    margin-left: 40px;
}
.contacts-inf__img {
    width: 500px;
}
.inst-logo {
    width: 70px;
}
.vk-logo {
    width: 70px;
}
.contact-inf__border {
    border: 1px solid #ff0081;
    width: 70%;
    margin: auto;
}
.map {
    height: 500px;
    width: 100%; 
    margin-top: 50px;
}
/* map js */
.mapLogo {
    width: 30px;
    height: 30px;
    /* vertical-align: middle; */
}
.mapTitle {
    color: #000;  
}
/* ----- */
.contact-card {
    justify-content: space-evenly;
    display: block;
    position: absolute;

    left: 60px;
    bottom: 45px;


    z-index: 1;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;

}
.contact-cadr__img {
    height: 250px;
    width: 400px;
}
.contact-card__inf {
    padding: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.contact-card__title h3 {
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
.contact-card__title h4 {
    /* color: #33302d; */
    font-weight: 400;
    text-transform: capitalize;
    font-size: 23px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-card__title h5 {
    /* color: #33302d; */
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-cadr__logo {
    height: 70px;
    width: 70px;
    padding-right: 20px;
}

.btn-way {
    position: absolute;  
    /* float: right; */
    bottom: 45px;
    right: 200px;
    cursor: pointer;
}
.how-to-way  {
    padding: 10px;
}
.how-to-way h2 {
    padding-bottom: 20px;
    text-transform: none;
}









/* fof-js trainers card */
.slide-up { 
    margin-top: -300px;
    height: 300px;
}
.card-text__visible {
    visibility: visible!important;
    -webkit-animation: 2s orbita;   
}
@-webkit-keyframes orbita {
    0% { transform: translate(0px,50px) rotate(0deg) ; opacity: 0;  }
    100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}

/* slider */
.slide {
    color: white;
    background: #000;
    padding-bottom: 200px;
    height: 383px;
}
.trainer1 {
    height: 300px;
    width: 205px;
}
.trainer2 {
    height: 300px;
    width: 205px;
}
.trainer-card {
    height: 300px;
    width: 205px; 
}
.ourTrainers__photos {
    display: flex!important;
}





/* popUp */
.box-modal {
    background: white;

}
.contact-popup {
    padding: 60px;
}
.contact-popup h4 {
    text-transform: none;
    font-size: 17px;
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact-popup__tile-agree {
}
.contact-popup__tile-agree a {
    color: black;
    padding-left: 5px;
}
.contact-popup__btn {
    margin-top: 20px;
    background: wheat;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

/* adaption for EDGE */
@supports (-ms-ime-align:auto) { 
    .contacts-ad__btn {
        justify-content: space-around!important;
    }
    .hidden_tabl {
        justify-content: space-around!important;
    }
    .flex-wrap {
        justify-content: space-around!important;
    }
    .main-btn:after {
        display: none;
    }
    .contact-card__title h3 {
        text-decoration: none;
        color: black;
    }
}
/* adaptio for IE */
_:-ms-fullscreen, :root .contacts-ad__btn  { 
    justify-content: space-around;
    padding-bottom: 50px;
} 
_:-ms-fullscreen, :root .flex-wrap, .hidden_tabl  { 
    justify-content: space-around;

} 

/* adaption */





@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .contact-card {
        display: none;
    }
    .direction h2 {
        display: none;
    }
    .btn-back {
        display: none;
    }
    .direction {
        padding-top: 85px;
    }
    .hidden_tabl {
        padding-bottom: 30px;
    }
    .Weekdays-tab img {
        /* width: 900px; */
    }
    .weekends-tab img {
        width: 600px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu__aboutus, .menu__gallery, .menu__trainers {
        display: none!important;
    }
    .contacts-ad h2 {
        font-size: 22px;
    }
    .contact-btn{
        width: 250px;
        font-size: 14px;
    }
    .btn-way {
        right: 100px;
    }
    .Weekdays-tab img {
        /* width: 700px; */
    }
    .weekends-tab img {
        width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .direction {
        padding-top: 100px;
    }

    .hidden_tabl a {
        width: 150px;
    }

    .contacts-ad h2 {
        font-size: 20px;
    }
    .contact-btn{
        width: 200px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .contacts-inf {
        flex-direction: column-reverse;
        margin: 0;
    }
    .contacts-inf__link {
        margin: 0;
        text-align: center;
    }
    .contacts-inf__widgets {
        margin: 0;
    }
    .btn-way {
        right: 85px;
    }
    .Weekdays-tab img {
        width: 530px;
    }
    .weekends-tab img {
        width: 450px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;    
    }
    .hidden_tabl a {
        width: 120px;
        font-size: 14px;
        padding: 10px;
    }
    /* contacts */
    .section-contacts {
        padding-top: 45px;
    }
    .contacts-ad h2 {
        font-size: 16px;
    }
    .contacts-ad__btn {
        justify-content: space-evenly;
    }
    .contact-btn {
        width: 120px;
        font-size: 14px;
        padding: 10px;
    }
    .contacts-inf__link {
        width: auto;
    }
    .contacts-inf {
        padding-bottom: 30px;

    }
    .contacts-inf h3 {
        font-size: 16px;
    }
    .contacts-inf {
    }
    .map {
        margin-top: 30px;
        height: 400px;
    }
    .btn-way {
        display: none;
    }
    .Weekdays-tab img {
        width: 300px;
    }
    .weekends-tab img {
        width: 250px;
    }
}

