body {
    font-family: $mainFont;
    padding: 0;
    margin: 0;
    color: black;
    /* &nbsp */
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}
ul, li, p {
    display: block;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex; 
    display: flex;
}
.section {
    padding-top: 157px;
    padding-bottom: 129px;
}
.header {
    padding-top: 40px;
    padding-bottom: 50px;
    background: rgba(255,221,0,1);
    background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,133,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ff850a', GradientType=1 );

}
.container {
    width: 1140px;
    margin: 0 auto;
}
.direction_page_container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.wow {
    visibility: hidden;
}

a.btnPopUp {
    color: #e8d5e4;
    border-radius: 50px;
    background: #ff5cde;
    padding: 17px;
    text-transform: uppercase;
    font-size: 15px;  
    box-shadow: 0 3px 19px rgba(0,0,0,0.4);
    border: solid 1px #ff3dd8;
}
a.bubbly-button:hover { /* приступы с кнопкой */
    color: white;
    background: #ff1074;
    transition: all 0.7s ease;
    box-shadow: 0 3px 13px rgba(0,0,0,0.12);
}
.hidden_tabl a {
    width: 200px;
    text-align: center;
}



/* new-page */
.child-title {
    flex-basis: 100%;
}
.adult-title {
    padding-top: 70px!important;
}
.Weekdays-tab img {
    /* width: 1100px; */
    max-width: 500px;
}
.weekends-tab img {
    width: 700px;
}
.flex-wrap {
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.direction {
    padding-top: 20px;
}
.direction h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 28px;
}

.direction-card {
    border-radius: 6px;
    overflow: auto;
    background: rgb(255, 233, 182);
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;  
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    &:hover {
        transform: scale(1.1);
    }
}
.direction-card img {
    max-width: 300px;
}
.direction-card h3 {
    text-align: center;
    padding: 15px 0 7px;
    font-size: 18px;
    text-transform: capitalize;
    color: #423d3d;
 }
.direction-card p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 150%;
}
.card__text--style-pink {
    color: rgba(255,133,10,1);
    font-weight: 700;
    font-size: 16px;
}
.card__text--style-blue {
    color: #37B4E7;
    font-weight: 700;
    font-size: 16px;
}
.card__text--style-red {
    color: #ff1074;
    font-weight: 700;
}
.card__text--style-green {
    color: #19ac06;
    font-weight: 700;
}
.direction-card a {
    text-align: center;
}
.direction-card--btn {
    cursor: pointer;
    border: none;
    border-top: 2px solid rgb(225, 157, 0);
    padding: 10px;
    color: #423d3d;
    background: transparent;
    color: rgb(206, 144, 0);
    font-size: 16px;
    height: 50px;
    padding-bottom: 15px;
}

.hidden_tabl {
    justify-content: space-evenly;
}
.hidden_tabl--btn {
    border: solid 1px black;
    padding: 10px;
    width: 200px;
    text-align: center;
    color:black;
}



.btn-back {
    display: block;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: 60px;

    animation: go-left-right 3s forwards;
    -webkit-animation: go-left-right 3s forwards;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

    opacity: 0; 
    transition: 1s; 
    
    animation: show 3s 1;
    animation-fill-mode: forwards; 
    animation-delay: 1.5s; 
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
    from {
        left: 0px;             
        }
        to {
            left: 85px; 
        }
}
@-webkit-keyframes go-left-right {
    from {
        left: 0px;
    }
    to {
        left: 85px; 
    }
}
/* new-page */






/* AboutUs */

/* Gallery */

/* OurTrainers */

/* trainers-card */

/* ACHIVMENTS */

/* REVIEW */

/* fof-js trainers card */
.slide-up { 
    margin-top: -300px;
    height: 300px;
}
.card-text__visible {
    visibility: visible!important;
    -webkit-animation: 2s orbita;   
}
@-webkit-keyframes orbita {
    0% { transform: translate(0px,50px) rotate(0deg) ; opacity: 0;  }
    100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}

/* slider */
.slide {
    color: white;
    background: #000;
    padding-bottom: 200px;
    height: 383px;
}
.trainer1 {
    height: 300px;
    width: 205px;
}
.trainer2 {
    height: 300px;
    width: 205px;
}
.trainer-card {
    height: 300px;
    width: 205px; 
}
.ourTrainers__photos {
    display: flex!important;
}





/* popUp */
.box-modal {
    background: white;

}
.contact-popup {
    padding: 60px;
}
.contact-popup h4 {
    text-transform: none;
    font-size: 17px;
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact-popup__tile-agree {
}
.contact-popup__tile-agree a {
    color: black;
    padding-left: 5px;
}
.contact-popup__btn {
    margin-top: 20px;
    background: wheat;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

/* adaption for EDGE */
@supports (-ms-ime-align:auto) { 
    .contacts-ad__btn {
        justify-content: space-around!important;
    }
    .hidden_tabl {
        justify-content: space-around!important;
    }
    .flex-wrap {
        justify-content: space-around!important;
    }
    .main-btn:after {
        display: none;
    }
}
/* adaptio for IE */
_:-ms-fullscreen, :root .contacts-ad__btn  { 
    justify-content: space-around;
    padding-bottom: 50px;
} 
_:-ms-fullscreen, :root .flex-wrap, .hidden_tabl  { 
    justify-content: space-around;

} 

/* adaption */





@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .contact-card {
        display: none;
    }
    .direction h2 {
        display: none;
    }
    .btn-back {
        display: none;
    }
    .direction {
        padding-top: 85px;
    }
    .hidden_tabl {
        padding-bottom: 30px;
    }
    .Weekdays-tab img {
        /* width: 900px; */
    }
    .weekends-tab img {
        width: 600px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu__aboutus, .menu__gallery, .menu__trainers {
        display: none!important;
    }
    .Weekdays-tab img {
        /* width: 700px; */
    }
    .weekends-tab img {
        width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .direction {
        padding-top: 100px;
    }

    .hidden_tabl a {
        width: 150px;
    }
    .Weekdays-tab img {
        width: 530px;
    }
    .weekends-tab img {
        width: 450px;
    }
}
@media screen and (max-width: 576px) {

    .direction-card {
        margin-bottom: 30px;
        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        width: 90%;    
    }
    .hidden_tabl a {
        width: 280px;
        font-size: 14px;
        padding: 10px;
        margin-bottom: -20px;
    }
    .Weekdays-tab img {
        width: 300px;
    }
    .weekends-tab img {
        width: 250px;
    }
}

