body {
    font-family: 'Roboto+mono', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}
ul, li, p {
    display: block;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex; 
    display: flex;
}
.header {
    padding-top: 40px;
    padding-bottom: 50px;
    background: rgba(255,221,0,1);
    background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,133,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ff850a', GradientType=1 );
}
.container {
    width: 1140px;
    margin: 0 auto;
}
a.bubbly-button:hover { 
    color: white;
    background: #ff1074;
    transition: all 0.7s ease;
    box-shadow: 0 3px 13px rgba(0,0,0,0.12);
}
/* new-page */
.direction-page {
    padding-top: 15px;
    margin: 0 auto;
}
.direction-page h1 {
    padding-bottom: 10px;
    text-align: center;
    color: #4e3716;
    text-transform: none;
}
.direction-page h2 {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
    text-transform: none;
    color: #4e3716;
}
.direction-page h3 {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
    text-transform: none;
    color: #4e3716;
}
.direction-page  {
    padding-bottom: 30px;
}
.direction-page p {
    padding-left: 34px;
    color: #5e4017;
    font-weight: 600;
}
.direction-page li {
    margin-left: 70px;
    color: #5e4017;
    font-weight: 600;
    list-style-type: disc;
    display: list-item;
}
.red {
    color: red; 
}
.strong {
    font-weight: 900;
}
.direction-page__content {
    padding-top: 60px;
    justify-content: space-around;
}
.direction-page__img {
    height: 370px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.direction-page__content-title {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.05);
    padding: 15px;
}
.direction-page__content-title h3 {
    font-size: 16px;
    text-align: right;
    text-transform: none;
    font-weight: 600;
    padding-right: 10px;
    color: black;
}
.direction-page__content-title p {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
}
/* BTN-BACK */
.btn-back {
    display: block;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: 80px;

    animation: go-left-right 3s forwards;
    -webkit-animation: go-left-right 3s forwards;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

    opacity: 0; 
    transition: 1s; 
    
    animation: show 3s 1;
    animation-fill-mode: forwards; 
    animation-delay: 1.5s; 
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
    from {
        left: 0px;             
        }
        to {
            left: 170px; 
        }
}
@-webkit-keyframes go-left-right {
    from {
        left: 0px;
    }
    to {
        left: 170px; 
    }
}
/* new-page */


/* adaption for EDGE */
@supports (-ms-ime-align:auto) { 
    .contacts-ad__btn {
        justify-content: space-around!important;
    }
    .main-btn:after {
        display: none;
    }
    .contact-card__title h3 {
        text-decoration: none;
        color: black;
    }
}
/* adaptio for IE */
_:-ms-fullscreen, :root .contacts-ad__btn  { 
    justify-content: space-around;
    padding-bottom: 50px;
} 
_:-ms-fullscreen, :root .flex-wrap  { 
    justify-content: space-around;

} 

/* adaption */

@media screen and (max-width: 1199px) {
    .container {
        width: 980px;
    }
    .contact-card {
        display: none;
    }



}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu__aboutus, .menu__gallery, .menu__trainers {
        display: none!important;
    }
    .direction-page h1 {
        padding-top: 60px;
    }
    .direction-page__content {
        flex-direction: column; 
    }
    .btn-back {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .direction-page h1 {
        padding-top: 85px;
    }
    .direction-page__img {
    height: 300px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;    
    }
    .direction-page__content-title h3 {
        font-size: 14px;
    }
    .direction-page p {
        padding-left: 0px;
    }
    .direction-page__content-title p {
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    .direction-page__content-title h3 {
        font-size: 12px;
    }
    .direction-page__content-title p {
        font-size: 12px;
    }
}

