.legal-information-page {
  main {
    // display: flex;
    .title-container {
      & > h1 {
        color: #000000;

        & > span {
          color: $primary-color;
        }
      }
    }
    
    .container {
      padding: 0px 0px 50px 147px;

      .legal-information__content {
        display: flex;
        .content__rules {
          padding-right: 50px;
          padding-top: 40px;

          & > h2 {
            font-size: 20px;
            line-height: 140%;
            color: #000000;
            padding-bottom: 10px;
          }
          & > p {
            font-size: 16px;
            line-height: 19px;
            color: #2e2e33;
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}
