body {
    // font-family: 'Roboto', sans-serif;
    font-family: $mainFont;
    padding: 0;
    margin: 0;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}
ul, li, p {
    display: block;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex; 
    display: flex;
}
.section {
    padding-top: 157px;
    padding-bottom: 129px;
}
.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(255,221,0,1);
    background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,133,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ff850a', GradientType=1 );

}
/* parallax */
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

/* header */
.headContent {
    color:black;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 80px;
}
.headContent__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headContent__title h1 {
    // font-family: $secondFont;
    // // font-family: 'Raleway', sans-serif;
    // text-shadow: 1px 1px 2px black, 0 0 1em #ff560b;
    // font-size: 55px;
    // line-height: 97%; /* местрочный интервал*/
}
.headContent__border {
    width: 200px;
    border-top: 2px solid black;
    margin-left: auto;  /*черта по центру*/
    margin-right: auto; /*черта по центру*/
}
.headContent__new-address {
    // margin-top: 10px!important;
    margin-top: 30px;
     & > a {
        color: #5c5c5c;

        &:hover {
            color: #ff1074;
            transition: all 0.2s linear;
        }
    }
}
.headContent__title p, h1 {
    max-width: 400px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 0 3px 19px rgba(0,0,0,0.16);
}

.picturesSova {
    width: 650px;
}
a.bubbly-button:hover { 
    color: white;
    background: #ff1074;
    transition: all 0.7s ease;
    box-shadow: 0 3px 13px rgba(0,0,0,0.12);
}
/* AboutUs */
.section-aboutUs {
    padding-bottom: 60px;
    padding-top: 100px;
}
.aboutUs {
 position: relative;
}
.aboutUs__first-block {
    justify-content: space-evenly;
    padding-bottom: 70px;
}
.aboutUs__first-block img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-width: 550px;
    height: auto;
}
.aboutUs__first-block_content h2 {
    margin-bottom: 20px;
}
.aboutUs__first-block_content h3 {
    margin-bottom: 20px;
    text-transform: none;
}
.aboutUs__first-block_content p {
    margin-bottom: 20px;
}
.aboutUs__second-block {
    justify-content: space-evenly;
    align-items: center;
}
.fit {
    object-fit: cover;  
}
.aboutUs__second-block img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 350px;
}
.aboutUs__second-block_content {
    text-align: right;
}
.aboutUs__second-block h2 {
    text-transform: none;
    margin-bottom: 20px;
}
.aboutUs__second-block h3 {
    text-transform: none;
    margin-bottom: 20px;
    padding-top: 70px;
}
/* Gallery */
.section-gllery {
    /* background: url(assets/img/mainPage/perya.jpg) no-repeat center top / cover; */
    /* background: url(../../img/mainPage/perya.jpg) no-repeat center top / cover; */
    padding-bottom: 100px;
    padding-top: 70px;
}
.section-gllery h2 {
    padding-bottom: 55px;
}
.gallery img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.gallery__photo {
    height: 900px;
}
.gallery__photo-secondStrip {
    justify-content: space-around;
    align-items: center;
}
.gallery__photo-firstStrip {
    justify-content: space-between;
    padding-bottom: 30px;
}
.gallery__photo-firstStrip img{
    height: 250px;
}
.gallery__photo-secondStrip img{
    height: 250px;
    margin-bottom: 30px;
}
.gallery__photo-thirdStrip img{
    height: 260px;
}
.gallery__photo-secondStrip img.photo4 {
    height: 250px;
}
.gallery__photo-thirdStrip img.photo5 {
    margin-right: 30px;
}
.gallery__title {
    margin-left: 35px;
    height: 450px;
    background: rgba(0,0,0,0.05);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.gallery__title h3 {
    padding-bottom: 30px;
}
.gallery__title p {
    font-weight: 500;
    font-size: 17px;
}
/* OurTrainers */
.section-ourTrainers {
    background: black;
    padding-bottom: 0px;
    padding-top: 100px;
}
.ourTrainrs__border--orange {
    width: 80px;
    border-top: 2px solid #ff0081;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ourTrainrs__border--white {
    width: 220px;
    border-top: 2px solid white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ourTrainers__title h2 {
    color:white;
    padding-bottom: 10px;
}
.ourTrainers__photos-pageOne {
    height: 300px;
    justify-content: space-around;
}
.ourTrainers__photos-pageOne img {
    min-height: 300px;
}
.ourTrainers__photos-pageTwo {
    height: 300px;
    justify-content: flex-start;
}
.ourTrainers__photos-pageTwo img {
    height: 300px;
}
.cards-pageTwo {
    /* padding-right: 40px;
    padding-left: 40px; */
}
.trainers-link {
    color: white;
    /* user-select: none; */
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.trainers-link:hover {
    color: #ff0081;
}
/* trainers-card */
.trainer-card {
    flex-direction: column;   
}
.trainer-card h3 {
    color:white;
    font-weight: 200;
    font-size: 14px;
    text-transform: none;
    padding-top: 5px;
    padding-left: 5px;
}
.trainer-card p {
    color:white;
    font-weight: 200;
    font-size: 12px;
    text-transform: none;
    padding-top: 20px;
    visibility: hidden;
}
.trainer-card__shadow1 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow2 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow3 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow4 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow5 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow6 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
.trainer-card__shadow7 {
    width: 195px;
    height: 50px;
    margin-top: -54px;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: 0.5s ease;
}
/* VIDEO */
.section-video {
    background: #000;
    padding-top: 0px;
    padding-bottom: 30px;
}
.video {
    display:block;
    margin: 0 auto;
    width: 760px;
    height: 360px;
}
/* ACHIVMENTS */
.section-achievements {
    background: #e6e6e6;
    padding-bottom: 70px;
    padding-top: 70px;
}
.section-achievements h2 {
    text-align: center;
    color: #423d3d;
    padding-bottom: 70px;
}
.achievements {
    justify-content: space-evenly;
}
.achievements__trainers, .achievements__direction, .achievements__experience, .achievements__love {
    flex-direction: column;
}
.achievements img {
    height: 120px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.achievements p {
    color: #423d3d;
    text-align: center;
    font-weight: 700;
}
/* REVIEW */
.section-review {
    background: black;
    padding-bottom: 10px;
    padding-top: 100px;
}
.review-title {
    color:white;
    padding-bottom: 50px;
    text-align: center;  
}
.review__first p {
    text-align: center; 
}
.review__first img {
    margin: 0 auto;
    width: 110px;
    padding-bottom: 30px;
}
.review__second p {
    text-align: center; 
}
.review__second img {
    margin: 0 auto;
    width: 110px;
    padding-bottom: 30px;
}
.review__third p {
    text-align: center; 
}
.review__third img {
    margin: 0 auto;
    width: 110px;
    padding-bottom: 30px;
}
/* video */
.video {
    display: none;
}
/* fof-js trainers card */
.slide-up { 
    margin-top: -300px;
    height: 300px;
}
.card-text__visible {
    visibility: visible!important;
    -webkit-animation: 2s orbita;   
}
@-webkit-keyframes orbita {
    0% { transform: translate(0px,50px) rotate(0deg) ; opacity: 0;  }
    100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
/* slider */
.slide {
    color: white;
    background: #000;
    padding-bottom: 200px;
    height: 383px;
}
.trainer-card {
    height: 300px;
    width: 205px; 
    overflow: hidden;
}
.ourTrainers__photos-pageOne {
    display: flex!important;
}
.ourTrainers__photos-pageTwo {
    display: flex!important;
}
/* animation */
.wow {
    visibility: hidden;
}
/* adaption for EDGE */
@supports (-ms-ime-align:auto) { 
    .contacts-ad__btn {
        justify-content: space-around!important;
    }
    .achievements {
        justify-content: space-around!important;
    }
    .aboutUs__first-block {
        justify-content: space-around!important;
    }
    .aboutUs__second-block {
        justify-content: space-around!important;
    }
    .main-btn:after {
        display: none;
    }
}
/* adaptio for IE */
_:-ms-fullscreen, :root .contacts-ad__btn  { 
    justify-content: space-around;
    padding-bottom: 50px;
} 
_:-ms-fullscreen, :root .aboutUs__first-block, .aboutUs__second-block, .achievements  { 
    justify-content: space-around;
} 
_:-ms-fullscreen, :root .wcm_button_ic {
    display: none;
}
/* adaption */
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .contact-card {
        display: none;
    }
    .aboutUs__first-block img {
        max-width: 490px;
    }
    .aboutUs__second-block img {
        margin-left: 15px;
    }
    .hide-on-1024 {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu__aboutus, .menu__gallery, .menu__trainers {
        display: none!important;
    }
    .headContent__title h1 {
        // font-size: 36px; 
    }
    .headContent__title p {
        font-size: 18px;
    }
    .picturesSova {
        width: 350px;
    }
    .header {
        padding-bottom: 60px; 
    }
    /* Aboutus */
    .aboutUs__first-block img {
        max-width: 350px;
        margin-right: 15px;
    }
    .aboutUs__first-block_content h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .aboutUs__first-block_content h3 {
        font-size: 18px;
    }
    .aboutUs__second-block h2 {
        font-size: 18px;
    }
    .aboutUs__second-block h3 {
        font-size: 18px;
        padding-top: 20px;
    }
    .aboutUs__second-block img {
        height: 250px;
        margin-left: 15px;
    }
    /* gallery */
    .section-gllery h2 {
        padding-left: 40px;
    }
    .gallery__title {
        display: none;
    }
    .gallery {
        margin: 0 auto;
        width: 635px;
    }
    /* video */
    .video {
        width: 700px;
    }
    /* trainers */
    .section-ourTrainers {
        display: none;
    }
    /* .ourTrainers__photos-pageOne {
        justify-content: space-between; 
    }
    .ourTrainers__photos-pageTwo {
        justify-content: space-between; 
    }
    .ourTrainers__photos-pageOne img {
       width: 150px;
       height: 225px;
    }
    .ourTrainers__photos-pageTwo img {
        width: 150px;
        height: 225px;
    }
    .trainer-card {
        width: 150px;
        height: 225px;
        margin-right: 2px;
        margin-left: 2px;
    }
    .trainer-card p {
        font-size: 10px;
    }
    .slide-up {
        margin-top: -225px;
        height: 225px; 
    }
    .slick-prev, .slick-next {
        display: none!important;
    }
    .trainer-card__shadow2 {
        width: 150px;
    }
    .trainer-card__shadow3 {
        width: 150px;
    } */
    /* achieve */
    .section-achievements {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-achievements h2 {
        padding-bottom: 35px;
    }
    .achievements img {
        height: 90px;
    }
    /* review */
    .section-review {
        padding-top: 50px;
        padding-bottom: 0px;
    }

}
@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }

    .headContent__title h1 {
        // font-size: 28px; 
    }
    .headContent {
        margin-top: 140px;
    }
    .headContent__title p {
        font-size: 14px;
    }
    .picturesSova {
        width: 280px;
    }
    /* aboutUs */
    .section-aboutUs {
        padding-bottom: 0px;
    }
    .aboutUs__first-block {
        padding-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }
    .aboutUs__first-block img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: center;
    }
    .aboutUs__second-block img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: center;
        height: auto;
    }
    .aboutUs__first-block_content {
        text-align: center;
    }
    .aboutUs__first-block_content h2 {
        padding-top: 20px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .aboutUs__first-block_content h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .aboutUs__first-block_content p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .aboutUs__second-block {
        flex-direction: column;
    }
    .aboutUs__second-block_content {
        padding-bottom: 60px;
        padding-top: 20px;
        order: 1;
        text-align: center;
    }
    /* Galley */
    .section-gllery {
        display: none;
        padding-bottom: 70px;
        padding-top: 55px;
    }
    .gallery {
        width: 535px;
    }
    .gallery__photo {
        height: 720px;
    }
    .gallery__photo-firstStrip img {
        height: 200px;
    }
    .gallery__photo-secondStrip img {
        height: 200px;
    }
    .photo4 {
        margin-left: 30px;
    }
    .gallery__photo-thirdStrip img {
        height: 200px;
    }
    .gallery__photo-thirdStrip {
        justify-content: space-evenly;
    }
    /* video */
    .video {
        width: 500px;
    }
    /* achieve */
    .section-achievements h2 {
        font-size: 18px;
    }
    .achievements p {
        font-size: 14px;
    }
    .achievements img {
        height: 80px;
    }
    /* reciew */
    .review-title h2 {
        font-size: 18px;
    }
    .section-review p {
        font-size: 16px;
    }
    .section-review img {
        height: 70px;
        width: 70px;
    }
    .slide {
        padding-bottom: 0px;
        height: 330px;
    }


}
@media screen and (max-width: 576px) {
    .container {
        width: 85%;    
    }
        .headContent {
            flex-direction: column-reverse;
            margin-top: 80px!important;
        }
        .headContent__title p, h1 {
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .headContent__btn {
            justify-content: space-evenly;
        }
        .header {
            padding-bottom: 40px;
        }
        .picturesSova {
            width: 270px;
        }
        .headContent__title h1 {
            margin-bottom: 15px;
            text-align: center;
            font-size: 18px;
        }
        .headContent__title p {
            font-size: 14px;
            text-align: center;
        }
        .headContent__title a.bubbly-button {
            /* font-size: 10px; */
            font-weight: 700;
            width: 250px;
            font-size: 14px;
            padding: 15px;
        }
    .section-aboutUs {
        padding-bottom: 15px;
        padding-top: 50px;
    }
    .aboutUs__first-block {
        flex-direction: column;
        justify-content: center;
    }
    .aboutUs__first-block img {
        width: 320px;
        margin-bottom: 20px;
    }
    .aboutUs__second-block img {
        width: 320px;
    }
    .aboutUs__first-block_content {
        text-align: center;
    }
    .aboutUs__first-block_content h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .aboutUs__first-block_content h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .aboutUs__first-block_content p {
        font-size: 11px;
        margin-bottom: 10px;
    }
        .gallery {
            width: 267px!important;
        }
        .section-gllery h2 {
            text-align: center;
            font-size: 16px;
            padding-bottom: 30px;
            padding-left: 0;
        }
        .section-gllery {
            padding-top: 10px;
            padding-bottom: 60px;
        }
        .gallery__photo {
            height: auto!important;
            margin: 0 auto;
        }
        .gallery__photo-firstStrip {
            justify-content: space-between;
            // justify-content: flex-start;
        }
        .gallery__photo-thirdStrip {
            justify-content: space-evenly;
        }
        .gallery__photo-secondStrip {
            justify-content: space-evenly;
        }
        .gallery__photo-firstStrip img.photo1 {
            height: 100px;
            margin-right: 15px;
        }
        .gallery__photo-firstStrip img.photo2 {
            height: 100px;
        }
        .gallery__photo-secondStrip img.photo3 {
            height: 100px;
        }
        .gallery__photo-secondStrip img.photo4 {
            height: 100px;
            margin-right: 10px;
        }

        .gallery__photo-thirdStrip img.photo5 {
            height: 100px;
            margin-right: 15px;
        }
        .gallery__photo-thirdStrip img.photo6 {
            height: 100px;
        }

    .video {
        width: 280px;
        height: 200px;
    }   
    .section-achievements {
        padding-bottom: 25px;
        padding-top: 20px;
    }
    .section-achievements h2 {
        font-size: 14px;
        padding-bottom: 26px;
    }
    .achievements p {
        font-size: 8px!important;
    }
    .achievements img {
        height: 40px!important;
    }
        .review-title h2 {
            font-size: 18px;
        }
        .section-review {
            padding-top: 27px;
        }
        .section-review img {
            width: 50px;
            height: 50px;
        }
        .section-review p {
            font-size: 10px!important;
        }
        .review-title {
            padding-bottom: 30px;
        }
        .slide {
            padding-bottom: 0px!important;
            height: 240px!important;
        }
        .slick-next:before, .slick-prev:before {
            display: none
        }
    .forDesktop {
        display: none;
    }

}
