.photo-album-page {
  .container-text {
    .page-description-data {
      display: flex;
      padding-bottom: 20px;
      padding-top: 42px;

      & > a {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 500;
        color: #3d4c99;
        margin-right: 20px;
      }
      & > p {
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        text-transform: uppercase;
        color: #999999;
      }
    }

    & > h1 {
      padding-bottom: 40px;
      font-weight: normal;
      font-size: 30px;
      line-height: 120%;
      color: #333333;
    }
  }
  .container {
    padding-bottom: 40px;

    .album-desc {
      max-width: 860px;
      margin: 0 auto;
    }
    .album-desc__players {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 130%;
      color: #666666;
    }
    .album-desc__general {
      font-size: 13px;
      line-height: 130%;
      color: #999999;
    }
    & > p {
    }
  }
  .container-text {
    & > p {
      font-size: 17px;
      line-height: 25px;
      color: #333333;
      padding-bottom: 17px;
    }
    .tags-list {
      padding-top: 23px;
      margin-bottom: 99px;
    }
  }
}
