.photos-page {
  .title-container {
    & > h1 {
      color: #333333;
      padding-bottom: 20px;
    }
  }
  .container-without-padding {
    .photos-page__content {
      .content__first-item {
        .media-item {
          .media-item__preview {
            display: flex;
            justify-content: flex-end;
          }

          .media-item__info {
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(10px);
            left: 20px;
            max-width: 430px;
            top: 20px;
            height: calc(100% - 38px);
            width: 100%;

            .media-item__data {
              color: #999999;
              left: 40px;
              position: relative;
              top: 35%;
            }
            .media-item__desc {
              color: #333333;
              left: 40px;
              position: relative;
              font-size: 24px;
              line-height: 120%;
              top: 30%;
              font-weight: 500;
              max-width: 320px;
            }
          }
        }
      }
      .content__additional-items {
        display: flex;
        flex-wrap: wrap;

        .media-item {
          width: calc(100% / 2);
        }
      }
    }
  }
}
