.search-page {
  .title-container {
    & > h1 {
      color: #000000;

      & > span {
        color: $primary-color;
      }
    }
  }
  .container {
    .search-page__content {
      & > h2 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #dfdfe6;
          bottom: -10px;
          left: 0;
          max-width: 460px;
        }
      }
    }
  }
}
