body {
    font-family: 'Roboto+mono', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
}
ul, li, p {
    display: block;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; 
    display: -o-flex; 
    display: flex;
}
.section {
    padding-top: 157px;
    padding-bottom: 129px;
}
.header {
    padding-top: 40px;
    padding-bottom: 50px;
    background: rgba(255,221,0,1);
    background: -moz-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,221,0,1)), color-stop(100%, rgba(255,133,10,1)));
    background: -webkit-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    background: linear-gradient(to right, rgba(255,221,0,1) 0%, rgba(255,133,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#ff850a', GradientType=1 );
}
.container {
    width: 1140px;
    margin: 0 auto;
}

a.btnPopUp {
    color: #e8d5e4;
    border-radius: 50px;
    background: #ff5cde;
    padding: 17px;
    text-transform: uppercase;
    font-size: 15px;  
    box-shadow: 0 3px 19px rgba(0,0,0,0.4);
    border: solid 1px #ff3dd8;
}
a.bubbly-button:hover { /* приступы с кнопкой */
    color: white;
    background: #ff1074;
    transition: all 0.7s ease;
    box-shadow: 0 3px 13px rgba(0,0,0,0.12);
}
/* new-page */
/* Widgets */
#vk_groups {
    margin-top: 20px;
}
.service-title {
    text-align: center;
    padding-top: 30px;
    text-transform: none;
}
.flex-wrap {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.service-card {
    background: white;
    /* background:rgba(0,0,0,0.1); */
    width: 300px;
    flex-direction: column;  
    align-content: space-between;
    margin-bottom: 30px;
}
.service-card img {
    width: 300px;
    height: 183px;
}
.service-card h2 {
   text-align: center;
   padding: 15px 10px 10px 10px;
   font-size: 16px;
   text-transform: none;
}
.service-card p {
    text-align: center;
    padding: 15px 10px 20px 10px;
    font-size: 15px;
    line-height: 150%;
}
.service-card a {
    text-align: center;
}
.service-card--btn {
    cursor: pointer;
    border: solid 1px #423d3d;
    padding: 10px;
    color: #423d3d;
}
.service-card--btn:hover {
    border: solid 1px #5f5f5f;
    transition: 0.9s
}
.service-card--btn:hover {
    color: rgb(78, 78, 78);
    /* box-shadow: 0 0 10px rgba(0,0,0,0.4); */
    /* background:#F88095; */
    background: rgba(0,0,0,0.15);
    transition: 0.9s
}
.box-modal-servise {
	position: relative;
	padding: 35px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px;
}
.popUp__servise h3 {
    text-transform: none;
    padding: 20px 0px 20px;
}
.popUp__servise p {
    padding-bottom: 40px;
}
.popUp__servise img {
    display: block;
    height: 450px;
    margin: 0 auto;
}
.btn-back {
    display: block;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: 80px;
    animation: go-left-right 3s forwards;
    -webkit-animation: go-left-right 3s forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0; 
    transition: 1s; 
    animation: show 3s 1;
    animation-fill-mode: forwards; 
    animation-delay: 1.5s; 
}
@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
    from {
        left: 0px;             
        }
        to {
            left:150px; 
        }
}
@-webkit-keyframes go-left-right {
    from {
        left: 0px;
    }
    to {
        left: 150px; 
    }
}
/* new-page */
/* Contacts */
.section-contacts {
    background: #e6e6e6;
    padding-top: 70px;
    position: relative;
}
.contacts-ad h2 {
    padding-bottom: 40px;
    text-align: center;
    color: #423d3d;
    font-size: 24px;
}
.contacts-inf h2 {
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: #423d3d;
}
.contacts-inf h3 {
    text-transform: none;
    font-weight: 400;
    padding-bottom: 15px;
    color: #423d3d;
}
.contacts-inf h4 {
    text-transform: none;
    font-weight: 400;
    color: #423d3d;
}
.contacts-ad__btn {
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.contact-btn {
    width: 290px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contacts-inf {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-left: 20px;
}
.contacts-inf__widgets {
    margin-right: 40px;
}
.contacts-inf__link {
    padding-bottom: 40px;
    width: 350px;
    margin-left: 40px;
}
.contacts-inf__img {
    width: 500px;
}
.inst-logo {
    width: 70px;
}
.vk-logo {
    width: 70px;
}
.contact-inf__border {
    border: 1px solid #ff0081;
    width: 70%;
    margin: auto;
}
.map {
    height: 500px;
    width: 100%; 
    margin-top: 50px;
}
/* map js */
.mapLogo {
    width: 30px;
    height: 30px;
}
.mapTitle {
    color: #000;  
}
.contact-card {
    justify-content: space-evenly;
    display: block;
    position: absolute;
    left: 60px;
    bottom: 45px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
}
.contact-cadr__img {
    height: 250px;
    width: 400px;
}
.contact-card__inf {
    padding: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.contact-card__title h3 {
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
.contact-card__title h4 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 23px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-card__title h5 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    padding-top: 5px;
    font-family: 'Roboto Mono', monospace;
}
.contact-cadr__logo {
    height: 70px;
    width: 70px;
    padding-right: 20px;
}
.btn-way {
    position: absolute;  
    bottom: 45px;
    right: 200px;
    cursor: pointer;
}
.how-to-way  {
    padding: 10px;
}
.how-to-way h2 {
    padding-bottom: 20px;
    text-transform: none;
}
/* fof-js trainers card */
.slide-up { 
    margin-top: -300px;
    height: 300px;
}
.card-text__visible {
    visibility: visible!important;
    -webkit-animation: 2s orbita;   
}
@-webkit-keyframes orbita {
    0% { transform: translate(0px,50px) rotate(0deg) ; opacity: 0;  }
    100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
/* slider */
.slide {
    color: white;
    background: #000;
    padding-bottom: 200px;
    height: 383px;
}
.trainer1 {
    height: 300px;
    width: 205px;
}
.trainer2 {
    height: 300px;
    width: 205px;
}
.trainer-card {
    height: 300px;
    width: 205px; 
}
.ourTrainers__photos {
    display: flex!important;
}
/* popUp */
.box-modal {
    background: white;
}
.contact-popup {
    padding: 60px;
}
.contact-popup h4 {
    text-transform: none;
    font-size: 17px;
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact-popup__tile-agree a {
    color: black;
    padding-left: 5px;
}
.contact-popup__btn {
    margin-top: 20px;
    background: wheat;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}
/* box-modal */
.img--group {
    max-width: 500px;
}
/* animation */
.wow {
    visibility: hidden;
}
/* adaption for EDGE */
@supports (-ms-ime-align:auto) { 
    .contacts-ad__btn {
        justify-content: space-around!important;
    }
    .flex-wrap {
        justify-content: space-around!important;
    }
    .main-btn:after {
        display: none;
    }
    .contact-card__title h3 {
        text-decoration: none;
        color: black;
    }
}
/* adaptio for IE */
_:-ms-fullscreen, :root .contacts-ad__btn  { 
    justify-content: space-around;
    padding-bottom: 50px;
} 
_:-ms-fullscreen, :root .flex-wrap  { 
    justify-content: space-around;

} 
/* adaption */
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .contact-card {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .gallery {
        flex-direction: column;
    }
    .menu__aboutus, .menu__gallery, .menu__trainers {
        display: none!important;
    }
    .btn-back {
        display: none;
    }
    .card-indiv h2 {
        padding-top: 35px!important;
    }
    .card-indiv p {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .service-title {
        padding-top: 80px;
    }
    .contacts-ad h2 {
        font-size: 22px;
    }
    .contact-btn{
        width: 250px;
        font-size: 14px;
    }
    .btn-way {
        right: 100px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .logo-first {
        width: 150px;
    }
    li.nav {
    padding-left: 20px;
    }
    .nav {
    align-items: flex-end;   
    }
    .menu__direction {
        width: 120px;
    }
    .service-title {
        padding-top: 100px;
    }
    .img--group {
        width: 520px;
    }
    .img--indiv {
        height: 300px!important;
    }
    .img--corp {
        height: 300px!important;
    }
    .img--zal {
        height: 300px!important;
    }
    .contacts-ad h2 {
        font-size: 20px;
    }
    .contact-btn{
        width: 200px;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    .contacts-inf {
        flex-direction: column-reverse;
        margin: 0;
    }
    .contacts-inf__link {
        margin: 0;
        text-align: center;
    }
    .contacts-inf__widgets {
        margin: 0;
    }
    .btn-way {
        right: 85px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;    
    }
    .nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    #container {
        justify-content: space-evenly; 
        padding-bottom: 15px;
        align-items: center; 
        align-items: center;
    }
    .nav__prise {
        word-spacing: 0px;
    }
    .menu__direction {
        width: auto;
    }
    .menu {
        padding-top: 20px;
    }
    .logo-first {
        width: 100px;
        padding-top: 15px;
    }
    li.nav {
        padding-bottom: 3px;
    }
    .nav {
        font-size: 12px;
    }
    nav.navScroll a {
        font-size: 10px;
    }
    img.logoScroll {
        width: 80px;
    }
    .service-title {
        font-size: 22px;
        padding-top: 70px;
        padding-bottom: 0px;
    }
    .header {
        padding-bottom: 20px;
    }
    .box-modal-servise {
        padding: 10px;
    }
    .arcticmodal-container_i2 {
        padding: 8px;
    }
    .img--group {
        width: 300px;
    }
    .img--indiv {
        height: 180px!important;
    }
    .img--wedding {
        height: 285px!important;
    }
    .img--corp {
        height: 200px!important;
    }
    .img--zal {
        height: 200px!important;
    }
    /* contacts */
    .section-contacts {
        padding-top: 45px;
    }
    .contacts-ad h2 {
        font-size: 16px;
    }
    .contacts-ad__btn {
        justify-content: space-evenly;
    }
    .contact-btn {
        width: 120px;
        font-size: 14px;
        padding: 10px;
    }
    .contacts-inf__link {
        width: auto;
    }
    .contacts-inf {
        padding-bottom: 30px;
    }
    .contacts-inf h3 {
        font-size: 16px;
    }
    .contacts-inf {
    }
    .map {
        margin-top: 30px;
        height: 400px;
    }
    .btn-way {
        display: none;
    }
}

